@(pd: dtos.ProductDetail,imgsNum: Integer)

@import common.utils.DateUtils
@import common.utils.JsonUtils._
@import org.apache.commons.lang3.StringUtils._
@main(pd.getSeo)() {
    <script src="@routes.Assets.versioned("js/FormValidate.js")"></script>
    <script src="@routes.Assets.versioned("js/login-reg.js")"></script>
    <script src="@routes.Assets.versioned("js/jquery.scrollTo.js")"></script>
    <script src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>
    <script src="@routes.Assets.versioned("js/tpl.js")"></script>
    <script src="@routes.Assets.versioned("js/jquery.fly.min.js")"></script>
    <!--[if lte IE 9]>
    <script src="@routes.Assets.versioned("js/requestAnimationFrame.js")"></script>
    <![endif]-->
    <script type="text/template" id="demo">
    <#
        for(var i=0; i<result.length; i++) {
            echo(
            '<div class="comment-item">'+
            '<div class="comment-title">'+
            '<p><span class="user">'+result[i].userName+'</span>发表于 <span class="comment-time">'+result[i].updateDate+'</span></p>'+
            '</div>'+
            '<div class="comment-content clearfix">'+
            '<div class="comment-detail">'+result[i].content+'</div></div></div>'
            );
        }
    #>
    </script>
    <script type="text/javascript">

    var skuMap = @Html(object2Json(pd.getSkuMap));

    var defaultSku = "@Html(pd.getDefaultSku.getSkuPropertiesInDb)";

    var productOnline = @pd.getProduct.isOnline;

    var inExhibition = @pd.isInExhibition;

    var productId = @pd.getProduct.getId;

    </script>
    <script src="@routes.Assets.versioned("js/details.js")"></script>
} {

    <div class="detail width1200" id="detail">
        <div class="detail-inner clearfix">
            <div class="left">
                <div class="bread-nav">
                    <ul class="clearfix">
                        <li><a href="@routes.Application.index()">首页</a></li>
                        <li>&gt;</li>
                        @if(pd.getProduct.getCustomer.getIsDelete || !pd.getProduct.getCustomer.getIsPublished) {
                            <li>设计师品牌：@pd.getProduct.getCustomer.getName</li>
                        } else {
                            <li><a href="@routes.Application.designerProd(pd.getProduct.getCustomer.getId)">设计师品牌：@pd.getProduct.getCustomer.getName</a></li>
                        }
                        <li>&gt;</li>
                        <li>@pd.getProduct.getName </li>
                    </ul>
                </div>
                <div class="info">
                    <h2>@pd.getProduct.getName </h2>
                    <h3>设计师：@pd.getProduct.getCustomer.getName </h3>
                    <p>@pd.getProduct.getDescription </p>
                </div>
                <div class="video">
                    @if(isNotBlank(pd.getProduct.getVideo)) {
                        <embed wmode="transparent" src="@Html(pd.getProduct.getVideo)" allowFullScreen="true" quality="high" width="803" height="536" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
                    } else {
                        @if(pd.getProductPicture != null && isNotBlank(pd.getProductPicture.getPictureUrl)) {
                            <img class="lazy" width="803" height="536" src="@pd.getProductPicture.getPictureUrl" alt="@pd.getProduct.getName"/>
                        } else {
                            <img width="803" height="536" src="@routes.Assets.versioned("images/detail/1.jpg")" alt="@pd.getProduct.getName"/>
                        }
                    }
                </div>
                <div class="img-list">
                    <div class="open-detail" id="openDetail">
                        <p>点击查看详情 <span class="ico"></span></p>
                    </div>

                    <div class="container">
                        @if(pd.getSpecList.size > 0){
                            <div class="product-info">
                                <h3>产品说明 Product Description <span class="icon iconfont arc">&#xe612;</span></h3>
                                <table class="product-info-table">
                                @for((spec,index) <- pd.getSpecList.zipWithIndex) {
                                    @if(index%2== 0){
                                        <tr class="clearfix">
                                    }
                                    <td><div style="width: 80px; float:left;">@spec.getName：</div><div style="width: 250px;float:left;line-height: 22px;">@spec.getValue</div></td>
                                    @if(index%2 != 0){
                                        </tr>
                                    }
                                }
                                </table>
                            </div>
                        }
                        <div class="img-con">
                            @if(pd.getHtmlList.nonEmpty) {
                                @if(null != pd.getHtmlList.get(0).getContent && !"".equals(pd.getHtmlList.get(0).getContent)){
                                    @Html(pd.getHtmlList.get(0).getContent.replaceAll("<img.*?src=\"(.*?)\".*?>", "<img class='lazy' data-original='$1' src='/assets/images/grey.gif' style='display:block;' />").replaceFirst("<img.*?data-original='(.*?)'.*?>","<img src='$1' />"))
                                }else{
                                    @Html(pd.getHtmlList.get(0).getContent)
                                }
                            }
                        </div>

                            <!--搭配-->
                        @if(pd.getMatchProductList != null && pd.getMatchProductList.size > 0) {
                            <div class="Collocation" id="Collocation">
                                @if(pd.getMatchProductList.size == 1) {
                                    <h3 class="first">
                                    } else {
                                    <h3>
                                    }
                                同系列推荐 Similar Recommendation<span class="icon iconfont arc">&#xe612;</span></h3>
                                @if(pd.getMatchProductList.size >= 3) {
                                    <p class="collocation-text">
                                    @Html(pd.getProduct.getRecommendDesc)
                                    </p>
                                }
                                <ul class="clearfix collacation-list">
                                @for((product,index) <- pd.getMatchProductList.zipWithIndex) {
                                    @if(index < 3) {
                                        @if(pd.getMatchProductList.size == 1) {
                                            <li class="first">
                                            }
                                        @if(pd.getMatchProductList.size == 2) {
                                            <li class="second">
                                            }
                                        @if(pd.getMatchProductList.size > 2) {
                                            @if(index == 2) {
                                                <li class="last">
                                                } else {
                                                <li>
                                                }
                                        }
                                        <a href="/product/@product.getId" target="_blank"><img  class="lazy"  data-original="@product.getMainPic" src="@routes.Assets.versioned("images/grey.gif")" alt="" width="240" height="392"/></a>
                                        <h4 title="@product.getName">@product.getName</h4>
                                        <a href="/product/@product.getId"  class="pro-btn" target="_blank">SHOP SHOW</a>
                                    </li>
                                    }
                                }
                                </ul>
                            </div>
                        }
                            <!--结束 套餐配套 -->

                        <div class="comment-con">
                            <div class="comment-header">
                                <ul class="clearfix">
                                    <li class="current first" data-id="全部评价">全部评价(@pd.getAllValuationCount)</li>
                                    <li class="" data-id="好评">好评(@pd.getGoodValuationCount)</li>
                                    <li class="" data-id="中评">中评(@pd.getNormalValuationCount)</li>
                                    <li class="" data-id="差评">差评(@pd.getBadValuationCount)</li>
                                </ul>
                            </div>
                            <div class="comment-list">

                            </div>
                        </div>
                        <div class="comment-page">

                        </div>
                        <div class="hide-detail" id="hideDetail">
                            <p>隐藏商品详情 <span class="ico"></span></p>
                        </div>
                    </div>

                </div>
            </div>
            <div id="right-fixed" class="right" >
                <div class="debut-img">
                    <img class="lazy" src="@routes.Assets.versioned("images/debut/"+imgsNum+".jpg")" width="373" height="226" alt="全球首发"/>
                </div>
            <div id="debut-box">
                <div class="debut-info clearfix">
                    @if(pd.isInExhibition) {
                        <div class="debut-info-left">
                            <p>首发价：￥<span class="start-price" id="start-price">@pd.getDefaultSku.getPrice </span></p>
                            <p class="debut-time"><i class="icon iconfont">&#xe605;</i><span class="time-text">还剩<span class="time-detail" value="@DateUtils.printDateTime(pd.getExhibitionEndTime)">@DateUtils.printDateTime(pd.getExhibitionEndTime)</span><span class="over-text">结束</span></span></p>
                        </div>
                        <div class="debut-info-right">
                            <p>售卖价:￥<span class="market-price"  id="market-price">@pd.getDefaultSku.getMarketPrice</span><i class="iconfont">&#xe610;</i>
                                <span class="info-tip">首发期间的商品采用首发价，每天都有设计师首发哦！</span></p>
                        </div>
                    } else {
                        <div class="debut-info-left">
                            <p>售卖价：￥<span class="start-price" id="start-price">@pd.getDefaultSku.getMarketPrice</span></p>
                        </div>
                        <div class="debut-info-right">
                            <p>首发价:￥<span class="market-price" id="market-price">@pd.getDefaultSku.getPrice </span><i class="iconfont">&#xe610;</i>
                                <span class="info-tip">首发期间的商品采用首发价，每天都有设计师首发哦！</span></p>
                        </div>
                    }
                </div>
                @if(pd.getSkuCandidateList.nonEmpty) {
                    <div class="detail-size-color" id="choose-sku">
                    @if(pd.getDesignerSize != null){<span class="show-size-btn" id="show-size">尺码小帮手</span>}
                    @for(sc <- pd.getSkuCandidateList) {
                        <dl class="clearfix">
                            <dt>@sc.getSkuProp.getValue：</dt>
                            @for(sv <- sc.getSkuValueList) {
                                <dd class="sku" data="@sv.getPidvid">@sv.getValue</dd>
                            }
                        </dl>
                    }
                    </div>
                }
                <div class="detail-quantity">
                    <dt>数　量：</dt>
                    <dd>
                        <div class="amount" id="amount">
                            <a href="javascript:void(0);" class="btn-sub"><span>-</span></a>
                            <input type="text" size="3" maxlength="3" class="text-number" id="buy-number" value="1">
                            <a href="javascript:void(0);" class="btn-add"><span>+</span></a>
                        </div>
                    </dd>
                </div>
                @if(!pd.getProduct.isOnline) {
                    <div class="detail-btn">
                        <span class="btn soldOut">商品已下架</span>
                    </div>
                } else {
                    @if(pd.getDefaultSku.getStockQuantity <= 0) {
                        <div class="detail-btn">
                            <a href="javascript:void(0);" class="btn addToOrder disabled">商品已售罄</a>
                        </div>
                    } else {
                        <div class="detail-btn">
                            <div class="btn-wrap">
                                <span  class="btn addToOrder loading-before" id="addToOrder">立即购买</span>
                                <span  class="btn addToOrder loading-after"><i class="loading-btn"></i>处理中...</span>
                            </div>
                        <a href="javascript:;" class="btn addToCart" id="addToCart">加入购物车</a>
                        </div>
                    }
                }
                <div class="detail-like">
                    <span class="like @if(pd.isFavorites){current}" data-id="@pd.getProduct.getId">
                        <i class="iconfont shi" @if(!pd.isFavorites){style="display: none;"}>&#xe603;</i>
                        <i class="iconfont kong" @if(pd.isFavorites){style="display: none;"}>&#xe602;</i>
                        <span class="like-text">@if(pd.isFavorites){ @pd.getFavoritesNum }else{我喜欢}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>

    @if(pd.getDesignerSize != null){
        <div id="size-detail" style="display: none;">
            <div class="size-detail-inner">
                <div class="size-detail-header">
                    <h4>尺码小帮手 <span class="line">|</span> <span>让穿衣更简单！</span></h4>
                </div>
                <div class="size-detail-table">
                    @Html(pd.getDesignerSize.getContent)
                </div>
                @if(pd.getProduct.getModelInfo != null && !"".eq(pd.getProduct.getModelInfo)){
                    <div class="model-info clearfix" style="width: 100%;">
                        <div style="float: left">模特信息（Models Measurements）：</div>
                        <div style="float: left"><p style="line-height: 25px;">@Html(pd.getProduct.getModelInfo) </p></div>
                    </div>
                }

                <div class="size-detail-tips">
                    <span>温馨提示：</span>
                    <ul>
                    @for(info <- pd.getDesignerSize.getPromptList) {
                        <li>@info</li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    }

    <!--siderbar-->
    <ul class="sider-bar" id="cart">
        <li class="cart" title="购物车"><span  id="cart-quantity-btn"><i class="iconfont">&#xe606;</i></span><span class="quantity" id="cart-quantity">0</span></li>
        <li class="like-product"><a title="喜欢商品" href="@controllers.user.routes.ProductFavoritesController.index()"><i class="iconfont">&#xe602;</i></a></li>
        <li class="like-designer"><a title="喜欢设计师"  href="@controllers.user.routes.DesignerFavoritesController.index()"><i class="iconfont">&#xe601;</i></a></li>
        <li class="fan-kui"><a title="意见反馈"  href="@controllers.help.routes.HelpCenterController.index("feedback")"><i class="iconfont">&#xe614;</i></a></li>
        <li class="go-top" title="返回顶部"><span id="gotoTop"><i class="iconfont">&#xe60b;</i></span></li>
    </ul>
    <!--end sideebar-->
}

