@(designers: List[usercenter.models.Designer], navList: List[productcenter.models.NavigateCategory], pageResult: common.utils.page.Page[productcenter.dtos.ProductInSellList], queryVO: productcenter.dtos.ProductQueryVO, m: String)

    @import productcenter.models.Seo


    @main(new Seo(Messages("title.product"), Messages("seo.description"), Messages("seo.Keywords")))(m) {
        <style>
        .sider-bar { top : 452 px ; }
        </style>
        <script >
        $(function(){

            var $category = $('.designer li:gt(14)');
                $('.more').click(function(){
                      if($category.is(":hidden")){
                            $category.show();
                             $(this).html('收起<span class="pickup"></span>');
                      }else{
                            $category.hide();
                            $(this).html('更多<span></span>');
                      }
                    return false;
                });

                if($('.designer ul .current').index()>14){
                    $('.more').trigger('click');
                }


              //固定购物车
             fixedcart($('#cart'), $('#container'));

             //点击购物车，进入购物车页面
            $('#cart-quantity-btn').click(function () {
                window.location.href = "/cart/showCart";
            });

            //分页确定页面
            var maxPage = $("#maxPage").val(),goPageBtn = $('#go-page'),currentLocation = location.href;

            $(".page-text").on("keydown","#page-number",function(event){
                if(event.keyCode == 13){ goPageBtn.trigger('click')}
            });
            goPageBtn.on('click',function(){
                 var goPageNum = Number($("#page-number").val());

                 if(goPageNum == 0 || isNaN(goPageNum)){
                        goPageNum = 1;
                    }else if(goPageNum >= maxPage){
                        goPageNum = Number(maxPage);
                    }else{
                        goPageNum = Math.floor(goPageNum);
                 }
                 if(/pageNo/.test(currentLocation)){
                    location.href = currentLocation.replace(/pageNo=(\d+)/,"pageNo="+goPageNum);
                 }else{
                    if(/navId=/.test(currentLocation) || /st=/.test(currentLocation)){
                       location.href = currentLocation+"&pageNo="+goPageNum;
                    }else{
                       location.href = currentLocation+"?pageNo="+goPageNum;
                    }
                 }
            });
        });
    </script>


    } {
        <div id="container">
                <!--designer-list-->
            <div class="products-list">
                <div class="products-list-inner width1200">
                    <div class="bread-nav">
                        <ul class="clearfix">
                            <li><a href="@controllers.routes.Application.index()">首页</a></li>
                            <li>&gt;</li>
                            <li><a href="@controllers.product.routes.ProductController.list()">所有商品</a></li>
                            @if(queryVO.getNavigateId != null && queryVO.getNavigateId != -1) {
                                <li>&gt;</li>
                                @for(nav <- navList) {
                                    @if(queryVO.getNavigateId.equals(nav.getId)) {
                                        <li>@nav.getName</li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                        <!-- 产品分类-->

                    <div class="products-category">
                        <div class="more">更多<span></span></div>
                        @if(designers != null) {
                            <div class="products-category-con designer">
                                <div>设计师：</div>
                                <ul class="clearfix">
                                    <li @if(queryVO.getSt == null || queryVO.getSt.equals(-1)) {
                                        class="current" }><a href="@controllers.product.routes.ProductController.list(1, navId = queryVO.getNavigateId, -1, status = queryVO.getSaleStatus, m)">
                                        全部设计师</a></li>
                                    @for((des, index) <- designers.zipWithIndex) {
                                        @if(queryVO.getSt.equals(des.getId)) {
                                            <li class="current" @if(index > 13) {
                                                style="display: none;" }><a href="@controllers.product.routes.ProductController.list(1, queryVO.getNavigateId, des.getId, status = queryVO.getSaleStatus, m)">@des.getName</a></li>
                                        } else {
                                            <li @if(index > 13) {
                                                style="display: none;"} ><a href="@controllers.product.routes.ProductController.list(1, queryVO.getNavigateId, des.getId, status = queryVO.getSaleStatus, m)">@des.getName</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        }

                        @if(navList != null) {
                            <div class="products-category-con">
                                <div>商品分类：</div>
                                <ul class="clearfix">
                                    <li @if(queryVO.getNavigateId == null || queryVO.getNavigateId.equals(-1)) {
                                        class="current" }><a href="@controllers.product.routes.ProductController.list(1, -1, st = queryVO.getSt, status = queryVO.getSaleStatus, m)">
                                        全部分类</a></li>
                                    @for(nav <- navList) {
                                        @if(queryVO.getNavigateId.equals(nav.getId)) {
                                            <li class="current"><a href="@controllers.product.routes.ProductController.list(1, nav.getId, st = queryVO.getSt, status = queryVO.getSaleStatus, m)">@nav.getName</a></li>
                                        } else {
                                            <li><a href="@controllers.product.routes.ProductController.list(1, nav.getId, st = queryVO.getSt, status = queryVO.getSaleStatus, m)">@nav.getName</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        }

                        <div class="products-category-con">
                            <div>产品类型：</div>
                            <ul class="clearfix">
                                <li @if(queryVO.getSaleStatus == null) {
                                    class="current"}><a href="@controllers.product.routes.ProductController.list(1, queryVO.getNavigateId, queryVO.getSt, null, m)">
                                    所有类型</a></li>
                                <li @if(queryVO.getSaleStatus == "PLANSELL") {
                                    class="current"}><a href="@controllers.product.routes.ProductController.list(1, queryVO.getNavigateId, queryVO.getSt, "PLANSELL", m)">
                                    即将开售</a></li>
                                <li @if(queryVO.getSaleStatus == "PRESELL") {
                                    class="current"}>
                                    <a href="@controllers.product.routes.ProductController.list(1, queryVO.getNavigateId, queryVO.getSt, "PRESELL", m)">
                                        预售</a>
                                </li>
                                <li @if(queryVO.getSaleStatus == "FIRSTSELL") {
                                    class="current"}>
                                    <a href="@controllers.product.routes.ProductController.list(1, queryVO.getNavigateId, queryVO.getSt, "FIRSTSELL", m)">
                                        首发</a>
                                </li>
                                <li @if(queryVO.getSaleStatus == "HOTSELL") {
                                    class="current"}>
                                    <a href="@controllers.product.routes.ProductController.list(1, queryVO.getNavigateId, queryVO.getSt, "HOTSELL", m)">
                                        热卖</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    @if(pageResult.getResult != null && pageResult.getTotalCount > 0) {
                        <div class="products-list-body">
                            <ul class="clearfix">
                            @for(prod <- pageResult.getResult) {
                                <li>
                                    <a target="_blank" href="@controllers.product.routes.ProductController.detail(prod.getProduct.getId.toString)">

                                        @if(prod.getDiscount != null) {
                                            <span class="status-selling">@prod.getDiscount.getDiscountTitle</span>
                                        } else {
                                            @if(prod.getStatus.equals("FIRSTSELL")) {
                                                <span class="status-selling">首发</span>
                                            }
                                        }

                                        @if(prod.getStorage <= 0) {
                                            <span class="sold-out">已售完</span>
                                        }
                                    <img class="lazy" data-original="@prod.getMinorPic.getPictureUrl" src="@routes.Assets.versioned("images/grey.gif")" alt="@prod.getProduct.getName" width="283" height="462"/></a>
                                    <h3 class="brand">@prod.getBrandName</h3>
                                    <h3>@prod.getProduct.getName</h3>

                                    @if(prod.getDiscount != null) {
                                        <h4 class="price">
                                            <b>￥@prod.getPrice</b>
                                            <b class="delete-price">￥@prod.getMarketPrice</b>
                                        </h4>
                                    } else {
                                        <h4 class="price">
                                            ￥@prod.getMarketPrice
                                        </h4>
                                    }
                                </li>
                            }
                            </ul>
                        </div>

                            <!-- 分页部分 -->
                        @if(pageResult.getTotalPage > 1) {
                            <div class="products-list-footer">

                                @if(pageResult.getPageNo > 1) {
                                    <a href="@controllers.product.routes.ProductController.list(pageResult.getPageNo - 1, queryVO.getNavigateId, queryVO.getSt, queryVO.getSaleStatus, m)">
                                        上一页</a>
                                } else {
                                    <a class="disabled" href="javascript:void(0);">上一页</a>
                                }

                                <a @if(pageResult.getPageNo == 1) {
                                    class="currentPage"
                                } href="@controllers.product.routes.ProductController.list(1, queryVO.getNavigateId, queryVO.getSt, queryVO.getSaleStatus, m)">
                                    1</a>
                                @if(pageResult.getPageNo >= 5) {
                                    ...
                                }
                                @for(num <- 2 until pageResult.getTotalPage) {
                                    @if((pageResult.getPageNo < 5 && num < 6) || (pageResult.getPageNo > pageResult.getTotalPage - 4 && num > pageResult.getTotalPage - 5) || (num >= pageResult.getPageNo - 2 && num <= pageResult.getPageNo + 2)) {
                                        <a @if(pageResult.getPageNo == num) {
                                            class="currentPage"
                                        } href="@controllers.product.routes.ProductController.list(num, queryVO.getNavigateId, queryVO.getSt, queryVO.getSaleStatus, m)">
                                        @num</a>
                                    }
                                }
                                @if(pageResult.getPageNo < pageResult.getTotalPage - 3 && pageResult.getTotalPage > 6) {
                                    ...
                                }
                                <a @if(pageResult.getPageNo == pageResult.getTotalPage) {
                                    class="currentPage"
                                } href="@controllers.product.routes.ProductController.list(pageResult.getTotalPage, queryVO.getNavigateId, queryVO.getSt, queryVO.getSaleStatus, m)">
                                @pageResult.getTotalPage</a>

                                @if(pageResult.getTotalPage >= pageResult.getPageNo + 1) {
                                    <a href="@controllers.product.routes.ProductController.list(pageResult.getPageNo + 1, queryVO.getNavigateId, queryVO.getSt, queryVO.getSaleStatus, m)">
                                        下一页</a>
                                } else {
                                    <a class="disabled" href="javascript:void(0);">下一页</a>
                                }
                                <input type="hidden" id="maxPage" value="@pageResult.getTotalPage" />
                                <span class="page-text">
                                    到第<input type="text" id="page-number" value="@pageResult.getPageNo"/>
                                    页</span> <span class="go-page" id="go-page">确定</span>
                            </div>
                        }
                    </div>
                } else {

                <div class="mycart-empty">
                    <p style="text-align : center ;"><i class="iconfont" style="padding-right : 8 px ;">&#xe606;</i>
                        没有符合条件的商品</p>
                </div>
            }
            </div>
        </div>
        <!--end order-manage-->

        <!--siderbar-->
        <ul class="sider-bar" id="cart">
            <li class="cart" title="购物车"><span id="cart-quantity-btn"><i class="iconfont">&#xe606;</i></span><span class="quantity" id="cart-quantity">
                0</span></li>
            <li class="like-product"><a title="喜欢商品" href="@controllers.user.routes.ProductFavoritesController.index()"><i class="iconfont">&#xe602;</i></a></li>
            <li class="like-designer"><a title="喜欢设计师" href="@controllers.user.routes.DesignerFavoritesController.index()"><i class="iconfont">&#xe601;</i></a></li>
            <li class="fan-kui"><a title="意见反馈" href="@controllers.help.routes.HelpCenterController.index("feedback")"><i class="iconfont">&#xe614;</i></a></li>
            <li class="go-top" title="返回顶部"><span id="gotoTop"><i class="iconfont">&#xe60b;</i></span></li>
        </ul>
        <!--end sideebar-->
    }