@()

@import productcenter.models.Seo
@main(new Seo(Messages("title.about"),Messages("seo.description"),Messages("seo.Keywords")))("about") {


} {
    <style>
    .about-us-floor1{height: 1160px; position: relative;margin-bottom: 56px;}
    .about-us-floor1 .floor-text{height: 631px;background: #f5f5f5;padding-top: 55px;}
    .about-us-floor1 .floor-text .floor-text-detail{height: 615px;width:618px;margin:0 auto;background: #f5f5f5;border: 15px solid #fff;text-align: center;}
    .about-us-floor1 .floor-text .floor-text-detail h2{font-size: 30px;padding: 48px 0 16px 0;line-height: 30px;font-weight: normal;color: #000;}
    .about-us-floor1 .floor-text .floor-text-detail h3{font-size: 20px;line-height: 20px;padding-bottom: 16px;color: #000;}
    .about-us-floor1 .floor-text .floor-text-detail h4{font-size: 50px;line-height: 50px;padding-bottom: 40px;font-weight: normal;color: #FF2D54;}
    .about-us-floor1 .floor-text .floor-text-detail p,.floor-header p{font-size: 14px;line-height: 33px;}
    .about-us-floor1 .img{width: 985px;height: 554px;margin: 0 auto; position: absolute;top: 605px;left: 108px;}

    .floor-header{position: relative;width: 281px;height: 293px;margin: 0 auto;text-align: center;}
    .floor-header .arc{position: absolute;width: 17px;height: 16px;}
    .floor-header .left-top-arc{border-top: 1px solid #000;border-left: 1px solid #000;left: 0;top: 0;}
    .floor-header .left-bottom-arc{border-bottom: 1px solid #000;border-left: 1px solid #000;left: 0;bottom: 0;}
    .floor-header .right-top-arc{border-top: 1px solid #000;border-right: 1px solid #000;right: 0;top: 0;}
    .floor-header .right-bottom-arc{border-bottom: 1px solid #000;border-right: 1px solid #000;right: 0;bottom: 0;}

    .floor-header h2{padding:50px 0 50px 0;color: #FF2D54;font-size: 24px;}
    .floor-header h2 strong{font-size: 50px;font-weight: normal;line-height: 50px;}

    .floor-header{margin-bottom: 51px;}
    .about-us-floor2,.about-us-floor3,.about-us-floor4{margin-bottom: 65px;}
    .about-us-floor2 ul{height: 442px;overflow: hidden;width: 1250px;}
    .about-us-floor2 li{float: left;width: 389px;height: 442px;margin-right:17px; }
    .about-us-floor2 img{display: block;}

    .about-us-floor3{}
    .about-us-floor3 .img{position: relative;height: 538px;}
    .about-us-floor3 .img .pos{position: absolute;top: 39px;right: 75px;}

    .about-us-floor4 ul{height: 299px;overflow: hidden;width: 1250px;padding: 25px;background: #e6e6e6;}
    .about-us-floor4 li{float: left;width: 376px;height: 299px;margin-right:8px; }
    .about-us-floor4 img{display: block;}
    .about-us-floor4 .info{background: #fff;text-align: center;padding-bottom: 10px;}
    .about-us-floor4 .info p{padding: 8px 0;}
    </style>
    <div class="about-us">
        <div class="about-us-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    <li><a href="@controllers.routes.Application.index()">首页</a></li>
                    <li>&gt;</li>
                    <li>关于我们</li>
                </ul>
            </div>
                <!-- floor1-->
            <div class="about-us-floor1">
                <div class="floor-text">
                    <div class="floor-text-detail">
                        <h2>FASHIONGEEKER</h2>
                        <h3>首家全球独立设计师</h3>
                        <h4>限时首发平台</h4>
                        <p>
                            尚客FASHIONGEEKER <br/>
                            是中国首家全球独立设计师限时首发平台。<br/>
                            我们访遍全球，甄选前沿设计，<br/>
                            100%品牌授权的服装、包袋、鞋履及配饰。<br/>
                            为中国消费者搭建极致的体验平台，<br/>
                            提供国际化的消费选择和全方位增值服务，<br/>
                            让消费者直接感受全球独立设计师的原创精品，<br/>
                            一起探索时尚、感受生活。
                        </p>
                    </div>
                </div>
                <div class="img">
                    <img class="lazy" data-original="@routes.Assets.versioned("images/about-us/floor1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")" width="985" height="554"/>
                </div>
            </div>
                <!--end floor1 -->
                <!-- floor2-->
            <div class="about-us-floor2 floor">
                <div class="floor-header">
                    <div class="left-top-arc arc"></div>
                    <div class="left-bottom-arc arc"></div>
                    <div class="right-top-arc arc"></div>
                    <div class="right-bottom-arc arc"></div>
                    <h2>独立<strong>设计师</strong></h2>
                    <p>
                        我们甄选前沿设计<br/>
                        让您直接感受全球<br/>
                        独立设计师的原创精品
                    </p>
                </div>
                <ul class="clearfix">
                    <li><img class="lazy" data-original="@routes.Assets.versioned("images/about-us/floor2-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")" width="389" height="442"/></li>
                    <li><img class="lazy" data-original="@routes.Assets.versioned("images/about-us/floor2-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")" width="389" height="442"/></li>
                    <li><img class="lazy" data-original="@routes.Assets.versioned("images/about-us/floor2-3.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")" width="389" height="442"/></li>
                </ul>
            </div>
                <!-- end floor2-->
                <!-- floor3 -->
            <div class="about-us-floor3 floor">
                <div class="floor-header">
                    <div class="left-top-arc arc"></div>
                    <div class="left-bottom-arc arc"></div>
                    <div class="right-top-arc arc"></div>
                    <div class="right-bottom-arc arc"></div>
                    <h2>授权<strong>正品</strong></h2>
                    <p>
                        尚客访遍全球独立设计师工作室<br/>
                        品牌均为100%授权
                    </p>
                </div>
                <div class="img">
                    <img class="lazy" data-original="@routes.Assets.versioned("images/about-us/floor3-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")" width="779" height="507"/>
                    <img class="lazy" data-original="@routes.Assets.versioned("images/about-us/floor3-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")" width="375" height="499" class="pos"/>
                </div>
            </div>
                <!-- end floor3-->
                <!-- floor4-->
            <div class="about-us-floor4 floor">
                <div class="floor-header">
                    <div class="left-top-arc arc"></div>
                    <div class="left-bottom-arc arc"></div>
                    <div class="right-top-arc arc"></div>
                    <div class="right-bottom-arc arc"></div>
                    <h2>限时<strong>首发</strong></h2>
                    <p>
                        限量精品，首次在中国亮相<br/>
                        首发专场倒计时
                    </p>
                </div>
                <ul class="clearfix">
                    <li>
                        <img class="lazy" data-original="@routes.Assets.versioned("images/about-us/floor4-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")" width="376" height="232"/>
                        <div class="info">
                            <p><span class="designer">设计师:Syza Zhang 首发专场（新西兰）</span></p>
                            <div class="time">
                                <span class="time-text">
                                    <i class="icon iconfont">&#xe605;</i>
                                    <span class="time-detail" value="2015-09-07 18:00:00">5天0小时2分39秒</span>
                                    <span class="over-text">结束</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img class="lazy" data-original="@routes.Assets.versioned("images/about-us/floor4-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")" width="376" height="232"/>
                        <div class="info">
                            <p><span class="designer">设计师:Lunaria Cashmere首发专场（意大利）</span></p>
                            <div class="time">
                                <span class="time-text">
                                    <i class="icon iconfont">&#xe605;</i>
                                    <span class="time-detail" value="2015-09-07 18:00:00">5天0小时2分39秒</span>
                                    <span class="over-text">结束</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img class="lazy" data-original="@routes.Assets.versioned("images/about-us/floor4-3.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")" width="376" height="232"/>
                        <div class="info">
                            <p><span class="designer">设计师:Kopal 首发专场（美国）</span></p>
                            <div class="time">
                                <span class="time-text">
                                    <i class="icon iconfont">&#xe605;</i>
                                    <span class="time-detail" value="2015-09-07 18:00:00">5天0小时2分39秒</span>
                                    <span class="over-text">结束</span>
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
                <!-- end floor4-->
        </div>
    </div>
}
