@()

@import productcenter.models.Seo
@main(new Seo(Messages("title.about"),Messages("seo.description"),Messages("seo.Keywords")))("about") {


} {
    <div class="about-us">
        <div class="about-us-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    <li><a href="@controllers.routes.Application.index()">首页</a></li>
                    <li>&gt;</li>
                    <li>关于我们</li>
                </ul>
            </div>
            <div class="about-img">
                <img src="@routes.Assets.versioned("images/about-us.jpg")" alt="关于我们"/>
            </div>
            <div class="about-info">
                <div class="about-info-text">
                    <h2>关于尚客</h2>
                    <h3>全球设计师首发集成平台</h3>
                    <p>对时尚的本能和直觉</p>
                    <p> 是我们甄选设计师品牌的核心标准</p>
                    <p>  我们尊重设计的真谛传递时尚的真理</p>
                    <p> 我们愿意为此遍访全球甄选精品设计</p>
                    <p>  总有一款与你无比契合让你一见倾心</p>
                    <p class="line"> 潮流时尚，个性设计就是我们。我们就是尚客。</p>

                    <p>   尚客隶属于三叶草国际贸易（香港）有限公司，</p>
                    <p>  致力于打造最权威的一站式风尚购物：</p>
                    <p>    为中国消费者引荐全球顶尖的独立设计师，</p>
                    <p>   甄选100%品牌授权的服装、鞋包及配饰，</p>
                    <p>  是消费者最值得信赖的风格购物顾问。</p>
                    <p>   尚客让全球顶尖设计与国内消费者直接面对面。</p>
                    <p>  设计师通过尚客向中国消费者传达自己的设计理念和相关设计产品，</p>
                    <p>   提供国际化的潮流信息和消费选择；</p>
                    <p>    消费者通过尚客可以直接感受国际品牌的前沿设计，</p>
                    <p>    更多地接触国际潮流风尚，享受国际品牌的设计定制。</p>
                </div>
            </div>
        </div>
    </div>
}
