@(designerList: List[usercenter.dtos.DesignerView],count:Integer)

@import productcenter.models.Seo;
@main(new Seo(Messages("title.designers"),Messages("seo.description"),Messages("seo.Keywords")))("designer") {
 <script src="@routes.Assets.versioned("js/tpl.js")"></script>
 <script type="text/template" id="demo">
    <# 
        for(var i=0; i<data.length; i++) { 
            echo( 
                '<li class="add"><a target="_blank" href="/designerProd?dId='+data[i].id+'"><img class="designer-img lazy" data-original="'+data[i].mainPic+'" src="'+data[i].mainPic+'" alt="'+data[i].name+'" width="289" height="460" style="display: block;"><div><img src="'+data[i].brandPic+'" alt="" width="289" height="60"><p>设计师：'+data[i].name+'</p></div></a></li>'
             );
        }
    #>

 </script>
<script type='text/javascript'>
$(function(){
        //获取购物车 商品数量
        $.ajax({
            url: '/cart/getUserCartItemNum',
            cache:false,
            success: function (data) {
                if (data.result) {
                    $('#cart-quantity').text(data.data);
                }
            }
        });

            //固定购物车
     fixedcart($('#cart'), $('#container'));

         //点击购物车，进入购物车页面
    $('#cart-quantity-btn').click(function () {
        window.location.href = "/cart/showCart";
    });


     //获取更多设计师

    var winH = $(window).height(); //页面可视区域高度
    var i = 2,b = 0,flag = true;//i设置当前页数 b防止重复请求，flag 结束后防止重复请求

     $(window).scroll(function () {
            var pageH = $(document.body).height();
            var scrollT = $(window).scrollTop(); //滚动条top
            var aa = (pageH-winH-scrollT)/winH;
            if((aa < 0.5) && (i != b) && flag){
                b = i;
               $.ajax({
                    url:'/designers4more?currPage='+i,
                    success:function(response){
                        if(response.data.length != 0){
                           var html =  tpl('#demo', response);
                           $('.designer-list-con ul').append(html).find('.add').hide().fadeIn(500,function(){
                                $('.designer-list-con ul li').removeClass('add');
                           });
                           i++;
                        }else{
                            flag = false;
                        }
                    }
                });
            }
      });









});
</script>
} {
<div id="container">
    <div class="designer-list">
        <div class="designer-list-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    <li><a href="@controllers.routes.Application.index()">首页</a></li>
                    <li>&gt;</li>
                    <li>设计师列表</li>
                </ul>
            </div>
            <div class="top-img">
                <img class="lazy" src="http://imgs.fashiongeeker.com/7/168AC5E9D6804CA899A5D2BCA0CCB584.jpg" alt="设计并不重要，重要的是你自己" width="1200px" height="416px"/>
            </div>
            <div class="designer-list-title">
                <h2>所有设计师</h2>
                <h3>发现与你气味相投的设计师</h3>
            </div>
            <div class="designer-list-con">
                <ul class="clearfix">
                @for((designer,index)<- designerList.zipWithIndex) {
                    <li>
                        <a target="_blank" href="@routes.Application.designerProd(designer.getId)">
                            @if(index<=3){
                                <img class="designer-img"  src="@designer.getMainPic"  alt="@designer.getName" width="289" height="460"/>
                            }else{
                                <img class="designer-img lazy"  data-original="@designer.getMainPic" src="@routes.Assets.versioned("images/grey.gif")"  alt="@designer.getName" width="289" height="460"/>
                            }
                            <div>
                                <img class="lazy" src="@designer.getBrandPic" alt="@designer.getName" width="289" height="60"/>
                                <p>设计师：@designer.getName</p>
                            </div>
                        </a>
                    </li>

                }
                </ul>
            </div>
        </div>
    </div>
</div>
    <!--siderbar-->
    <ul class="sider-bar" id="cart">
        <li class="cart" title="购物车"><span  id="cart-quantity-btn"><i class="iconfont">&#xe606;</i></span><span class="quantity" id="cart-quantity">0</span></li>
        <li class="like-product"><a title="喜欢商品" href="@controllers.user.routes.ProductFavoritesController.index()"><i class="iconfont">&#xe602;</i></a></li>
        <li class="like-designer"><a title="喜欢设计师"  href="@controllers.user.routes.DesignerFavoritesController.index()"><i class="iconfont">&#xe601;</i></a></li>
        <li class="fan-kui"><a title="意见反馈"  href="@controllers.help.routes.HelpCenterController.index("feedback")"><i class="iconfont">&#xe614;</i></a></li>
        <li class="go-top" title="返回顶部"><span id="gotoTop"><i class="iconfont">&#xe60b;</i></span></li>
    </ul>
    <!--end sideebar-->
}
