@(errorMsg: String, designerViews: List[usercenter.dtos.DesignerView])
@import productcenter.models.Seo;

@main(new Seo(Messages("index.title"),Messages("seo.description"),Messages("seo.Keywords")))() {
    <script>
    $(function(){
        $('.empty-box li').hover(function(){
            $(".title", this).stop().animate({top:"367px"},{queue:false,duration:100});
        },function(){
            $(".title", this).stop().animate({top:"437px"},{queue:false,duration:300});
        });
    });
    </script>
} {
    <div class="not-found-404">
        <div class="not-found-inner width1200">
            <img src="@routes.Assets.versioned("images/404.gif")" alt="" width="387" height="150"/>
            @if(designerViews.nonEmpty) {
                <p>哇哦！这个页面消失了，但下面有很多精品推荐。</p>
            }
        </div>

        @if(designerViews.nonEmpty) {
            <div class="designer-list-recom width1200">
                <ul class="clearfix">
                    @for(dv <- designerViews) {
                        <li>
                            <a href="@routes.Application.designerProd(dv.getId)">
                                <img class="designer-img" src="@Html(dv.getMainPic)" alt=""/>
                                <div>
                                    <img src="@Html(dv.getBrandPic)" alt=""/>
                                    <p>设计师：@dv.getName</p>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }

    </div>
}