@()

<div class="footer">
    <div class="footer-inner width1200 clearfix">
        <dl class="about-us">
            <dt>关于我们</dt>
            <dd><a target="_blank" href="@controllers.routes.Application.about()">关于尚客</a></dd>
            <dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("contact")">联系尚客</a></dd>
            @*<dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("joinUs")">join us</a></dd>*@
        </dl>
        <dl class="help">
            <dt>帮助中心</dt>
            <dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("shopping")">购物流程</a></dd>
            <dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("payType")">支付方式</a></dd>
            <dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("deliverInfo")">发货说明</a></dd>
            <dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("service")">售后服务</a></dd>

        </dl>
        <dl class="sevice-center">
            <dt>服务中心</dt>
            <dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("memberClause")">会员条款</a></dd>
            <dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("rightsInfo")">权责说明</a></dd>
            <dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("friendLink")">友情链接</a></dd>
            <dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("feedback")">意见反馈</a></dd>
        </dl>
        <dl class="designer-in">
            <dt>Designer sign up</dt>
            <dd><a target="_blank" href="@controllers.help.routes.HelpCenterController.index("joinUs")">How To Work With Us</a></dd>
            <dd>Email：<span>jennifer@@fashiongeeker.com</span></dd>
            <dd><span>Tel：400-9636-088</span></dd>
            <dd class="social-ico">
                <a href="https://www.facebook.com/pages/FashionGeeker/812868722132688?ref=ts&fref=ts" target="_blank" class="facebook"><i class="iconfont">&#xe60f;</i></a>
                <a href="https://twitter.com/FashionGeeker" target="_blank" class="twitter"><i class="iconfont">&#xe60a;</i></a></dd>
        </dl>
        <div class="code-img">
            <img class="lazy" data-original="@routes.Assets.versioned("images/img-code.gif")" src="@routes.Assets.versioned("images/grey.gif")"  alt="关注我" width="98" height="98"/>
            尚客公众微信
            <a href="http://weibo.com/u/5587981658" target="_blank">尚客公众微博</a>
        </div>

        <p></p>
    </div>
    <p class="copy-right">&copy;2015 fashiongeeker.com All rights reserved 粤ICP备15014624号-3</p>
</div>
