@()

@import usercenter.utils.SessionUtils

<div class="top">
    <div class="top-inner width1200">
        <div class="left"><h1>全球首家独立设计师首发平台</h1></div>
        <div class="right">
            <div class="logined">
                @defining(SessionUtils.currentUser()) {user =>
                    @if(user == null) {
                        <a class="login button" href="@controllers.user.routes.LoginController.loginPage()">登录</a>
                        <a class="signIn button" href="@controllers.user.routes.LoginController.registerPage()">注册</a>
                    } else {
                        <ul class="clearfix">
                            <li>
                                <span>欢迎您,</span> <a class="user-name" href="@controllers.user.routes.MyOrderController.index()" title="@user.getUserName" >@user.getUserName</a>
                            </li>
                            <li>
                                <a href="@controllers.shop.routes.CartController.showCart()" >购物车</a>
                            </li>
                            <li>
                                <a href="@controllers.user.routes.MyOrderController.index()" >我的订单</a>
                            </li>
                            <li class="last-li">
                                <a href="@controllers.user.routes.LoginController.logout()" >退出</a>
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
</div>

