@()

@import usercenter.utils.SessionUtils

<div class="top">
    <div class="top-inner clearfix">
        <div class="left">
            全球独立设计师电商平台
                <a href="https://itunes.apple.com/cn/app/shang-ke/id1048916485?mt=8" target="_blank" id="showApp"><i class="iconfont">&#xe617;</i>尚客iOS客户端  <img id="appImg" src="@routes.Assets.versioned("images/app.png")" alt="" width="125" height="125" style="display: none"/></a>

        </div>
        <div class="right">
            <div class="logined">
                @defining(SessionUtils.tryLoadUser()) {user =>
                    @if(user == null) {
                        <a class="button login" href="@controllers.user.routes.LoginController.loginPage()">登录</a>
                        <a class="button signIn" href="@controllers.user.routes.LoginController.registerPage()">注册</a>
                    } else {
                        <ul class="clearfix">
                            <li>
                                <span>欢迎您，</span> <a class="user-name" href="@controllers.user.routes.MyOrderController.index()" title="@user.getUserName" >@user.getUserName</a>
                            </li>
                            <li>
                                <a href="@controllers.shop.routes.CartController.showCart()" >购物车</a>
                            </li>
                            <li>
                                <a href="@controllers.user.routes.MyOrderController.index()" >我的订单</a>
                            </li>
                            <li class="last-li">
                                <a href="@controllers.user.routes.LoginController.logout()" >退出</a>
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
</div>

