@(user: usercenter.models.User, sellingMap: Map[String, List[CmsExhibition]], doubleEx: CmsExhibition, font1: models.CmsContent, font2: models.CmsContent, sliderBoxs: List[models.CmsContent])

@import common.utils.DateUtils
@import dtos.ExhibitionPosition
@import productcenter.models.Seo

@displayExhibition(exhibition: models.CmsExhibition) = {
    <li>
        <a href ="@routes.Application.designerProd(exhibition.getDesignerId)">
            <div class="img">
                <a href="@routes.Application.designerProd(exhibition.getDesignerId)"><img src="@exhibition.getPic()" alt="" width="590" height="275"/></a>
                <p class="time">
                    还剩 <span class="time-detail" value="@DateUtils.printDateTime(exhibition.getEndTime())">@DateUtils.printDateTime(exhibition.getEndTime())</span>
                    结束</p>
            </div>
            <div class="title">
                <img src="@exhibition.getDesignerLogo" alt="" height="60"/>
                <p><span class="designer">@exhibition.getIntroduction</span></p>
            </div>
        </a>
    </li>
}


@main(new Seo(Messages("index.title"),Messages("seo.description"),Messages("seo.Keywords")))("index") {
    <script src="@routes.Assets.versioned("js/mobilyslider.js")"></script>
    <script src="@routes.Assets.versioned("js/index.js")"></script>

} {
    <!--slider-box-->
    <div class="slider-box">
        <div class="slider-box-inner">
            <div class="slider-box-img">
                @for((content,index) <- sliderBoxs.zipWithIndex) {
                <div class="item" style="background-image:url(@content.getContent); background-position: 50% 50%;">
                    <a href="@content.getLink" hidefocus="true" style="outline: none;">
                    </a>
                </div>
                }
            </div>
            <div class="sliderBullets">
                <ul class="clearfix">
                    @for((content,index) <- sliderBoxs.zipWithIndex) {
                       <li>
                           <a href="javascript:void(0);" rel="@index" class="" hidefocus="true" style="outline:none;"><img src="@content.getContent" alt="@content.getContent" width="390" height="103"/></a>
                           <div class="cover"></div>
                       </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--end slider-box-->


    <!--start-fashion first-->
    <div class="start-fashion">
        <div class="start-fashion-inner width1200">
            <h2>全球首发　限量发售</h2>
            <p class="info">独一无二的品味，独一无二的你。</p>
            <ul class="clearfix">
            @if(sellingMap.get(ExhibitionPosition.FLOOR_ONE) != null) {
                @for(exhibition <- sellingMap.get(ExhibitionPosition.FLOOR_ONE)) {
                    @displayExhibition(exhibition)
                }
            }
            </ul>
        </div>
    </div>
    <!--end start-fashion-->
    <!--fashion-box-->
    <div class="fashion-box">
        <div class="fashion-box-inner width1200">
            @if(font1 != null) {
                <h2>@font1.getTitle</h2>
                <p class="en-info">@Html(font1.getContent)</p>
                @*<p class="cn-info">@fontMa.get(CmsPosition.INDEX_FONT_1).get.getLink</p>*@
            }
            @*<h2>尚</h2>*@
            @*<p class="en-info">Fashion fades,only style remain the same. —— Coco Chanel</p>*@
            @*<p class="cn-info">时尚易逝，唯风格永存。</p>*@
            <ul class="clearfix">
            @if(sellingMap.get(ExhibitionPosition.FLOOR_TWO) != null) {
                @for(exhibition <- sellingMap.get(ExhibitionPosition.FLOOR_TWO)) {
                    <li>
                        <a href="@routes.Application.designerProd(exhibition.getDesignerId)">
                            <img src="@exhibition.getPic()" alt="" width="390" height="240" />
                            <div class="info">
                                <p><span class="designer">@exhibition.getIntroduction</span></p>
                                <p class="time"><span class="time-detail" value="@DateUtils.printDateTime(exhibition.getEndTime())">@DateUtils.printDateTime(exhibition.getEndTime())</span><span class="over-text">结束</span></p>
                            </div>
                        </a>
                    </li>
                }
            }
            </ul>
        </div>
    </div>
    <!--end fashion-box -->
    <!--empty-box-->
    <div class="empty-box">
        <div class="empty-box-inner width1200">

            @if(font2 != null) {
                <h2>@font2.getTitle</h2>
                <p class="info">@Html(font2.getContent)</p>
            }

            <ul class="clearfix">

                @if(sellingMap.get(ExhibitionPosition.FLOOR_THREE) != null) {

                    @for(exhibition <- (sellingMap.get(ExhibitionPosition.FLOOR_THREE)).slice(0, 4)) {
                        <li class="">
                            <a href="@routes.Application.designerProd(exhibition.getDesignerId)">
                                <img src="@exhibition.getPic()" alt=""/>
                            </a>
                            <div class="title">
                                <p><span class="designer">@exhibition.getIntroduction()</span></p>
                                <p class="time"><span class="time-detail" value="@DateUtils.printDateTime(exhibition.getEndTime())">@DateUtils.printDateTime(exhibition.getEndTime())</span>
                                    结束</p>
                            </div>
                        </li>
                    }
                }

                @if(doubleEx != null) {
                    <li class="double">
                        <a href="@routes.Application.designerProd(doubleEx.getDesignerId)">
                            <img src="@doubleEx.getPic()" alt=""/>
                        </a>
                        <div class="title">
                            <p><span class="designer">@doubleEx.getIntroduction()</span></p>
                            <p class="time"><span class="time-detail" value="@DateUtils.printDateTime(doubleEx.getEndTime())">@DateUtils.printDateTime(doubleEx.getEndTime())</span>
                                <span class="over-text">结束</span></p>
                        </div>
                    </li>
                }

                @if(sellingMap.get(ExhibitionPosition.FLOOR_THREE) != null ) {

                    @for(exhibition <- (sellingMap.get(ExhibitionPosition.FLOOR_THREE)).slice(4, 6)) {
                        <li class="">
                            <a href="@routes.Application.designerProd(exhibition.getDesignerId)">
                                <img src="@exhibition.getPic()" alt=""/>
                            </a>
                            <div class="title">
                                <p><span class="designer">@exhibition.getIntroduction()</span></p>
                                <p class="time"><span class="time-detail" value="@DateUtils.printDateTime(exhibition.getEndTime())">@DateUtils.printDateTime(exhibition.getEndTime())</span>
                                    <span class="over-text"> 结束</span></p>
                            </div>
                        </li>
                    }
                }


            </ul>
        </div>
    </div>

}
