@(user: usercenter.models.User, modules: List[cmscenter.models.SkModule])

@import common.utils.DateUtils
@import productcenter.models.Seo

@displayExhibition(content: cmscenter.models.SkContent) = {
    <li>
        <div class="img">
            <a target="_blank" href="@content.getLink"><img class="lazy" data-original="@content.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@content.getTitle" width="590" height="275"/></a>
            @if(content.getEndTime != null) {
                <div class="time">
                    <div class="cover"></div>
                    <span class="time-text">
                        还剩 <i class="icon iconfont">&#xe605;</i>
                        <span class="time-detail" value="@DateUtils.printDateTime(content.getEndTime())">@DateUtils.printDateTime(content.getEndTime())</span>
                        <span class="over-text">结束</span>
                    </span>

                </div>
            }
        </div>
        <div class="title">
            @if(content.getBackPic != null && content.getBackPic != "") {
                <img class="lazy" data-original="@content.getBackPic" src="@routes.Assets.versioned("images/grey.gif")" alt="@content.getTitle" height="60"/>
            }
            <p><span class="designer">@content.getTitle</span></p>
        </div>
    </li>
}


@main(new Seo(Messages("index.title"), Messages("seo.description"), Messages("seo.Keywords")))("index") {
    <script src="@routes.Assets.versioned("js/jquery.flexslider-min.js")"></script>
    <script src="@routes.Assets.versioned("js/index.js")"></script>

} {
    <div id="container">
            <!--flexslider-box-->
        @if(modules.size >= 1) {
            <div class="flexslider">
                <ul class="slides">
                @for((content, index) <- modules(0).getContents.zipWithIndex) {
                    <li  style="height:501px;background-image: url(@content.getPic); background-position: 50% 50%;">
                        <a target="_blank" @if(content.getLink != null && content.getLink != "") {
                        href="@content.getLink"
                        } alt="@content.getTitle"></a>
                    </li>
                }
                </ul>
            }
            </div>
    <!--end flexslider-box-->
    <div class="btm-img width1200">
        @*<img class="lazy" data-original="@routes.Assets.versioned("images/btm.png")" src="@routes.Assets.versioned("images/grey.gif")" width="1200" height="75" alt=""/>*@
        <ul>
            <li><a href="javascript:void ();">
                <b class="icon"></b>
                <span class="wrap">
                    <span class="slogan">正品保障</span>
                    <span class="desc">100%品质保障</span>
                </span>
            </a></li>
            <li><a href="javascript:void ();">
                <b class="icon icon-1"></b>
                <span class="wrap">
                    <span class="slogan">全场包邮</span>
                    <span class="desc">设计师海外直发</span>
                </span>
            </a></li>
            <li><a href="javascript:void ();">
                <b class="icon  icon-2"></b>
                <span class="wrap">
                    <span class="slogan">售后无忧</span>
                    <span class="desc">七天无理由退货</span>
                </span>
            </a></li>
            <li class="lastc"><a href="javascript:void ();">
                <b class="icon  icon-3"></b>
                <span class="wrap">
                    <span class="slogan">400-9636-088</span>
                    <span class="desc">工作日 09:00 - 18:00</span>
                </span>
            </a></li>
        </ul>
    </div>

    <!--start-fashion first-->
    @if(modules.size >= 2) {
        <div class="start-fashion">
            <div class="start-fashion-inner width1200">
                @if(modules(1).getName != null) {
                    <h2>@Html(modules(1).getName)</h2>
                }
                @if(modules(1).getDescription != null) {
                    <p class="info">@Html(modules(1).getDescription) </p>
                }
                <ul class="clearfix">
                @for(content <- modules(1).getContents) {
                    @displayExhibition(content)
                }
                </ul>
            </div>
        </div>
    }
    <!--end start-fashion-->


    <!--fashion-box-->
    @if(modules.size >= 3) {

        <div class="fashion-box">
            <div class="fashion-box-inner width1200">
                <h2>@Html(modules(2).getName)</h2>
                <p class="en-info">@Html(modules(2).getDescription)</p>

                <ul class="clearfix">
                @for(exhibition <- modules(2).getContents) {
                    <li>
                        <a target="_blank" href="@exhibition.getLink">
                            <img class="lazy" data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@exhibition.getTitle" width="390" height="240" />
                            <div class="info">
                                <p><span class="designer">@exhibition.getTitle</span></p>

                            </div>
                        </a>
                    </li>
                }
                </ul>
            </div>
        </div>
    }
    <!--end fashion-box -->


    <!--empty-box-->

    @if(modules.size >= 4) {
        <div class="empty-box">
            <div class="empty-box-inner width1200">

                <h2>@Html(modules(3).getName)</h2>
                <p class="info">@Html(modules(3).getDescription)</p>

                <ul class="clearfix">
                @for(exhibition <- modules(3).getContents) {
                    <li @if(exhibition.getPicSize == 2) {
                        class="double"}>
                        <a target="_blank" href="@exhibition.getLink">
                            <img class="lazy" data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" @if(exhibition.getPicSize == 2) {
                                width="594"
                            } else {
                                width="291"
                            } height="437" alt="@exhibition.getTitle"/>
                        </a>
                    </li>
                }
                </ul>
            </div>
        </div>
    }

    @if(modules.size >= 5) {

        <div class="fashion-box preview">
            <div class="fashion-box-inner width1200">
                <h2>@Html(modules(4).getName)</h2>
                <p class="en-info">@Html(modules(4).getDescription)</p>

                <ul class="clearfix">
                @for(exhibition <- modules(4).getContents) {
                    <li>
                        <a target="_blank" href="@exhibition.getLink">
                            <img class="lazy" data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@exhibition.getTitle" width="390" height="182" />
                            <div class="info">
                                <p><span class="designer">@exhibition.getTitle</span></p>
                                <div class="time">
                                    <span class="time-text">
                                        <i class="icon iconfont">&#xe605;</i>
                                        开始时间：
                                        <span class="" value="@DateUtils.printDateTime(exhibition.getStartTime)">@DateUtils.printDateTime(exhibition.getStartTime)</span>
                                        @*<span class="over-text">开始</span>*@
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                }
                </ul>
            </div>
        </div>
    }
    </div>
    <!--siderbar-->
    <ul class="sider-bar" id="cart">
        <li class="cart" title="购物车"><span id="cart-quantity-btn"><i class="iconfont">&#xe606;</i></span><span class="quantity" id="cart-quantity">
            0</span></li>
        <li class="like-product"><a title="喜欢商品" href="@controllers.user.routes.ProductFavoritesController.index()"><i class="iconfont">&#xe602;</i></a></li>
        <li class="like-designer"><a title="喜欢设计师" href="@controllers.user.routes.DesignerFavoritesController.index()"><i class="iconfont">&#xe601;</i></a></li>
        <li class="fan-kui"><a title="意见反馈" href="@controllers.help.routes.HelpCenterController.index("feedback")"><i class="iconfont">&#xe614;</i></a></li>
        <li class="go-top" title="返回顶部"><span id="gotoTop"><i class="iconfont">&#xe60b;</i></span></li>

    </ul>
    <!--end sideebar-->
}