@(title: String = Messages("index.title"))(staticFile: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8" />
    <title>@title</title>

    <link rel="stylesheet" href="@routes.Assets.versioned("css/base.css")"/>

</head>

<body>

@header()

@navigator()

@content

<script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/common.js")"></script>

@staticFile

</body>
</html>
