@(name: String)

<div class="header">
    <div class="header-inner">
        <div class="header-wrap clearfix">
            <div class="left">
                <h1><a  href="@controllers.routes.Application.index()"><img src="@routes.Assets.versioned("images/logo-1.png")" alt="" width="336" height="90"/></a></h1>
            </div>
            <div class="right">
                <a href="/cart/showCart"><i class="iconfont" style="padding-right:4px;">&#xe606;</i>购物车 <span class="quantity">0</span></a>
            </div>
        </div>
    </div>
    <div class="nav-wrap">
        <ul class="nav width1200 clearfix">
            <li>
                <a @if("index".equals(name)) {
                    class="current"
                } href="@controllers.routes.Application.index()">首页</a>
            </li>
            <li>
                <a @if("product_first".equals(name)) {
                    class="current"
                } href="@controllers.product.routes.ProductController.list(status="FIRSTSELL",m="product_first")">最新</a>
            </li>
            <li>
                <a @if("product_host".equals(name)) {
                    class="current"
                } href="@controllers.product.routes.ProductController.list(status="HOTSELL",m="product_host")">最热</a>
            </li>
            <li>
                <a @if("product".equals(name)) {
                    class="current"
                } href="@controllers.product.routes.ProductController.list()">所有客品</a>
            </li>
            <li>
                <a @if("product_nav15".equals(name)) {
                    class="current"
                } href="@controllers.product.routes.ProductController.list(navId=15,m="product_nav15")">服装</a>
            </li>
            <li>
                <a @if("product_nav16".equals(name)) {
                    class="current"
                } href="@controllers.product.routes.ProductController.list(navId=16,m="product_nav16")">配饰</a>
            </li>
            <li>
                <a @if("designer".equals(name)) {
                    class="current"
                } href="@controllers.routes.Application.designers()">设计师</a>
            </li>
            <li class="last">
                <a @if("about".equals(name)) {
                    class="current"
                } href="@controllers.routes.Application.about()">关于我们</a>
            </li>
        </ul>
    </div>
</div>

