@(user: usercenter.models.User, sellingMap: Map[String, List[CmsExhibition]], doubleEx: CmsExhibition, font1: models.CmsContent, font2: models.CmsContent, sliderBoxs: List[models.CmsContent])

@import common.utils.DateUtils
@import dtos.ExhibitionPosition
@import productcenter.models.Seo
@import org.apache.commons.lang3.StringUtils
@import usercenter.utils.SessionUtils; val user = SessionUtils.currentUser(); val phone = if(user == null || StringUtils.isBlank(user.getPhone)) None else Some(user.getPhone);

@displayExhibition(exhibition: models.CmsExhibition) = {
    <li>
        <a href ="@routes.Application.designerProd(exhibition.getDesignerId)">
            <div class="img">
                <a href="@routes.Application.designerProd(exhibition.getDesignerId)"><img src="@exhibition.getPic()" alt="" width="590" height="275"/></a>
                <p class="time">
                    还剩 <span class="time-detail" value="@DateUtils.printDateTime(exhibition.getEndTime())">@DateUtils.printDateTime(exhibition.getEndTime())</span>
                    结束</p>
            </div>
            <div class="title">
                <img src="@exhibition.getDesignerLogo" alt="" height="60"/>
                <p><span class="designer">@exhibition.getIntroduction</span></p>
            </div>
        </a>
    </li>
}

@main(new Seo(Messages("title.preview"),Messages("seo.description"),Messages("seo.Keywords")))("preview") {


    <script src="@routes.Assets.versioned("js/mobilyslider.js")"></script>
    <script src="@routes.Assets.versioned("js/index.js")"></script>

    <script>
    $(function(){
        $('.start-fashion li').hover(function(){
            $(".cover", this).stop().animate({top:"0"},{queue:false,duration:500});
            $(".cover-info", this).stop().animate({top:"0"},{queue:false,duration:500});
        },function(){
            $(".cover", this).stop().animate({top:"650"},{queue:false,duration:300});
            $(".cover-info", this).stop().animate({top:"650"},{queue:false,duration:300});
        });

        $('.fashion-box li').hover(function(){
            $(".cover", this).stop().animate({top:"0"},{queue:false,duration:260});
            $(".cover-info", this).stop().animate({top:"0"},{queue:false,duration:260});
        },function(){
            $(".cover", this).stop().animate({top:"310px"},{queue:false,duration:300});
            $(".cover-info", this).stop().animate({top:"310px"},{queue:false,duration:300});
        });

        $('.empty-box li').hover(function(){
            $(".cover", this).stop().animate({top:"0"},{queue:false,duration:260});
            $(".cover-info", this).stop().animate({top:"0"},{queue:false,duration:260});
        },function(){
            $(".cover", this).stop().animate({top:"437"},{queue:false,duration:300});
            $(".cover-info", this).stop().animate({top:"437"},{queue:false,duration:300});
        });
    });
</script>


} {


    <!--slider-box-->
    <div class="slider-box">
        <div class="slider-box-inner">
            <div class="slider-box-img">
            @for((content,index) <- sliderBoxs.zipWithIndex) {

                <div class="item" style="z-index:@{sliderBoxs.size-index};background-image:url(@content.getContent); background-position: 50% 50%;">
                <a href="@content.getLink" hidefocus="true" style="outline: none;">
                    </a>
            </div>
            }
        </div>
        <div class="sliderBullets">
            <ul class="clearfix">
            @for((content,index) <- sliderBoxs.zipWithIndex) {
                <li>
                    <a href="javascript:void(0);" rel="@index" class="" hidefocus="true" style="outline:none;"><img class="lazy"   data-original="@content.getContent" src="@routes.Assets.versioned("images/grey.gif")" alt="@content.getContent" width="390" height="103"/></a>
                    <div class="cover"></div>
                </li>
            }
            </ul>
        </div>
    </div>
    </div>
    <!--end slider-box-->


    <div class="start-fashion">
        <div class="start-fashion-inner width1200">
            <h2>即将上线　敬请期待</h2>
            <p class="info">Fashion as a religion.</p>
            <ul class="clearfix">
            @if(sellingMap.get(ExhibitionPosition.FLOOR_ONE) != null) {
                @for(exhibition <- sellingMap.getOrElse(ExhibitionPosition.FLOOR_ONE, null)) {

                    <li>
                        <div class="img">
                            <a href="#"><img  class="lazy"  data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@exhibition.getPic()" width="590" height="275"/></a>
                        </div>
                        <div class="title">
                            <img  class="lazy"  data-original="@exhibition.getDesignerLogo" src="@routes.Assets.versioned("images/grey.gif")" alt="@exhibition.getDesignerLogo" height="60"/>
                            <p>@exhibition.getIntroduction</p>
                        </div>

                        <div class="cover"></div>
                        <div class="cover-info">
                            <a href="#" class="like" data-id="@exhibition.getDesignerId">@exhibition.getBaseLike</a>
                            <input type="text" class="phone-number" placeholder="请输入手机号码" @phone.map(x => s"value=$x").getOrElse("") />
                            <span class="remind-btn" exhibition-id="@exhibition.getId">开售提醒</span>
                            <a class="like" data-id="@exhibition.getDesignerId">我喜欢</a>
                            <input type="text" class="phone-number" placeholder="请输入手机号码" />
                            <span class="remind-btn">开售提醒</span>
                        </div>
                    </li>
                }
            }
            </ul>
        </div>
    </div>
    <!--end start-fashion-->
    <!--fashion-box-->
    <div class="fashion-box">
        <div class="fashion-box-inner width1200">
            @if(font1 != null) {
                <h2>@font1.getTitle</h2>
                <p class="en-info">@Html(font1.getContent)</p>
            }

            <ul class="clearfix">

            @if(sellingMap.get(ExhibitionPosition.FLOOR_TWO) != null) {
                @for(exhibition <- sellingMap.getOrElse(ExhibitionPosition.FLOOR_TWO, null)) {

                    <li>
                        <img  class="lazy"  data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@exhibition.getPic()" width="390" height="240" />
                        <div class="info">
                            <p>@exhibition.getIntroduction</p>
                        </div>
                        <div class="cover"></div>
                        <div class="cover-info">
                            <a href="#" class="like" data-id="@exhibition.getDesignerId">@exhibition.getBaseLike</a>
                            <input type="text" class="phone-number" placeholder="请输入手机号码" @phone.map(x => s"value=$x").getOrElse("") />
                            <span class="remind-btn" exhibition-id="@exhibition.getId">开售提醒</span>
                            <a class="like" data-id="@exhibition.getDesignerId">我喜欢</a>
                            <input type="text" class="phone-number" placeholder="请输入手机号码" />
                            <span class="remind-btn">开售提醒</span>
                        </div>
                    </li>
                }
            }
            </ul>
        </div>
    </div>
    <!--end fashion-box -->
    <!--empty-box-->
    <div class="empty-box">
        <div class="empty-box-inner width1200">

            @if(font2 != null) {
                <h2>@font2.getTitle</h2>
                <p class="info">@Html(font2.getContent)</p>
            }

            <ul class="clearfix">


                @if(sellingMap.get(ExhibitionPosition.FLOOR_THREE) != null) {
                    @for(exhibition <- sellingMap.getOrElse(ExhibitionPosition.FLOOR_THREE, null).slice(0, 4)) {
                        <li class="">
                            <img src="@exhibition.getPic" alt="" width="291" height="437"/>
                            <img class="lazy"  data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@exhibition.getPic()" width="291" height="437"/>
                            <div class="title">
                                <p>@exhibition.getIntroduction</p>
                                <p>@exhibition.getIntroduction()</p>
                            </div>
                            <div class="cover"></div>
                            <div class="cover-info">
                                <a href="#" class="like" data-id="@exhibition.getDesignerId">@exhibition.getBaseLike</a>
                                <input type="text" class="phone-number" placeholder="请输入手机号码" @phone.map(x => s"value=$x").getOrElse("") />
                                <span class="remind-btn" exhibition-id="@exhibition.getId">开售提醒</span>
                                <a class="like" data-id="@exhibition.getDesignerId">我喜欢</a>
                                <input type="text" class="phone-number" placeholder="请输入手机号码" />
                                <span class="remind-btn">开售提醒</span>
                            </div>
                        </li>
                    }
                }

                @if(doubleEx != null) {
                    <li class="double">
                        <img class="lazy"  data-original="@doubleEx.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@doubleEx.getPic()" width="594" height="437"/>
                        <img src="@doubleEx.getPic" alt=""/>
                        <div class="title">
                            <p>@doubleEx.getIntroduction()</p>
                            <p>@doubleEx.getIntroduction</p>
                        </div>
                        <div class="cover"></div>
                        <div class="cover-info">
                            <a href="#" class="like">@doubleEx.getBaseLike</a>
                            <input type="text" class="phone-number" placeholder="请输入手机号码" @phone.map(x => s"value=$x").getOrElse("") />
                            <span class="remind-btn" exhibition-id="@doubleEx.getId">开售提醒</span>
                        </div>
                    </li>
                }

                @if(sellingMap.get(ExhibitionPosition.FLOOR_THREE) != null) {
                    @for(exhibition <- sellingMap.getOrElse(ExhibitionPosition.FLOOR_THREE, null).slice(4, 6)) {
                        <li class="">
                            <img src="@exhibition.getPic" alt="" width="291" height="437"/>
                            <img  alt="@exhibition.getPic()" class="lazy"  data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" width="291" height="437"/>
                            <div class="title">
                                <p>@exhibition.getIntroduction</p>

                                <p>@exhibition.getIntroduction()</p>
                            </div>
                            <div class="cover"></div>
                            <div class="cover-info">
                                <a href="#" class="like" data-id="@exhibition.getDesignerId">@exhibition.getBaseLike</a>
                                <input type="text" class="phone-number" placeholder="请输入手机号码" @phone.map(x => s"value=$x").getOrElse("") />
                                <span class="remind-btn" exhibition-id="@exhibition.getId">开售提醒</span>
                                <a class="like" data-id="@exhibition.getDesignerId">我喜欢</a>
                                <input type="text" class="phone-number" placeholder="请输入手机号码" />
                                <span class="remind-btn">开售提醒</span>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

}
