@(user: usercenter.models.User, sellingMap: Map[String, List[CmsExhibition]], doubleEx: CmsExhibition, font1: models.CmsContent, font2: models.CmsContent, logImg: models.CmsContent)

@import common.utils.DateUtils
@import dtos.ExhibitionPosition
@import productcenter.models.Seo
@import org.apache.commons.lang3.StringUtils
@import usercenter.utils.SessionUtils; val user = SessionUtils.currentUser(); val phone = if(user == null || StringUtils.isBlank(user.getPhone)) None else Some(user.getPhone);

@displayExhibition(exhibition: models.CmsExhibition) = {
    <li>
        <a href ="@routes.Application.designerProd(exhibition.getDesignerId)">
            <div class="img">
                <a href="@routes.Application.designerProd(exhibition.getDesignerId)"><img src="@exhibition.getPic()" alt="" width="590" height="275"/></a>
                <p class="time">
                    还剩 <span class="time-detail" value="@DateUtils.printDateTime(exhibition.getEndTime())">@DateUtils.printDateTime(exhibition.getEndTime())</span>
                    结束</p>
            </div>
            <div class="title">
                <img src="@exhibition.getDesignerLogo" alt="" height="60"/>
                <p><span class="designer">@exhibition.getIntroduction</span></p>
            </div>
        </a>
    </li>
}

@main(new Seo(Messages("title.preview"),Messages("seo.description"),Messages("seo.Keywords")))("preview") {


    <script src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>


    <script>
    $(function(){
        $('.start-fashion li').hover(function(){
            $(".cover", this).stop().animate({top:"0"},{queue:false,duration:500});
            $(".cover-info", this).stop().animate({top:"0"},{queue:false,duration:500});
        },function(){
            $(".cover", this).stop().animate({top:"650"},{queue:false,duration:300});
            $(".cover-info", this).stop().animate({top:"650"},{queue:false,duration:300});
        });

        $('.fashion-box li').hover(function(){
            $(".cover", this).stop().animate({top:"0"},{queue:false,duration:260});
            $(".cover-info", this).stop().animate({top:"0"},{queue:false,duration:260});
        },function(){
            $(".cover", this).stop().animate({top:"310px"},{queue:false,duration:300});
            $(".cover-info", this).stop().animate({top:"310px"},{queue:false,duration:300});
        });

        $('.empty-box li').hover(function(){
            $(".cover", this).stop().animate({top:"0"},{queue:false,duration:260});
            $(".cover-info", this).stop().animate({top:"0"},{queue:false,duration:260});
        },function(){
            $(".cover", this).stop().animate({top:"437"},{queue:false,duration:300});
            $(".cover-info", this).stop().animate({top:"437"},{queue:false,duration:300});
        });


            //获取购物车 商品数量
        $.ajax({
            url: '/cart/getUserCartItemNum',
            cache:false,
            success: function (data) {
                if (data.result) {
                    $('#cart-quantity').text(data.data);
                }
            }
        });

                //固定购物车
         fixedcart($('#cart'), $('#container'));

             //点击购物车，进入购物车页面
        $('#cart-quantity-btn').click(function () {
            window.location.href = "/cart/showCart";
        });


        //专场开始提醒
        $('.remind-btn').click(function(){
        var id = $(this).attr('exhibition-id'),phoneNum = $(this).siblings('input').val(),that = $(this),likeOjb = that.siblings('.like').find('.like-num');
        var liObj = that.parents('li');
        var diffX = (parseInt(liObj.width())-402)/2,diffY = (parseInt(liObj.height())-182)/2;

            $.ajax({
                url:'/preview/userLike?exhibitionId='+id+'&phone='+phoneNum,
                type:'post',
                data:{exhibitionId:id,phone:phoneNum},
                success:function(data){
                    if(data.result){
                        likeOjb.text(parseInt(likeOjb.text())+1);
                            $.dialog({
                                title:'提示',
                                content:'<p style="text-align: center;font-size: 16px;padding:20px;">成功订阅开售提醒，我们将在开售当天通知你。</p>',
                                width:400,
                                height:180,
                                padding:"0",
                                 top:parseInt(liObj.offset().top)+diffY,
                                left:parseInt(liObj.offset().left)+diffX,
                                btn: {
                                    ok: {
                                        val: '确定',
                                        type: 'red'
                                        }
                                }
                            });
                    }else{
                         $.dialog({
                                title:'提示',
                                content:'<p style="text-align: center;font-size: 16px;padding:20px;">'+data.message+'</p>',
                                width:400,
                                height:180,
                                padding:"0",
                                top:parseInt(liObj.offset().top)+diffY,
                                left:parseInt(liObj.offset().left)+diffX,
                                btn: {
                                    ok: {
                                        val: '确定',
                                        type: 'red'
                                        }
                                }
                            });
                    }
                }
            });
        });

    });
</script>


} {
<div id="container">
    <div class="preview-img width1200">
        <div class="preview-img-inner">
             <div class="bread-nav">
                <ul class="clearfix">
                    <li><a href="@controllers.routes.Application.index()">首页</a></li>
                    <li>&gt;</li>
                    <li>预告</li>
                </ul>
            </div>
            <div class="img">
                <img class="lazy" src="@logImg.getContent" alt="@logImg.getTitle" width="1200" height="416">
            </div>
        </div>
    </div>


    <div class="start-fashion">
        <div class="start-fashion-inner width1200">
            <h2>即将上线　敬请期待</h2>
            <p class="info">More designers coming soon...</p>
            <ul class="clearfix">
            @if(sellingMap.get(ExhibitionPosition.FLOOR_ONE) != null) {
                @for(exhibition <- sellingMap.getOrElse(ExhibitionPosition.FLOOR_ONE, null)) {

                    <li class="clearfix preview">
                        <div class="img">
                            <a href="#"><img  class="lazy"  data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@exhibition.getIntroduction()" width="590" height="275"/></a>
                        </div>
                        <div class="title">
                            <img  class="lazy"  data-original="@exhibition.getDesignerLogo" src="@routes.Assets.versioned("images/grey.gif")" alt="@exhibition.getDesignerLogo" height="60"/>
                            <p>@exhibition.getIntroduction</p>
                        </div>

                        <div class="cover"></div>
                        <div class="cover-info">
                            <span class="like" data-id="@exhibition.getDesignerId"><i class="iconfont">&#xe603;</i><span class="like-num">@exhibition.getBaseLike</span></span>
                            <input type="text" class="phone-number" placeholder="请输入手机号码"  @phone.map(x => s"value=$x").getOrElse("") />
                            <span class='btn-cover'></span>
                            <span class="remind-btn" exhibition-id="@exhibition.getId">开售提醒</span>
                        </div>
                    </li>
                }
            }
            </ul>
        </div>
    </div>
    <!--end start-fashion-->
    <!--fashion-box-->
    <div class="fashion-box">
        <div class="fashion-box-inner width1200">
            @if(font1 != null) {
                <h2>@font1.getTitle</h2>
                <p class="en-info">@Html(font1.getContent)</p>
            }

            <ul class="clearfix preview">

            @if(sellingMap.get(ExhibitionPosition.FLOOR_TWO) != null) {
                @for(exhibition <- sellingMap.getOrElse(ExhibitionPosition.FLOOR_TWO, null)) {

                    <li>
                        <img  class="lazy"  data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@exhibition.getIntroduction()" width="390" height="240" />
                        <div class="info preview-info">
                            <p>@exhibition.getIntroduction</p>
                        </div>
                        <div class="cover"></div>
                        <div class="cover-info">
                            <span class="like" data-id="@exhibition.getDesignerId"><i class="iconfont">&#xe603;</i><span class="like-num">@exhibition.getBaseLike</span></span>
                            <input type="text" class="phone-number" placeholder="请输入手机号码" @phone.map(x => s"value=$x").getOrElse("") />
                            <span class="btn-cover"></span>
                            <span class="remind-btn" exhibition-id="@exhibition.getId">开售提醒</span>
                        </div>
                    </li>
                }
            }
            </ul>
        </div>
    </div>
    <!--end fashion-box -->
    <!--empty-box-->
    <div class="empty-box">
        <div class="empty-box-inner width1200">

            @if(font2 != null) {
                <h2>@font2.getTitle</h2>
                <p class="info">@Html(font2.getContent)</p>
            }

            <ul class="clearfix preview">


                @if(sellingMap.get(ExhibitionPosition.FLOOR_THREE) != null) {
                    @for(exhibition <- sellingMap.getOrElse(ExhibitionPosition.FLOOR_THREE, null).slice(0, 4)) {
                        <li class="">
                            <img src="@exhibition.getPic" alt="" width="291" height="437"/>
                            <img class="lazy"  data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@exhibition.getIntroduction()" width="291" height="437"/>
                            <div class="title preview-info">
                                <p>@exhibition.getIntroduction()</p>
                            </div>
                            <div class="cover"></div>
                            <div class="cover-info">
                                <span class="like" data-id="@exhibition.getDesignerId"><i class="iconfont">&#xe603;</i><span class="like-num">@exhibition.getBaseLike</span></span>
                                <input type="text" class="phone-number" placeholder="请输入手机号码" @phone.map(x => s"value=$x").getOrElse("") />
                                 <span class="btn-cover"></span>
                                <span class="remind-btn" exhibition-id="@exhibition.getId">开售提醒</span>
                            </div>
                        </li>
                    }
                }

                @if(doubleEx != null) {
                    <li class="double preview">
                        <img class="lazy"  data-original="@doubleEx.getPic()" src="@routes.Assets.versioned("images/grey.gif")" alt="@doubleEx.getIntroduction()" width="594" height="437"/>
                        <img src="@doubleEx.getPic" alt=""/>
                        <div class="title preview-info">
                            <p>@doubleEx.getIntroduction()</p>
                        </div>
                        <div class="cover"></div>
                        <div class="cover-info">
                           <span class="like"><i class="iconfont">&#xe603;</i><span class="like-num">@doubleEx.getBaseLike</span></span>
                            <input type="text" class="phone-number" placeholder="请输入手机号码" @phone.map(x => s"value=$x").getOrElse("") />
                             <span class="btn-cover"></span>
                            <span class="remind-btn" exhibition-id="@doubleEx.getId">开售提醒</span>
                        </div>
                    </li>
                }

                @if(sellingMap.get(ExhibitionPosition.FLOOR_THREE) != null) {
                    @for(exhibition <- sellingMap.getOrElse(ExhibitionPosition.FLOOR_THREE, null).slice(4, 6)) {
                        <li class="preview">
                            <img src="@exhibition.getPic" alt="" width="291" height="437"/>
                            <img  alt="@exhibition.getIntroduction()" class="lazy"  data-original="@exhibition.getPic()" src="@routes.Assets.versioned("images/grey.gif")" width="291" height="437"/>
                            <div class="title">
                                <p>@exhibition.getIntroduction</p>

                                <p>@exhibition.getIntroduction()</p>
                            </div>
                            <div class="cover"></div>
                            <div class="cover-info">
                                <span class="like" data-id="@exhibition.getDesignerId"><i class="iconfont">&#xe603;</i><span class="like-num">@exhibition.getBaseLike</span></span>
                                <input type="text" class="phone-number" placeholder="请输入手机号码" @phone.map(x => s"value=$x").getOrElse("") />
                                 <span class="btn-cover"></span>
                                <span class="remind-btn" exhibition-id="@exhibition.getId">开售提醒</span>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
    <!--siderbar-->
    <ul class="sider-bar" id="cart">
        <li class="cart" title="购物车"><span  id="cart-quantity-btn"><i class="iconfont">&#xe606;</i></span><span class="quantity" id="cart-quantity">0</span></li>
        <li class="like-product"><a title="喜欢商品" href="@controllers.user.routes.ProductFavoritesController.index()"><i class="iconfont">&#xe602;</i></a></li>
        <li class="like-designer"><a title="喜欢设计师"  href="@controllers.user.routes.DesignerFavoritesController.index()"><i class="iconfont">&#xe601;</i></a></li>
        <li class="fan-kui"><a title="意见反馈"  href="@controllers.help.routes.HelpCenterController.index("feedback")"><i class="iconfont">&#xe614;</i></a></li>
        <li class="go-top" title="返回顶部"><span id="gotoTop"><i class="iconfont">&#xe60b;</i></span></li>
    </ul>
    <!--end sideebar-->
}
