@(user: usercenter.models.User, designer: usercenter.dtos.DesignerView, sellingList: List[dtos.ProductInfo], previewList: List[dtos.ProductInfo], normalList: List[dtos.ProductInfo])

@import common.utils.DateUtils
@import productcenter.models.Seo;

@main(new Seo(designer.getName + Messages("title.product.list"),"尚客"+ designer.getName +"专场，全球首发，限量发售，限时抢购！",designer.getName + "," + Messages("seo.Keywords")))() {
<script src="@routes.Assets.versioned("js/FormValidate.js")"></script>
<script src="@routes.Assets.versioned("js/login-reg.js")"></script>
<script src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>
<script>
    $(function(){

       $('.brand-start-fashion li,.ready-online li,.hot-sale li').hover(function(){
           $(".cover", this).stop().animate({top:"341"},{queue:false,duration:50});
       },function(){
           $(".cover", this).stop().animate({top:"462"},{queue:false,duration:100});
       });

       //获取购物车 商品数量
        $.ajax({
            url: '/cart/getUserCartItemNum',
            cache:false,
            success: function (data) {
                if (data.result) {
                    $('#cart-quantity').text(data.data);
                }
            }
        });

            //固定购物车
         fixedcart($('#cart'), $('#container'));

             //点击购物车，进入购物车页面
        $('#cart-quantity-btn').click(function () {
            window.location.href = "/cart/showCart";
        });


        $('#designerFocus').click(function(){
        var id = $(this).attr('data-id'),that = $(this);
        if(that.hasClass('hasFocus')){//已经关注
            $.ajax({
                type:'post',
                url:'/my/favorites/designer/del?designerId='+id,
                data:{designerId:id},
                success:function(res){
                    if(res.message == 'Credentials required'){
                        createLoginReg();
                    }else{
                        if(res.result){
                            that.text('关注');
                            that.removeClass('hasFocus');
                        }
                    }
                }

            });

        }else{
            $.ajax({
                type:'post',
                url:'/my/favorites/designer/add?designerId='+id,
                data:{designerId:id},
                success:function(res){
                    if(res.message == 'Credentials required'){
                        createLoginReg();
                    }else{
                        if(res.result){
                            that.text('已关注');
                            that.addClass('hasFocus');
                        }
                    }
                }

            });
        }
    });


    });


</script>


} {
<div id="container">
    <div class="designer-brand">
        <div class="designer-brand-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    <li><a href="@controllers.routes.Application.index()">首页</a></li>
                    <li>&gt;</li>
                    <li><a href="@controllers.routes.Application.designers()">设计师</a></li>
                    <li>&gt;</li>
                    <li>Pleione</li>
                </ul>
            </div>
            <div class="top-con">
                <img  class="lazy"   data-original="@designer.getStorePic" alt="@designer.getName" width="439px" src="@routes.Assets.versioned("images/grey.gif")" height="370px"/>
                <div class="designer-con">
                    <div class="designer-con-title">
                        <h2><span>@designer.getName</span> <span class="focus @if(designer.isFavorites){hasFocus}" id="designerFocus" data-id="@designer.getId">@if(designer.isFavorites){已}关注</span></h2>
                    </div>
                    <div class="designer-con-content">
                   <p> @designer.getDescription</p>
                    </div>
                </div>
            </div>
            @if(sellingList!= null && sellingList.size >0) {
                <div class="brand-start-fashion">
                    <h3>正在首发</h3>
                    <ul class="clearfix">
                    @for(prod <- sellingList) {
                        <li>
                            <a target="_blank" href="@controllers.product.routes.ProductController.detail(prod.getProduct.getId.toString)">
                                <img class="lazy"   data-original="@prod.getMainPic.getPictureUrl" alt="@prod.getProduct.getName" src="@routes.Assets.versioned("images/grey.gif")" width="283" height="462"/>
                            </a>
                            <div class="cover">
                                <div class="info">
                                    <p class="name">@prod.getProduct.getName</p>
                                </div>
                            </div>
                        </li>
                    }
                    </ul>
                </div>
            }


            @if(previewList != null && previewList.size >0) {
                <div class="ready-online">
                    <h3>即将上线</h3>
                    <ul class="clearfix">

                    @for(prod <- previewList) {
                        <li>
                            <a target="_blank" href="@controllers.product.routes.ProductController.detail(prod.getProduct.getId.toString)" >
                                <img class="lazy"   data-original="@prod.getMainPic.getPictureUrl" alt="@prod.getProduct.getName" src="@routes.Assets.versioned("images/grey.gif")" width="283" height="462"/>
                            </a>
                            <div class="cover">
                                <div class="info">
                                    <p class="name">@prod.getProduct.getName</p>
                                </div>
                            </div>
                        </li>
                    }

                    </ul>
                </div>

            }


            @if(normalList != null && normalList.size >0 ) {
                <div class="hot-sale">
                    <h3>热销产品</h3>
                    <ul class="clearfix">

                    @for(prod <- normalList) {
                        <li>
                            <a target="_blank" href="@controllers.product.routes.ProductController.detail(prod.getProduct.getId.toString)">
                                <img class="lazy"   data-original="@prod.getMainPic.getPictureUrl" alt="@prod.getProduct.getName" src="@routes.Assets.versioned("images/grey.gif")" width="283" height="462"/>
                            </a>
                            <div class="cover">
                                <div class="info">
                                    <p class="name">@prod.getProduct.getName</p>
                                </div>
                            </div>
                        </li>
                    }

                    </ul>
                </div>

            }
        </div>
    </div>
</div>
    <!--siderbar-->
    <ul class="sider-bar" id="cart">
        <li class="cart"><span  id="cart-quantity-btn"></span><span class="quantity" id="cart-quantity">0</span></li>
        <li class="like-product"><a href="@controllers.user.routes.ProductFavoritesController.index()"></a></li>
        <li class="like-designer"><a href="@controllers.user.routes.DesignerFavoritesController.index()"></a></li>
        <li class="go-top"><span id="gotoTop"></span></li>
    </ul>
    <!--end sideebar-->
}
