@import productcenter.dtos.ProductInSellList
@(user: usercenter.models.User, designer: usercenter.dtos.DesignerView, sellingList: List[ProductInSellList], previewList: List[ProductInSellList], normalList: List[ProductInSellList], planProds: List[ProductInSellList])

    @import common.utils.DateUtils
    @import productcenter.models.Seo;

    @main(new Seo(designer.getName + Messages("title.product.list"), "尚客" + designer.getName + "专场，全球首发，限量发售，限时抢购！", designer.getName + "," + Messages("seo.Keywords")))() {
        <script src="@routes.Assets.versioned("js/FormValidate.js")"></script>
        <script src="@routes.Assets.versioned("js/login-reg.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>
        <script>
    $(function(){

       $('.brand-start-fashion li,.ready-online li,.hot-sale li').hover(function(){
           $(".cover",this).stop().animate({top:"402px"},{queue:false,duration:50});
       },function(){
           $(".cover",this).stop().animate({top:"462px"},{queue:false,duration:100});
       });

       //获取购物车 商品数量
        $.ajax({
            url: '/cart/getUserCartItemNum',
            cache:false,
            success: function (data) {
                if (data.result) {
                    $('#cart-quantity').text(data.data);
                }
            }
        });

            //固定购物车
         fixedcart($('#cart'), $('#container'));

             //点击购物车，进入购物车页面
        $('#cart-quantity-btn').click(function () {
            window.location.href = "/cart/showCart";
        });
        var flag = true;
        $('#designerFocus').click(function(){
            if(flag){flag = false;}else{return false;}
        var id = $(this).attr('data-id'),that = $(this);
        if(that.hasClass('hasFocus')){//已经关注
            $.ajax({
                type:'post',
                url:'/my/favorites/designer/del?designerId='+id,
                data:{designerId:id},
                success:function(res){
                    if(res.message == 'Credentials required'){
                        createLoginReg();
                         flag = true;
                    }else{
                        if(res.result){
                            that.find('.focus-text').text('关注');
                            that.removeClass('hasFocus');
                              $('.shi').fadeOut('100',function(){
                                 $('.kong').fadeIn('100',function(){
                                    flag = true;
                                 });
                              });
                        }
                    }
                }

            });

        }else{
            $.ajax({
                type:'post',
                url:'/my/favorites/designer/add?designerId='+id,
                data:{designerId:id},
                success:function(res){
                    if(res.message == 'Credentials required'){
                        createLoginReg();
                        flag = true;
                    }else{
                        if(res.result){
                            that.find('.focus-text').text('已关注');
                            that.addClass('hasFocus');
                             $('.kong').fadeOut('100',function(){
                                $('.shi').fadeIn('100',function(){
                                flag = true;
                                });
                             });
                        }
                    }
                }

            });
        }
    });


    });


</script>


    } {
        <div id="container">
            @if(designer.getStoreLogoPic != null && designer.getStoreLogoPic != "") {
                <div style="height : 501 px ; background : url ( @designer.getStoreLogoPic) repeat 50% 50 %"></div>
            }

            <div class="designer-brand">
                <div class="designer-brand-inner width1200">
                    @if(designer.getStoreLogoPic == null || designer.getStoreLogoPic == "") {
                        <div class="bread-nav">
                            <ul class="clearfix">
                                <li><a href="@controllers.routes.Application.index()">首页</a></li>
                                <li>&gt;</li>
                                <li><a href="@controllers.routes.Application.designers()">设计师品牌</a></li>
                                <li>&gt;</li>
                                <li>@designer.getName</li>
                            </ul>
                        </div>
                        <div class="top-con">
                            <img alt="@designer.getName" src="@designer.getStorePic" width="439px" height="370px"/>
                            <div class="designer-con">
                                <div class="designer-con-title">
                                    <h2><span>@designer.getName</span> <span class="focus @if(designer.isFavorites) {hasFocus}" id="designerFocus" data-id="@designer.getId">
                                        <i class="iconfont shi" @if(!designer.isFavorites) {
                                            style="display: none;"}>&#xe613;</i> <i class="iconfont kong" @if(designer.isFavorites) {
                                        style="display: none;"}>&#xe601;</i>
                                        <span class="focus-text">@if(designer.isFavorites) {已}关注</span></span>
                                    </h2>
                                </div>
                                <div class="designer-con-content">
                                    <p> @designer.getDescription</p>
                                </div>
                            </div>
                        </div>
                    }

                    @if(designer.getContent != null && designer.getContent != "") {
                        <div id="shopContent">
                        @Html(designer.getContent().replaceAll("^<img.*?src=\"(.*?)\".*?(usemap=\".*?\")?(\\s+alt=\".*?\")?>$", "<img class='lazy' data-original='$1' $2 src='/assets/images/grey.gif' style='display:block;' />").replaceFirst("<img.*?data-original='(.*?)'.*?>", "<img src='$1' />"))
                        </div>
                    }

                    @if(sellingList != null && sellingList.size > 0) {
                        <div class="brand-start-fashion">
                            <h3>正在首发</h3>
                            <ul class="clearfix">
                            @for((prod, index) <- sellingList.zipWithIndex) {
                                <li>
                                    <a target="_blank" href="@controllers.product.routes.ProductController.detail(prod.getProduct.getId.toString)">
                                        @if(prod.getDiscount != null) {
                                            <span class="status-selling">@prod.getDiscount.getDiscountTitle</span>
                                        } else {
                                            <span class="status-selling">首发</span>
                                        }
                                        @if(prod.getStorage == 0) {
                                            <span class="sold-out">已售完</span>
                                        }
                                        @if(index <= 3) {
                                            <img alt="@prod.getProduct.getName" src="@prod.getMinorPic.getPictureUrl" width="283" height="462" style="display : block ;"/>
                                        } else {
                                            <img class="lazy" data-original="@prod.getMinorPic.getPictureUrl" alt="@prod.getProduct.getName" src="@routes.Assets.versioned("images/grey.gif")" width="283" height="462" style="display : block ;"/>
                                        }
                                    </a>
                                    <h3>@prod.getProduct.getName</h3>
                                    @if(prod.getDiscount != null) {
                                        <h4 class="price">
                                            <b>￥@prod.getPrice</b>
                                            <b class="delete-price">￥@prod.getMarketPrice</b>
                                        </h4>
                                    } else {
                                        <h4 class="price">
                                            ￥@prod.getMarketPrice
                                        </h4>
                                    }

                                </li>
                            }
                            </ul>
                        </div>
                    }

                    @if(previewList != null && previewList.size > 0) {
                        <div class="ready-online">
                            <h3>预售商品</h3>
                            <ul class="clearfix">

                            @for(prod <- previewList) {
                                <li>
                                    <a target="_blank" href="@controllers.product.routes.ProductController.detail(prod.getProduct.getId.toString)" >
                                        @if(prod.getDiscount != null) {
                                            <span class="status-selling">@prod.getDiscount.getDiscountTitle</span>
                                        }
                                        @if(prod.getStorage == 0) {
                                            <span class="sold-out">已售完</span>
                                        }
                                    <img class="lazy" data-original="@prod.getMinorPic.getPictureUrl" alt="@prod.getProduct.getName" src="@routes.Assets.versioned("images/grey.gif")" width="283" height="462" style="display : block ;"/>
                                    </a>
                                    <h3>@prod.getProduct.getName</h3>
                                    @if(prod.getDiscount != null) {
                                        <h4 class="price">
                                            <b>￥@prod.getPrice</b>
                                            <b class="delete-price">￥@prod.getMarketPrice</b>
                                        </h4>
                                    } else {
                                        <h4 class="price">
                                            ￥@prod.getMarketPrice
                                        </h4>
                                    }
                                </li>
                            }

                            </ul>
                        </div>

                    }

                    @if(normalList != null && normalList.size > 0) {
                        <div class="hot-sale">
                            <h3>热销产品</h3>
                            <ul class="clearfix">

                            @for(prod <- normalList) {
                                <li>

                                    <a target="_blank" href="@controllers.product.routes.ProductController.detail(prod.getProduct.getId.toString)">
                                        @if(prod.getDiscount != null) {
                                            <span class="status-selling">@prod.getDiscount.getDiscountTitle</span>
                                        }
                                        @if(prod.getStorage == 0) {
                                            <span class="sold-out">已售完</span>
                                        }
                                    <img class="lazy" data-original="@prod.getMinorPic.getPictureUrl" alt="@prod.getProduct.getName" src="@routes.Assets.versioned("images/grey.gif")" width="283" height="462" style="display : block ;"/>
                                    </a>
                                    <h3>@prod.getProduct.getName</h3>
                                    @if(prod.getDiscount != null) {
                                        <h4 class="price">
                                            <b>￥@prod.getPrice</b>
                                            <b class="delete-price">￥@prod.getMarketPrice</b>
                                        </h4>
                                    } else {
                                        <h4 class="price">
                                            ￥@prod.getMarketPrice
                                        </h4>
                                    }
                                </li>
                            }

                            </ul>
                        </div>
                    }

                    @if(planProds != null && planProds.size > 0) {
                        <div class="brand-start-fashion">
                            <h3>即将开售</h3>
                            <ul class="clearfix">
                            @for((prod, index) <- planProds.zipWithIndex) {
                                <li>
                                    <a target="_blank" href="@controllers.product.routes.ProductController.detail(prod.getProduct.getId.toString)">
                                        @if(prod.getDiscount != null) {
                                            <span class="status-selling">@prod.getDiscount.getDiscountTitle</span>
                                        }
                                        @if(index <= 3) {
                                            <img alt="@prod.getProduct.getName" src="@prod.getMinorPic.getPictureUrl" width="283" height="462" style="display : block ;"/>
                                        } else {
                                            <img class="lazy" data-original="@prod.getMinorPic.getPictureUrl" alt="@prod.getProduct.getName" src="@routes.Assets.versioned("images/grey.gif")" width="283" height="462" style="display : block ;"/>
                                        }
                                    </a>
                                    <h3>@prod.getProduct.getName</h3>
                                    @if(prod.getDiscount != null) {
                                        <h4 class="price">
                                            <b>￥@prod.getPrice</b>
                                            <b class="delete-price">￥@prod.getMarketPrice</b>
                                        </h4>
                                    } else {
                                        <h4 class="price">
                                            ￥@prod.getMarketPrice
                                        </h4>
                                    }
                                </li>
                            }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    <!--siderbar-->
    <ul class="sider-bar" id="cart">
        <li class="cart" title="购物车"><span id="cart-quantity-btn"><i class="iconfont">&#xe606;</i></span><span class="quantity" id="cart-quantity">
            0</span></li>
        <li class="like-product">
            <a  href="javascript:void(0);"><i class="iconfont">&#xe618;</i><span class="text">微信客服</span> <img src="@routes.Assets.versioned("images/img-code.gif")" width="98" height="98" style="display: none;" alt=""/></a></li>
        <li class="like-designer">
            <a  href="javascript:void(0);"><i class="iconfont">&#xe617;</i> <span class="text">下载App</span><img src="@routes.Assets.versioned("images/app-2.png")" width="98" height="98" style="display: none;" alt=""/></a></li>
        <li class="fan-kui"><a  href="@controllers.help.routes.HelpCenterController.index("feedback")"><i class="iconfont">&#xe614;</i> <span class="text">意见反馈</span></a></li>
        <li class="go-top"><a  href="javascript:void(0);" id="gotoTop"><i class="iconfont">&#xe60b;</i> <span class="text">返回顶部</span></a></li>

    </ul>
    <!--end sideebar-->
    }
