@(user: usercenter.models.User)

<table cellpadding="0" cellspacing="0" style="background-color:#e5eaf1; width:100%; height:500px;">
    <tbody>
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" style="width:775px; margin: 40px auto 10px; border-radius: 5px;">
                    <tbody>
                        <tr>
                            <td><img src='@Messages("buy.domain")@routes.Assets.versioned("images/header.png")' style="display:block;"></td>
                        </tr>
                        <tr>
                            <td style="background: url('@Messages("buy.domain")@routes.Assets.versioned("images/aside.png")') repeat-y;">
                                <table align="left" bgcolor="#fff" cellpadding="0" cellspacing="0" style=" background: url(#) no-repeat right top #fff; margin-left:10px; width:755px;  ">
                                    <tbody>
                                        <tr>
                                            <td style="width: 755px;">
                                                <h1 style="margin: 10px 0 0 0; line-height:50px; color: #386fb7; font-size: 22px;  font-weight: bold; padding:30px 57px 0;font-family: 'Microsoft Yahei';">请验证您的邮箱。</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="margin: 0; line-height:37px; color: #737373; font-size: 16px; padding:0 57px;font-family: 'Microsoft Yahei';">亲爱的 <span style="font-weight: bold;font-family: 'Microsoft Yahei';">@user.getUserName</span> ,您好</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="">
                                                <p style="margin: 0; line-height:37px; color: #737373; font-size: 16px; padding:0 57px;font-family: 'Microsoft Yahei';">为了让您享受更好的服务，请尽快验证您的邮箱！</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><a href="@Messages("buy.domain")@controllers.user.routes.MySecurityController.changeEmailOk(user.getId)" style="width: 160px; height: 42px; background-color: #386fb7; font-weight: normal; font-size: 20px; color: white; text-align: center; text-decoration: none; display: block;
                                            line-height: 42px; margin:5px 0 13px; margin-left: 57px;font-family: 'Microsoft Yahei';" target="_blank">立即验证</a></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 755px;">
                                                <p style="margin: 0; line-height:30px; margin-top:24px; color: #737373; font-size: 16px; padding:0 57px;font-family: 'Microsoft Yahei';">尚客</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="margin: 0; line-height:20px; font-size:14px; margin-bottom: 15px; color: red; padding:0 57px;font-family: 'Microsoft Yahei';">（这是一封自动产生的email，请勿回复。）</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img src='@Messages("buy.domain")@routes.Assets.versioned("images/img-code.gif")' style="width: 130px; height: 131px; display: block; margin: 0 0 10px 57px;"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="margin: 0; line-height:17px; font-size:14px; text-align:center; width: 130px; color: #737373; padding: 0 57px;font-family: 'Microsoft Yahei';">尚客微信号</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="margin: 0; line-height:10px; font-size:11px; text-align:center; width: 140px; color: #737373; padding:0 57px 35px;font-family: 'Microsoft Yahei';"><a href="http://www.fashiongeeker.com" target="_blank">www.fashiongeeker.com</a></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table align="center" cellpadding="0" cellspacing="0" style="margin-bottom: 50px; width: 755px; ">
                    <tbody>
                        <tr>
                            <td align="left" style="width:340px; margin-left:10px; "><span style="font-size:12px; color: #bac1cb;"><span style="font-weight:bold; margin-left:10px; font-size:12px; color: #bac1cb;font-family: 'Microsoft Yahei';">尚客</span> - 全球独立设计师首发平台</span></td>
                            <td align="right" style="width:340px; margin-left:10px; font-size:12px; color: #bac1cb;"><span style="margin-right:10px; font-size:12px; color: #bac1cb;font-family: 'Microsoft Yahei';">©2015 fashiongeeker.com All rights reserved</span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

