@(user: usercenter.models.User)


<div style="width:704px;border: 2px solid #c6c6c6;padding: 20px 0px">
    <div style="height:240px;width: 100%;border-bottom: 1px solid #c6c6c6;">
        <div style="width:700px;margin:0 auto;overflow: hidden;">
            <ul style="list-style-type:none;">
                <li style="list-style-type:none;float:left;padding-right: 50px;margin-top: 180px;">
                    <a href="@Messages("buy.domain")@controllers.routes.Application.index()">首页</a>
                </li>
                <li style="list-style-type:none;float:left;padding-right: 50px;margin-top: 180px;">
                    <a href="@Messages("buy.domain")@controllers.routes.Application.preview()">预告</a>
                </li>
                <li style="list-style-type:none;float:left;padding-right: 50px;">
                    <div style="height: 220px;width: 290px;background: url('@Messages("buy.domain")@routes.Assets.versioned("images/logo.png")') no-repeat;"></div>
                </li>
                <li style="list-style-type:none;float:left;padding-right: 50px;margin-top: 180px;">
                    <a href="@Messages("buy.domain")@controllers.routes.Application.designers()">设计师</a>
                </li>
                <li style="list-style-type:none;float:left;margin-top: 180px;">
                    <a href="@Messages("buy.domain")/about-us.html">关于我们</a>
                </li>
            </ul>
        </div>
    </div>

    <div style="padding: 40px 50px;">
        尚客　做一名时尚极客<br/>

        欢迎加入尚客！请点击下面的链接验证邮箱（24小时内有效）：<br/>
        <a href="@Messages("buy.domain")@controllers.user.routes.MySecurityController.changeEmailOk(user.getId)">@Messages("buy.domain")@controllers.user.routes.MySecurityController.changeEmailOk(user.getId)</a><br/>
        （如果以上链接无法点击，请将上面的地址复制到你的浏览器地址栏访问尚客，以便完成验证）<br/>
        <br/>
        这是一封自动发送的邮件，请勿回复。<br/>

        <p style="padding: 5px 150px;">任何问题欢迎您致电客服：440-9636-088</p>
        <p style="padding: 5px 55px;">&copy;2015 fashiongeeker.com All rights reserved 粤ICP备15014624号-2</p>

    </div>

</div>

