@(user: usercenter.models.User)


<div>
    尚客　做一名时尚极客<br/>

    欢迎加入尚客！请点击下面的链接验证邮箱（24小时内有效）：<br/>
    http://www.fashiongeeker.com…………<br/>
    （如果以上链接无法点击，请将上面的地址复制到你的浏览器地址栏访问尚客，以便完成验证）<br/>
        <br/>
    这是一封自动发送的邮件，请勿回复。<br/>

    @Messages("index.welcome") ,
    @if(user != null) { @user.getUserName } else { 游客 }
    <hr/>
    <a href="@controllers.user.routes.MySecurityController.changeEmailOk(user.getId)">@controllers.user.routes.MySecurityController.changeEmailOk(user.getId)</a>
</div>

