@(selItems:String, addressList:List[usercenter.models.address.Address], cart:ordercenter.models.Cart, isPromptlyPay:Boolean)

@import productcenter.models.Seo;
@main(new Seo(Messages("title.cart"),Messages("seo.description"),Messages("seo.Keywords")))() {
    <script src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>
    <script src="@routes.Assets.versioned("js/selectArea.js")"></script>
    <script src="@routes.Assets.versioned("js/submitOrder.js")"></script>
} {
<div class="order-submit width1200">
    <div class="order-inner">
        <div class="order-step">
            <div class="step-bg"></div>
            <ul class="clearfix">
                <li>我的购物车</li>
                <li class="current">提交订单</li>
                <li class="last">选择支付方式</li>
            </ul>
        </div>


            @if(addressList != null && !addressList.isEmpty) {
            <div class="select-address">
                    <h3>选择收货地址</h3>
                    <ul class="clearfix">
                @for((address, index) <- addressList.zipWithIndex) {
                    @if(address.isDefaultAddress) {
                        <li class="current" data-id="@address.getId">
                    } else {
                        <li class="" data-id="@address.getId">
                    }
                    <div class="receiver"><strong>@address.getName<span class="space"></span>收</strong>
                        <span class="default">
                            @if(address.isDefaultAddress) {
                                默认地址
                            } else {
                                设置默认地址
                            }
                        </span>
                    </div>
                    <div class="details-address">
                        <p><span class="provice">@address.getProvince</span><span class="space"></span><span class="city">@address.getCity</span>
                            <span class="space"></span><span class="area">@address.getArea</span>
                        </p>
                        <P class="location">@address.getLocation</P>
                        <p class="phone">@address.getMobile</p>
                    </div>
                    <div class="edit-address">
                        <!--浩斌那边要做的-->
                        <span class="edit btn"  data-id="@address.getId">修改</span>
                        @if(!address.isDefaultAddress) {
                            <span class="delete btn" data-id="@address.getId">删除</span>
                        }
                    </div>
                    <span class="current-ico" @if(!address.isDefaultAddress){style="display: none;"}></span>
                </li>
                }

                <li class="add" @if(addressList != null && addressList.size >= 4){style="display: none;"}>
                    <div class="add-ico"></div>
                    <p>新增收货地址</p>
                </li>
             </ul>
            </div>
            } else {
                <div class="address-form-inner select-address">
                    <ul class="clearfix" style="display: none;">
                        <li class="add">
                            <div class="add-ico"></div>
                            <p>新增收货地址</p>
                        </li>
                    </ul>

                    <div class="address-form">
                        <h3>新增收货地址</h3>
                        <form class="add-form">
                            <div class="form-item">
                                <label for="name"><b>*</b>收货人：</label>
                                <input type="text" name="name" class="text name" id="name"/>
                            </div>
                            <div class="form-item area">
                                <label><b>*</b>选择地区：</label>
                                <select name="province" class="select">
                                </select>
                                <select name="city" class="select">
                                </select>
                                <select name="districts" class="select">
                                </select>
                            </div>
                            <div class="form-item">
                                <label for="location"><b>*</b>详细地址：</label>
                                <input type="text" name="location" class="text location" id="location"/>
                            </div>
                            <div class="form-item">
                                <label for="zipCode"><b>*</b>邮政编码：</label>
                                <input type="text" name="zipCode" class="text zipCode" id="zipCode"/>
                            </div>
                            <div class="form-item">
                                <label for="mobile"><b>*</b>手机号码：</label>
                                <input type="text" name="mobile" class="text mobile" id="mobile"/>
                            </div>
                            <div class="form-item submit">
                                <input type="submit" class="add-address-btn" value="保存收货地址"/>
                                <div class="errormsg" id="addMsg"></div>
                            </div>
                        </form>
                    </div>
                </div>
            }



        @if(cart == null || cart.getCartItemList == null || cart.getCartItemList.size() == 0) {
        <div class="mycart-empty">
            <p>购物车里空空如也，赶紧去 <a href="index.html">逛逛吧></a></p>
        </div>
        } else {
        <input type="hidden" id="selItems" value="@selItems"/>
        <input type="hidden" id="isPromptlyPay" value="@isPromptlyPay"/>
        <div class="confirm-product">
            <h3>确认商品信息</h3>
            <table>
                <thead>
                    <tr>
                        <th class="col1"></th>
                        <th>商品信息</th>
                        <th>细节</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                    </tr>
                </thead>
                <tbody>
                    @for(cartItem <- cart.getCartItemList) {
                    <tr>
                        <td>
                            <img src="@cartItem.getMainPicture" alt="" width="90" height="147"/><!--此拿到的只是图的url地址，可能没有值-->
                        </td>
                        <td>
                            <div class="pro-info">
                                <p class="pro-name">@cartItem.getProductName</p>
                            </div>
                        </td>
                        <td>
                            <div>
                            @if(cartItem.getSku != null && cartItem.getSku.getSkuProperties != null) {
                                @for(property <- cartItem.getSku.getSkuProperties) {
                                    <p>@property.getPropertyName ： @property.getPropertyValue</p>
                                }
                            }
                            </div>
                        </td>
                        <td>
                            <div>
                                <p class="actual-price">￥@cartItem.getCurUnitPrice</p>
                            </div>
                        </td>
                        <td>
                            @cartItem.getNumber
                        </td>
                        <td>
                        ￥@cartItem.getTotalPrice
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }
        <div class="total clearfix">
            <div class="total-info">
                <img src="../assets/images/total-left-ico.gif" alt=""/>
                <h3>全场免邮！全场免关税！</h3>
                <p>尚客不收取关税，如果您购买的商品被海关抽捡，请自行将关税缴纳给物流公司。</p>
            </div>
            @if(cart != null) {
            <table>
                <tr>
                    <td>商品总计：</td>
                    <td>￥@cart.getTotalMoney</td>
                </tr>
                <tr>
                    <td>运费：</td>
                    <td>￥00.00</td>
                </tr>
                <tr>
                    <td>关税：</td>
                    <td>￥00.00</td>
                </tr>
                <tr class="last">
                    <td>应付金额：</td>
                    <td class="actual-pay-money">￥@cart.getTotalMoney</td>
                </tr>
            </table>
            }
        </div>
        <div class="order-btn">
            <span class="btn order-submit-btn" id="order-submit-btn">提交订单</span>
        </div>
    </div>
</div>
}