@(resultMap: Map[String, Object])

@import productcenter.models.Seo;
@import ordercenter.payment.constants.PayBank;

@main(new Seo(Messages("title.toPlay"), Messages("seo.description"), Messages("seo.Keywords")))() {
    <script src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>
    <script type="text/javascript">

$(function(){

    $('.pay-list li').on('click',function(){
        if($(this).hasClass('more-payBank')){$('.more-list').slideDown(200);return;}
        $('.pay-list li').removeClass('current');
        $(this).addClass('current');
    });



$('#pay-money-btn').click(function(){

     var box = $('.pay-list');
     var payMethod, currentPay = box.find('.current').attr('paybank');

        switch (currentPay){
            case  'Alipay':  payMethod = 'directPay';
                break;
            case  'Tenpay':  payMethod = 'Tenpay';
                break;
            case  'WXSM':  payMethod = 'WXSM';
                break;
            default :
                payMethod = 'bankPay';
        }
         $.ajax({
            type: "get",
            url: '/order/submitTradeOrder?payType=OnLine&payMethod='+payMethod+"&payOrg="+currentPay+"&orderIds="+$('#orderIds').val(),
            async: false,
            dataType: 'json',
            cache: false,
            success: function (data) {
                if(data.result){
                    $('body').append(data.data);
                    $('#payForm').submit();
//                 $('#tradeNo').val(data.data);
//                 $('#payMethod').val(payMethod);
//                 $('#payOrg').val(currentPay);
                // $('#pay-form').submit();
                         $.dialog({
                            id:'idialog',
                            title:'提示',
                            content:'<div class="warning-inner clearfix"><p class="warning"><i class="icon iconfont">&#xe60c;</i>' +
                             '</span>请在第三方支付页面完成付款<br/><span style="padding-left: 30px;">付款完成前请不要关闭此窗口</span></p></div>',
                            width:518,
                            height:308,
                            lock:true,
                            padding:'20px',
                            show: function(){
                              $('.i-dialog').find('.error').text('');
                            },
                            btn: {
                                cancle: {
                                    val: '付款遇到问题，重新支付'
                                },
                                ok: {
                                    val: '我已付款成功',
                                    type: 'red',
                                    click: function(btn) {
                                         $.ajax({
                                            type: "get",
                                            url: '/payOrder/checkPayState?tradeNo='+data.data,
                                            async: false,
                                            dataType: 'json',
                                            cache: false,
                                            success:function(data){
                                                if(data.result){
                                                     $.dialog.get.idialog.$content.html('');
                                                     $.dialog.get.idialog.$dialog.find('.i-wrapBtn').remove();
                                                     var index = 3;
                                                     var interval =  setInterval(function(){
                                                        $('#second').text(index);
                                                        if(index--<1){
                                                            clearInterval(interval);
                                                            var orderId = $('#orderIds').val();
                                                            if(/_/g.test(orderId)){
                                                                window.location.href = "/my/order";
                                                            }else{
                                                                window.location.href = "/my/order/info?orderId="+$('#orderIds').val();
                                                            }

                                                        }
                                                      },1000);
                                                     $.dialog.get.idialog.$content.append('<div class="success-inner clearfix"><h4>检测到订单已成功支付</h4>' +
                                                      '<p><span id="second">'+index+'</span>秒后将自动跳转到订单详情 <a href="/my/order/info?orderId='+$('#orderIds').val()+'">立即查看订单&gt;&gt;</a></p></div>');


                                                }else{
                                                    $(btn).val('重新检测');
                                                    if($.dialog.get.idialog.$dialog.find('.error').size()==0){
                                                        $.dialog.get.idialog.$dialog.append('<p class="error" style="color: red;text-align: center;">*'+data.message+'</p>');
                                                    }else{
                                                        $.dialog.get.idialog.$dialog.find('.error').text('*'+data.message);
                                                    }

                                                }
                                            }
                                        });
                                        return false;
                                    }
                                }
                            }
                        });

                }else{
                         $.dialog({
                            title:'提示',
                            content:'<div class="warning-inner clearfix"><p class="warning"><i class="icon iconfont">&#xe60c;</i></span>请在第三方支付页面完成付款<br/><span style="padding-left: 44px;">'+data.message+'</span></p></div>',
                            width:518,
                            height:260,
                            lock:true,
                            padding:'20'
                        });
                }
            }
        });
    });

});

</script>
} {
    <div class="pay width1200">
        <div class="pay-inner">
            <div class="pay-step">
                <div class="step-bg"></div>
                <ul class="clearfix">
                    <li>我的购物车</li>
                    <li>提交订单</li>
                    <li class="last">选择支付方式</li>
                </ul>
            </div>
                <!-- pay-info -->
            <div class="pay-info">
                <h3>订单提交成功，现在只差最后一步啦！</h3>
                <p>请在提交订单后60分钟内完成支付，否则订单自动取消！</p>
                <p>温馨提示：不同的设计师的商品将由不同的设计师分开发货。</p>
            </div>
                <!-- end pay-info -->
            <div class="pay-list">
                <h3>支付金额：<span class="total-money">￥@resultMap.get("totalMoney")</span></h3>
                <div class="default-pay">
                    <ul class="list clearfix">
                        <li paybank= @PayBank.Alipay.toString class="current">
                            <i></i>
                            <img src="../assets/images/bank-zfb.jpg" alt="支付宝">
                        </li>
                        <li paybank= @PayBank.WXSM.toString class="">
                            <i></i>
                            <img src="../assets/images/bank-weixin.jpg" alt="微信支付">
                        </li>
                        <li paybank= @PayBank.Tenpay.toString class="">
                            <i></i>
                            <img src="../assets/images/bank-cft.jpg" alt="财付通">
                        </li>


                        <li class="more-payBank">
                            <a href="javascript:void(0);">选择更多支付方式&gt;&gt;</a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix more-list">
                    <h4>网上银行 <span>由支付宝提供接口，确保您的资金安全</span></h4>
                    <ul class="list clearfix">
                        <li paybank= @PayBank.ICBCB2C.toString>
                            <i></i>
                            <img src="../assets/images/bank-gs.jpg" alt="工商银行">
                        </li>
                        <li paybank= @PayBank.CCB.toString>
                            <i></i>
                            <img src="../assets/images/bank-js.jpg" alt="建设银行">
                        </li>
                        <li paybank= @PayBank.BOCB2C.toString>
                            <i></i>
                            <img src="../assets/images/bank-zg.jpg" alt="中国银行">
                        </li>
                        <li paybank= @PayBank.CMB.toString>
                            <i></i>
                            <img src="../assets/images/bank-zs.jpg" alt="招商银行">
                        </li>
                        <li paybank= @PayBank.COMM.toString>
                            <i></i>
                            <img src="../assets/images/bank-jt.jpg" alt="交通银行">
                        </li>
                        <li paybank=@PayBank.ABC.toString>
                            <i></i>
                            <img src="../assets/images/bank-ny.jpg" alt="农业银行">
                        </li>
                        <li paybank= @PayBank.POSTGC.toString>
                            <i></i>
                            <img src="../assets/images/bank-yz.jpg" alt="中国邮政储蓄">
                        </li>
                        <li paybank=@PayBank.CITIC.toString>
                            <i></i>
                            <img src="../assets/images/bank-zx.jpg" alt="中信银行">
                        </li>
                        <li paybank=@PayBank.CIB.toString>
                            <i></i>
                            <img src="../assets/images/bank-xy.jpg" alt="兴业银行">
                        </li>
                        <li paybank=@PayBank.SPDB.toString>
                            <i></i>
                            <img src="../assets/images/bank-pf.jpg" alt="浦发银行">
                        </li>
                        <li paybank= @PayBank.CMBC.toString>
                            <i></i>
                            <img src="../assets/images/bank-ns.jpg" alt="民生银行">
                        </li>
                        <li paybank=@PayBank.CEBBANK.toString>
                            <i></i>
                            <img src="../assets/images/bank-gd.jpg" alt="光大银行">
                        </li>
                        <li paybank=@PayBank.NBBANK.toString>
                            <i></i>
                            <img src="../assets/images/bank-nb.jpg" alt="宁波银行">
                        </li>
                        <li paybank=@PayBank.SDB.toString>
                            <i></i>
                            <img src="../assets/images/bank-szfz.jpg" alt="深发展银行">
                        </li>
                        <li paybank= @PayBank.BJRCB.toString>
                            <i></i>
                            <img src="../assets/images/bank-bjns.jpg" alt="北京农商银行">
                        </li>
                        <li paybank= @PayBank.SPABANK.toString>
                            <i></i>
                            <img src="../assets/images/bank-pa.jpg" alt="平安银行">
                        </li>
                        <li paybank= @PayBank.GDB.toString>
                            <i></i>
                            <img src="../assets/images/bank-gf.jpg" alt="广发银行">
                        </li>
                        <li paybank= @PayBank.SHBANK.toString>
                            <i></i>
                            <img src="../assets/images/bank-sh.jpg" alt="上海银行">
                        </li>
                        <li paybank=@PayBank.HZCBB2C.toString>
                            <i></i>
                            <img src="../assets/images/bank-hz.jpg" alt="杭州银行">
                        </li>
                        <li paybank=@PayBank.BJBANK.toString>
                            <i></i>
                            <img src="../assets/images/bank-bj.jpg" alt="北京银行">
                        </li>
                    </ul>
                </div>
                <span class="btn pay-money-btn" id="pay-money-btn">立即支付</span>
            </div>
            <input type="hidden" id="orderIds" name="orderIds" value="@resultMap.get("orderIds")">
        </div>
    </div>
}