@(resultMap:Map[String, Object])

@import productcenter.models.Seo;
@main(new Seo(Messages("title.play.fail"),Messages("seo.description"),Messages("seo.Keywords")))()() {
<div class="pay-success width1200">
    <div class="pay-success-inner">
        <!-- pay-info -->
        <div class="pay-success-info pay-fail">
            <h3>对不起，您的订单支付失败！</h3>
            @if(resultMap.get("errOrderIds") != null && resultMap.get("errOrderIds").toString.trim.length > 0) {
                <a href="/order/toOrderPlay?orderIds=@resultMap.get("errOrderIds")" class="rePay">重新支付</a>
            }
        </div>
    </div>
</div>
}

