@(resultMap:Map[String, Object])

@import productcenter.models.Seo;
@main(new Seo(Messages("title.play.success"),Messages("seo.description"),Messages("seo.Keywords")))()() {
    <div class="pay-success width1200">
        <div class="pay-success-inner">
                <!-- pay-info -->
            <div class="pay-success-info">
                <h3>订单支付成功，我们将尽快为您打包发货！</h3>
                <p>订单编号：<span class="pay-number">@resultMap.get("orderNo")</span></p>
                <p>支付金额：<span class="pay-money">@resultMap.get("payTotalFee")</span></p>
                <a href="/my/order/info?orderId=@resultMap.get("orderId")" class="check-order">查看订单&gt;&gt;</a>
                <a href="@routes.Application.index()" class="continueShopping">继续购物</a>
            </div>
        </div>
    </div>
}