@(cart:ordercenter.models.Cart)

    @main(){
    <script src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/cart.js")"></script>
    } {
        <div class="mycart width1200">
            <div class="mycart-inner">
                <div class="mycart-step">
                    <div class="step-bg"></div>
                    <ul class="clearfix">
                        <li class="current">我的购物车</li>
                        <li>提交订单</li>
                        <li class="last">选择支付方式</li>
                    </ul>
                </div>

                @if(cart == null || cart.getCartItemList == null || cart.getCartItemList.size() == 0) {
                    <!-- mycart empty-->
                    <div class="mycart-empty">
                        <p>购物车里空空如也，赶紧去 <a href="@routes.Application.index()">逛逛吧></a></p>
                    </div>
                    <!-- end mycart empty-->
                    } else {
                    <!-- mycart-list -->
                    <div class="mycart-list">
                        <h3>购物车</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th><label for="all"><input type="checkbox" id="all"> 全选 </label></th>
                                    <th class="col1"></th>
                                    <th>商品信息</th>
                                    <th>细节</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>小计</th>
                                    <th class="action">操作</th>
                                </tr>
                            </thead>
                            <tbody class="product-list">
                            @for(cartItem <- cart.getCartItemList) {
                                <tr>
                                    <td>
                                        <input type="checkbox"  value="@cartItem.getId" />
                                    </td>
                                    <td>
                                        <img src="@cartItem.getMainPicture" alt="" width="90" height="154"/><!--此拿到的只是图的url地址，可能没有值-->
                                    </td>
                                    <td>
                                        <div class="pro-info">
                                            <p class="pro-name">@cartItem.getProductName</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                        @if(cartItem.getSku != null && cartItem.getSku.getSkuProperties != null) {
                                            @for(property <- cartItem.getSku.getSkuProperties) {
                                                <p>@property.getPropertyName ： @property.getPropertyValue</p>
                                            }
                                        }
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <p class="actual-price">￥@cartItem.getCurUnitPrice</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="amount" data-skuId="@cartItem.getSkuId">
                                            <a href="javascript:void(0);" class="btn-sub"><span>-</span></a>
                                            <input type="text" size="3" maxlength="3" class="text-number" limit="@cartItem.getTradeMaxNumber" value="@cartItem.getNumber" data-price="@cartItem.getCurUnitPrice">
                                            <a href="javascript:void(0);" class="btn-add"><span>+</span></a>
                                        </div>
                                    </td>
                                    <td>
                                        ￥<span class="pro-total-money">@cartItem.getTotalPrice</span>
                                    </td>
                                    <td>
                                        <span  class="btn del" title="删除" data-id="@cartItem.getId">X</span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6"></td>
                                    <td>商品总计：</td>
                                    <td class="total-price">￥@cart.getTotalMoney</td>
                                </tr>
                                <tr>
                                    <td colspan="6"></td>
                                    <td colspan="2">
                                        <span class="btn toOrder" id="toOrder">去结算</span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- end mycart-list -->
                }
            </div>
        </div>
    }
