@(cart:ordercenter.models.Cart)

@import productcenter.models.Seo;
@main(new Seo(Messages("title.play"),Messages("seo.description"),Messages("seo.Keywords")))() {
    <script src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/cart.js")"></script>
} {
    <div class="mycart width1200">
        <div class="mycart-inner">
            <div class="mycart-step">
                <div class="step-bg"></div>
                <ul class="clearfix">
                    <li class="current">我的购物车</li>
                    <li>提交订单</li>
                    <li class="last">选择支付方式</li>
                </ul>
            </div>

            @if(cart == null || cart.getNotDeleteCartItemList == null || cart.getNotDeleteCartItemList.size() == 0) {
                <!-- mycart empty-->
                <div class="mycart-empty">
                    <p><i class="iconfont">&#xe606;</i>购物车里空空如也，赶紧去 <a href="@routes.Application.index()">逛逛吧</a></p>
                </div>
                <!-- end mycart empty-->
                } else {
                <!-- mycart-list -->
                <div class="mycart-list">
                    <h3>购物车</h3>
                    <table>
                        <thead>
                            <tr>
                                <th><label for="all"><input type="checkbox" id="all" checked="checked"> 全选 </label></th>
                                <th class="col1"></th>
                                <th>商品信息</th>
                                <th>细节</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>小计</th>
                                <th class="action">操作</th>
                            </tr>
                        </thead>
                        <tbody class="product-list">
                        @for(cartItem <- cart.getNotDeleteCartItemList) {

                            @if(!cartItem.isOnline || !cartItem.isHasStock){　

                                <tr class="disabled">
                            } else {

                                <tr>
                            }
                                <td>
                                    @if(!cartItem.isOnline || !cartItem.isHasStock){
                                        <p>无效</p>
                                    } else {
                                        <input type="checkbox" checked="checked"  value="@cartItem.getId" />
                                   }
                                </td>
                                <td>
                                    <a href="@controllers.product.routes.ProductController.detail(cartItem.getProductId.toString)" target="_blank" >
                                        <img class="lazy"   data-original="@cartItem.getMainPicture" alt="" src="/assets/images/grey.gif" width="90" height="147"/><!--此拿到的只是图的url地址，可能没有值-->
                                    </a>
                                </td>
                                <td class="pro">
                                    <div class="pro-info">
                                        <p class="pro-name"><a href="@controllers.product.routes.ProductController.detail(cartItem.getProductId.toString)" target="_blank" >@cartItem.getProductName</a></p>
                                    </div>
                                    @if(!cartItem.isOnline){<p class="invalid">商品已下架</p>} else {
                                        @if(!cartItem.isHasStock){
                                            <p class="invalid">此商品暂时缺货</p>
                                        }
                                    }
                                </td>
                                <td>
                                    <div>
                                    @if(cartItem.getSku != null && cartItem.getSku.getSkuProperties != null) {
                                        @for(property <- cartItem.getSku.getSkuProperties) {
                                            <p>@property.getPropertyName ： @property.getPropertyValue</p>
                                        }
                                    }
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <p class="actual-price">￥@cartItem.getCurUnitPrice</p>
                                    </div>
                                </td>
                                <td>
                                    @if(!cartItem.isOnline || !cartItem.isHasStock){
                                        @cartItem.getNumber
                                    } else {
                                        <div class="amount" data-skuId="@cartItem.getSkuId">
                                            <a href="javascript:void(0);" class="btn-sub"><span>-</span></a>
                                            <input type="text" size="3" maxlength="3" class="text-number" limit="@cartItem.getTradeMaxNumber" value="@cartItem.getNumber" data-price="@cartItem.getCurUnitPrice">
                                            <a href="javascript:void(0);" class="btn-add"><span>+</span></a>
                                        </div>
                                    }

                                </td>
                                <td>
                                    ￥<span class="pro-total-money">@cartItem.getTotalPrice</span>

                                </td>
                                <td>
                                    <span  class="del" title="删除" data-id="@cartItem.getId">X</span>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6"></td>
                                <td>商品总计：</td>
                                <td class="total-price">￥@cart.getTotalMoney</td>
                            </tr>
                            <tr>
                                <td colspan="6"></td>
                                <td colspan="2">
                                    <div class="btn-wrap">
                                        <span class="btn toOrder loading-before" id="toOrder">去结算</span>
                                        <span class="btn loading-after"><i class="loading-btn"></i>处理中...</span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- end mycart-list -->
            }
        </div>
    </div>
}
