@(mapName:Map[Integer,String],mapPrice:Map[Integer,String])

@import productcenter.models.Seo;

@main(new Seo("静美如秋，吸睛新品-尚客","夹克式斗篷，七分袖长袍，BF衬衫，背带裤……巧妙设计，上乘面料，流行色彩定能让你成焦点。","斗篷，大衣，衬衫，单品，尚客，全球首发，玩味时尚。"))() {

} {
    <style>
    .early-autumn-activity{}
    .early-autumn-activity .line{border-bottom: 1px solid #ccc;width: 1200px;margin: 0 auto 55px;}
    .early-autumn-activity-header{position: relative;margin: 0 auto;height: 600px;overflow: hidden;}
    .early-autumn-activity-header-top{position:absolute;width: 100%;height: 600px;background: url('@routes.Assets.versioned("images/activity/early-autumn/header-top.jpg")');background-position: 50% 50%;text-align:center;}
    .early-autumn-activity-content{height: 290px;padding: 60px 0;overflow: hidden;}
    .early-autumn-activity-content p{text-align: center;line-height: 45px;}
    .early-autumn-header{width: 1200px;margin: 0 auto; position: relative;}
    .early-autumn-header a{position: absolute;width:309px;height: 382px;top: 382px;background:url(about:blank);}
    .early-autumn-header .clock{left:118px;}
    .early-autumn-header .shrit{left:450px;}
    .early-autumn-header .coat{left:782px;}
    .early-autumn-header .list{    height: 50px;  top: 838px;  left: 410px;}
    /*early-autumn-floor1*/
    .early-autumn-floor1{margin-bottom: 90px;}
    .early-autumn-floor1-header{position: relative;margin: 0 auto 50px;height: 541px;overflow: hidden;}
    .early-autumn-floor1-header-top{position:absolute;width: 100%;height: 541px;background: url('@routes.Assets.versioned("images/activity/early-autumn/floor-1-top.jpg")');background-position: 50% 50%;text-align:center;}
    .floor1-content-top,.floor1-content-bottom{width: 951px;margin: 0 auto 50px;}
    h3{padding: 20px 0;font-size: 14px;line-height: 14px;}
    .pro-price{margin-bottom: 15px;color:#9b2800;font-size: 14px;}
    .floor1-content-bottom .right h3{padding: 0 0 0 150px; float: left;margin-right: 20px;}
    .floor1-content-bottom .right p{margin: 0;}
    /*early-autumn-floor2*/
    .early-autumn-floor2{margin-bottom: 105px;}
    .early-autumn-floor2-header{position: relative;margin: 0 auto 50px;height: 539px;overflow: hidden;}
    .early-autumn-floor2-header-top{position:absolute;width: 100%;height: 539px;background: url('@routes.Assets.versioned("images/activity/early-autumn/floor-2-top.jpg")');background-position: 50% 50%;text-align:center;}
    .floor2-content-top,.floor2-content-bottom{width: 1200px;margin: 0 auto 50px;}
    .floor2-content-top .sec{margin-right: 27px;}
    .floor2-content-top .pro-133{padding-top: 60px;}
    .floor2-content-bottom .left{width: 589px;margin-right: 0;}
    .floor2-content-bottom .right{width: 611px;}
    .floor2-content-bottom .pro-574{padding-left: 110px;}
    .floor2-content-bottom .pro-574 h3,.floor2-content-bottom .pro-574 p{width:449px;text-align: center;}
    .floor2-content-bottom .pro-27 h3,.floor2-content-bottom .pro-27 p{width:611px;text-align: center;}
    /*early-autumn-floor3*/
    .early-autumn-floor3{margin-bottom: 105px;}
    .early-autumn-floor3-header{position: relative;margin: 0 auto 50px;height: 540px;overflow: hidden;}
    .early-autumn-floor3-header-top{position:absolute;width: 100%;height: 540px;background: url('@routes.Assets.versioned("images/activity/early-autumn/floor-3-top.jpg")');background-position: 50% 50%;text-align:center;}
    .floor3-content-top,.floor3-content-bottom{width: 1200px;margin: 0 auto 50px;}
    .floor3-content-top .pro-255{padding-left: 140px;}
    .floor3-content-top .text{float: right;width: 430px;height:520px;border: none;}
    .floor3-content-top .text h3{padding: 13px 0;}
    .floor3-content-top .text p{margin-bottom: 0;}
    .floor3-content-bottom .pro-231{padding-left: 140px;}
    .floor3-content-bottom .pro-223{width: 462px;margin-right: 120px;_display:inline;}
    .floor3-content-bottom .pro-223 h3,.floor3-content-bottom .pro-223 p{text-align: right;}
    .bottom-img{width:420px;margin: 0 auto;}
    .bottom-img img{margin-bottom: 100px;}
    .back-home{  width: 200px;  height: 30px;  margin: 0 auto;  line-height: 30px;  border: 1px solid #000;  text-align: center;
    font-size: 18px;}
    </style>
    <!--early-autumn-->
    <div class="early-autumn-activity">
        <div class="early-autumn-activity-header">
            <div class="early-autumn-activity-header-top" title="静美如秋"></div>
        </div>
            <!-- early-autumn-header-->
        <div class="early-autumn-header">
            <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/header-top-1.jpg")" width="1200" height="210" src="@routes.Assets.versioned("images/grey.gif")"/>
            <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/header-top-2.jpg")" width="1200" height="150" src="@routes.Assets.versioned("images/grey.gif")"/>
            <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/header-top-3.jpg")" width="1200" height="597" src="@routes.Assets.versioned("images/grey.gif")"/>
            <a target="_blank" href="http://www.fashiongeeker.com/products?navId=8&st=1" title="斗篷" class="clock"></a>
            <a target="_blank" href="http://www.fashiongeeker.com/products?navId=9&st=1" title="衬衫" class="shrit"></a>
            <a target="_blank" href="http://www.fashiongeeker.com/products?navId=10&st=1" title="大衣" class="coat"></a>
            <a target="_blank" href="http://www.fashiongeeker.com/products"  class="list"></a>
        </div>
            <!-- end early-autumn-header-->
            <!-- early-autumn-floor-1-->
        <div class="early-autumn-floor1">
            <div class="early-autumn-floor1-header">
                <div class="early-autumn-floor1-header-top" title="斗篷外套"></div>
            </div>
            <div class="early-autumn-floor1-content">
                <div class="floor1-content-top clearfix">
                    <div class="left">
                        <a target="_blank" href="http://www.fashiongeeker.com/product/569"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/floor-top-1.jpg")" width="523" height="680" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                    </div>
                    <div class="right">
                        <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/floor-top-2.jpg")" width="413" height="200" src="@routes.Assets.versioned("images/grey.gif")"/>
                        <div class="pro-569">
                            <h3 class="pro-name"><a target="_blank" href="http://www.fashiongeeker.com/product/569">@mapName.get(569)</a></h3>
                            <p class="pro-price">￥@mapPrice.get(569)</p>
                            <a target="_blank" href="http://www.fashiongeeker.com/product/569"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/569.jpg")" width="331" height="387" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="floor1-content-bottom clearfix">
                    <div class="left">
                        <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/floor-bottom-1.jpg")" width="380" height="204" src="@routes.Assets.versioned("images/grey.gif")"/>
                        <div class="pro-229">
                            <h3 class="pro-name"><a target="_blank" href="http://www.fashiongeeker.com/product/229">@mapName.get(229)</a></h3>
                            <p class="pro-price">￥@mapPrice.get(229)</p>
                            <a target="_blank" href="http://www.fashiongeeker.com/product/229"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/299.jpg")" width="380" height="510" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                        </div>
                    </div>
                    <div class="right" style="width: 480px;">
                        <div class="pro-573">
                            <a target="_blank" href="http://www.fashiongeeker.com/product/573"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/573.jpg")" width="480" height="669" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                            <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/floor-bottom-2.jpg")" width="480" height="154" src="@routes.Assets.versioned("images/grey.gif")"/>
                            <h3 class="pro-name"><a target="_blank" href="http://www.fashiongeeker.com/product/573">@mapName.get(573)</a></h3>
                            <p class="pro-price">￥@mapPrice.get(573)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- end early-autumn-floor-1-->
            <!-- early-autumn-floor-2-->
        <div class="early-autumn-floor2">
            <div class="early-autumn-floor2-header">
                <div class="early-autumn-floor2-header-top" title="衬衫"></div>
            </div>
            <div class="early-autumn-floor2-content">
                <div class="floor2-content-top clearfix">
                    <div class="left">
                        <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/floor-2-1.jpg")" width="294" height="601" src="@routes.Assets.versioned("images/grey.gif")"/>
                    </div>
                    <div class="left sec">
                        <a target="_blank" href="http://www.fashiongeeker.com/product/133"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/floor-2-2.jpg")" width="449" height="601" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                    </div>
                    <div class="left pro-133">
                        <h3 class="pro-name"><a target="_blank" href="http://www.fashiongeeker.com/product/133">@mapName.get(133)</a></h3>
                        <p class="pro-price">￥@mapPrice.get(133)</p>
                        <a target="_blank" href="http://www.fashiongeeker.com/product/133"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/133.jpg")" width="227" height="454" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="floor2-content-bottom clearfix">
                    <div class="left fir">
                        <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/floor2-bottom-2.jpg")" width="589" height="110" src="@routes.Assets.versioned("images/grey.gif")"/>
                        <div class="pro-574">
                            <h3 class="pro-name"><a target="_blank" href="http://www.fashiongeeker.com/product/574">@mapName.get(574)</a></h3>
                            <p class="pro-price">￥@mapPrice.get(574)</p>
                            <a target="_blank" href="http://www.fashiongeeker.com/product/574"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/574.jpg")" width="449" height="669"/></a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="pro-27">
                            <a target="_blank" href="http://www.fashiongeeker.com/product/27"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/27-1.jpg")" width="350" height="648" style="margin-right: 6px;" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                            <a target="_blank" href="http://www.fashiongeeker.com/product/27"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/27-2.jpg")" height="463" width="230" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                            <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/27-text.jpg")" height="139" width="611" src="@routes.Assets.versioned("images/grey.gif")"/>
                            <h3 class="pro-name"><a target="_blank" href="http://www.fashiongeeker.com/product/27">@mapName.get(27)</a></h3>
                            <p class="pro-price">￥@mapPrice.get(27)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--end early-autumn-floor-2-->
            <!-- early-autumn-floor-3-->
        <div class="early-autumn-floor3">
            <div class="early-autumn-floor3-header">
                <div class="early-autumn-floor3-header-top" title="大衣"></div>
            </div>
            <div class="early-autumn-floor3-content">
                <div class="floor3-content-top clearfix">
                    <div class="pro-255">
                        <a style="float:left;margin-right: 4px;" target="_blank" href="http://www.fashiongeeker.com/product/225"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/floor-3-1.jpg")" width="240" height="428" style="margin-right: 6px;" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                        <a style="float:left;" target="_blank" href="http://www.fashiongeeker.com/product/225"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/floor-3-2.jpg")" width="360" height="520" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                        <div class="text">
                            <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/floor-3-3.jpg")" width="430" height="441" src="@routes.Assets.versioned("images/grey.gif")"/>
                            <h3 class="pro-name"><a target="_blank" href="http://www.fashiongeeker.com/product/225">@mapName.get(225)</a></h3>
                            <p class="pro-price">￥@mapPrice.get(225)</p>
                        </div>
                    </div>

                </div>
                <div class="line"></div>
                <div class="floor3-content-bottom clearfix">
                    <div class="left pro-231">
                        <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/231-text.jpg")" width="462" height="115" src="@routes.Assets.versioned("images/grey.gif")"/>
                        <h3 class="pro-name"><a target="_blank" href="http://www.fashiongeeker.com/product/231">@mapName.get(231)</a></h3>
                        <p class="pro-price">￥@mapPrice.get(231)</p>
                        <a target="_blank" href="http://www.fashiongeeker.com/product/231"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/231.jpg")" width="462" height="564" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                    </div>
                    <div class="right pro-223">
                        <a target="_blank" href="http://www.fashiongeeker.com/product/223"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/223.jpg")" width="462" height="564" src="@routes.Assets.versioned("images/grey.gif")"/></a>
                        <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/223-text.jpg")" width="462" height="128" src="@routes.Assets.versioned("images/grey.gif")"/>
                        <h3 class="pro-name"><a target="_blank" href="http://www.fashiongeeker.com/product/223">@mapName.get(223)</a></h3>
                        <p class="pro-price">￥@mapPrice.get(223)</p>
                    </div>
                </div>
            </div>
            <div class="line" style="width:1903px;"></div>
            <div class="bottom-img">
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/early-autumn/bottom-img.jpg")" width="429" height="394" src="@routes.Assets.versioned("images/grey.gif")"/>
                <p class="back-home"><a href="http://www.fashiongeeker.com/">返回首页</a></p>
            </div>
        </div>
            <!--end early-autumn-floor-3-->
    </div>
    <!--end early-autumn-->
}