@(mapName:Map[Integer,String],mapPrice:Map[Integer,String])
@import productcenter.models.Seo;

@main(new Seo("5件最具风格单品，轻松掌握时尚流行-尚客","5件最具风格单品，尚客与您一起演绎属于您的生活时尚。","全球首发，独立设计师，限量发售，限时首发，风格单品"))() {
    <script>
        $(function(){


                //固定购物车
         fixedcart($('#cart'), $('#container'));

             //点击购物车，进入购物车页面
        $('#cart-quantity-btn').click(function () {
            window.location.href = "/cart/showCart";
        });

        });
    </script>
} {
    <style>
    .fashion-activity{}
    .fasion-activity-header{position: relative;margin: 0 auto;height: 680px;overflow: hidden;}
    .fasion-activity-header-top{position:absolute;width: 100%;height: 680px;background: url('@routes.Assets.versioned("images/activity/fashion-top.jpg")');background-position: 50% 50%;text-align:center;}
    .fashion-activity-content{height: 290px;padding: 60px 0;overflow: hidden;}
    .fashion-activity-content p{text-align: center;line-height: 45px;}
    .fashion-activity-tilte{width: 391px;height: 51px;margin: 0 auto;background: url('@routes.Assets.versioned("images/activity/fashion-title.jpg")'); margin-bottom: 25px;}
    .floor{width: 1200px;margin: 0 auto 15px;overflow: hidden;}
    .floor-header{height:635px;position: relative;}
    .line{width:1200px;height:20px;background: url('@routes.Assets.versioned("images/activity/fashion-middle-line.jpg")')}
    .floor h3{height: 75px;background: url('@routes.Assets.versioned("images/activity/fashion-floor-title.jpg")') no-repeat 0 0;border-bottom: 1px solid #ccc;text-indent: -9999px;}
    .fashion-activity-floor2 h3{background-position:0 -75px;}
    .fashion-activity-floor3 h3{background-position:0 -150px;}
    .fashion-activity-floor4 h3{background-position:0 -225px;}
    .fashion-activity-floor5 h3{background-position:0 -300px;}
    .fashion-activity-floor1{}
    .fashion-activity-floor1 .activity-pro,.fashion-activity-floor3 .activity-pro,.fashion-activity-floor4 .activity-pro{height:410px;padding:30px 0 0 0;}
    .fashion-activity-floor1 .pro-list,.fashion-activity-floor3 .pro-list{float:left;width:968px;}
    .fashion-activity-floor1 .pro-list li,.fashion-activity-floor3 .pro-list li{float:left;width:232px;height:410px;overflow: hidden;margin-right: 10px;}
    .fashion-activity-floor1 .activity-pro .right,.fashion-activity-floor3 .activity-pro .right{width: 220px;height: 380px;padding-top: 30px;}
    .fashion-activity-floor1 .activity-pro .right li,.fashion-activity-floor3 .activity-pro .right li{padding:15px 0;border-bottom:1px solid #ccc;}
    .fashion-activity-floor1 .activity-pro .right .pro-name,.fashion-activity-floor3 .activity-pro .right .pro-name{margin: 0 8px 0 2px;}
    .fashion-activity-floor1 .activity-pro .right .last,.fashion-activity-floor3 .activity-pro .right .last{border:none;}
    .fashion-activity-floor1-header{position: relative;}
    #floor1-img-1{position: absolute;right: 33px;top: 44px;}
    #floor1-img-2{position: absolute;right: 430px;top: 44px;}
    #floor1-img-3{position: absolute;left: 44px;top: 44px;}
    .fashion-activity-floor1-header .activity-text{position: absolute;top: 297px;left: 92px;padding-top:55px;line-height: 30px;}

    #floor2-img-1{position: absolute;left: 52px;top: 147px;}
    #floor2-img-2{position: absolute;left: 262px;top: 62px;}
    #floor2-img-3{position: absolute;left: 556px;top: 32px;}
    #floor2-img-4{position: absolute;right: 83px;top: 62px;}

    .fashion-activity-floor2-header .activity-text{position: absolute;top: 406px;right: 56px;line-height: 30px;width: 253px}
    .fashion-activity-floor2 .activity-pro{height:460px;padding:30px 0 0 0;}
    .fashion-activity-floor2 .pro-list li{float:left;width:232px;height:460px;overflow: hidden;margin-right: 10px;}
    .fashion-activity-floor2 .pro-list li h4{text-align: center;height: 45px;line-height: 20px;font-weight: normal;}
    .fashion-activity-floor2 .pro-list .last{margin-right: 0;}
    .fashion-activity-floor3-header{height: 750px;}
    #floor3-img-1{position: absolute;right: 45px;top: 37px;}
    #floor3-img-2{position: absolute;left: 42px;top: 58px;}
    .fashion-activity-floor3-header .activity-text{position: absolute;top: 385px;left: 91px;line-height: 30px;width: 253px}

    #floor4-img-1{position: absolute;left: 38px;top: 43px;}
    #floor4-img-2{position: absolute;right: 80px;top: 80px;}
    .fashion-activity-floor4-header .activity-text{position: absolute;top: 420px;left: 880px;line-height: 30px;width: 253px}

    .fashion-activity-floor4 .pro-list{float:right;width:960px;}
    .fashion-activity-floor4 .pro-list li{float:left;width:232px;height:410px;overflow: hidden;margin-right: 10px;}
    .fashion-activity-floor4 .activity-pro .left{width: 228px;height: 380px;padding-top: 30px;}
    .fashion-activity-floor4 .activity-pro .left li{padding:15px 0;border-bottom:1px solid #ccc;}
    .fashion-activity-floor4 .activity-pro .left .pro-name{margin: 0 8px 0 2px;}
    .fashion-activity-floor4 .activity-pro .left .last{border:none;}

    #floor5-img-1{position: absolute;right:26px;top: 33px; }
    #floor5-img-2{position: absolute;left:38px;top: 58px; }
    .fashion-activity-floor5-header .activity-text{position: absolute;top: 392px;left: 92px;line-height: 30px;width: 253px}
    .fashion-activity-floor5 ul{width: 1250px;height:600px;padding:30px 0 100px 0;}
    .activity-pro a:hover,.fashion-activity-floor5 .pro-list .last a:hover{color: #ff2d54;}
    .fashion-activity-floor5 .pro-list li{float:left;width:393px;height:280px;overflow: hidden;margin: 0 10px 10px 0;}
    .fashion-activity-floor5 .pro-list .last{width: 380px;margin-left: 10px;}
    .fashion-activity-floor5 .pro-list li p{float:left;width: 50%;padding:15px 0;border-bottom: 1px solid #ccc; }

    .fashion-activity-footer{margin-bottom: 100px;}
    .fashion-activity-footer p{text-align: center;font-size: 14px;margin-bottom: 30px;}
    .fashion-activity-footer h4{width: 176px;height: 43px;background: url('@routes.Assets.versioned("images/activity/fashion-activity-title.jpg")');text-indent: -9999px;margin: 0 auto;}
    .sider-bar{top:928px;}
    </style>
    <div id="container">
    <!--fashion-->
    <div class="fashion-activity">
        <div class="fasion-activity-header">
            <div class="fasion-activity-header-top" title="轻松掌握时尚流行"></div>
        </div>
        <!--fashion-activity-content-->
        <div class="fashion-activity-content">
            <h2 class="fashion-activity-tilte"></h2>
            <p>从T台到现实的距离到底有多远？<br/>
                秀场上华丽的装扮真的适合日常吗？<br/>
                答案是只要具有眼光与选择就可以。</p>
            <p>倘若你没有独特的审美，即使衣衫下映衬的是最完美的身材，也无法表达出你自己的时尚主张。<br/>
                尚客严选最潮单品，完美诠释潮流，与您一起演绎属于你的生活时尚。<br/>
            </p>
        </div>
        <!--end fashion-activity-content-->
        <!--fashion-activity-floor1-->
          <div class="floor fashion-activity-floor1">
                <h3>style 01</h3>
                <div class="floor-header fashion-activity-floor1-header">
                    <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor1-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="340" height="560" id="floor1-img-1"/>
                    <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor1-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="355" height="552" id="floor1-img-2" />
                    <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor1-3.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="270" height="253" id="floor1-img-3"/>
                    <div class="activity-text">
                        夏季穿飘逸的半身裙显得很有仙气，<br/>
                        时尚而又唯美。<br/>
                            <br/>
                        这一季，<br/>
                        设计师将百褶元素发挥得淋漓尽致，<br/>
                        不同色彩的百褶，展现出不同的魅力，<br/>
                        增添一丝复古感。
                    </div>
                </div>
              <div class="line"></div>
              <div class="activity-pro clearfix">
                  <ul class="clearfix pro-list">
                      <li><a target="_blank" href="http://www.fashiongeeker.com/product/385"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor1-pro-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                      <li><a target="_blank" href="http://www.fashiongeeker.com/product/403"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor1-pro-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                      <li><a target="_blank" href="http://www.fashiongeeker.com/product/405"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor1-pro-3.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                      <li><a target="_blank" href="http://www.fashiongeeker.com/product/425"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor1-pro-4.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                  </ul>
                  <div class="right">
                      <ul>
                          <li>1. <a target="_blank" href="http://www.fashiongeeker.com/product/385"><span class="pro-name">@mapName.get(385)</span> ￥@mapPrice.get(385)</a></li>
                          <li>2. <a target="_blank" href="http://www.fashiongeeker.com/product/403"><span class="pro-name">@mapName.get(403)</span> ￥@mapPrice.get(403)</a></li>
                          <li>3. <a target="_blank" href="http://www.fashiongeeker.com/product/405"><span class="pro-name">@mapName.get(405)</span> ￥@mapPrice.get(405)</a></li>
                          <li class="last">4. <a target="_blank" href="http://www.fashiongeeker.com/product/425"><span class="pro-name">@mapName.get(425)</span> ￥@mapPrice.get(425)</a></li>
                      </ul>
                  </div>
              </div>
          </div>
        <!--end fashion-activity-floor1-->
            <!--fashion-activity-floor2-->
        <div class="floor fashion-activity-floor2">
            <h3>style 02</h3>
            <div class="floor-header fashion-activity-floor2-header">
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor2-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="171" height="437" id="floor2-img-1"/>
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor2-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="254" height="537" id="floor2-img-2" />
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor2-3.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="250" height="567" id="floor2-img-3"/>
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor2-4.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="267" height="255" id="floor2-img-4"/>
                <div class="activity-text">
                    衬衫  可谓是长盛不衰的经典单品，<br/>
                    无论是简约的纯白款，<br/>
                    还是小心思的设计，<br/>
                    都能成为你衣柜里的时尚圣品。<br/>
                    搭配裤装或者裙装，都是不错的选择。
                </div>
            </div>
            <div class="line"></div>
            <div class="activity-pro clearfix">
                <ul class="clearfix pro-list">
                    <li>
                        <a target="_blank" href="http://www.fashiongeeker.com/product/421"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor2-pro-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a>
                        <h4><a target="_blank" href="http://www.fashiongeeker.com/product/421"><span class="pro-name">@mapName.get(421)</span><br/>￥@mapPrice.get(421)</a></h4>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.fashiongeeker.com/product/21"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor2-pro-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a>
                        <h4><a target="_blank" href="http://www.fashiongeeker.com/product/21"><span class="pro-name">@mapName.get(21)</span><br/>￥@mapPrice.get(21)</a></h4>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.fashiongeeker.com/product/27"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor2-pro-3.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a>
                        <h4><a target="_blank" href="http://www.fashiongeeker.com/product/27"><span class="pro-name">@mapName.get(27)</span><br/>￥@mapPrice.get(27)</a></h4>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.fashiongeeker.com/product/117"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor2-pro-4.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a>
                        <h4><a target="_blank" href="http://www.fashiongeeker.com/product/117"><span class="pro-name">@mapName.get(117)</span><br/>￥@mapPrice.get(117)</a></h4>
                    </li>
                    <li class="last">
                        <a target="_blank" href="http://www.fashiongeeker.com/product/133"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor2-pro-5.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a>
                        <h4> <a target="_blank" href="http://www.fashiongeeker.com/product/133"><span class="pro-name">@mapName.get(133)</span><br/>￥@mapPrice.get(133)</a></h4>
                    </li>
                </ul>

            </div>
        </div>
            <!--end fashion-activity-floor2-->

            <!--fashion-activity-floor3-->
        <div class="floor fashion-activity-floor3">
            <h3>style 03</h3>
            <div class="floor-header fashion-activity-floor3-header">
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor3-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="702" height="695" id="floor3-img-1"/>
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor3-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="381" height="234" id="floor3-img-2" />
                <div class="activity-text">
                    今年在裤装上，<br/>
                    你需要留意的版型具有垂坠感、宽松。<br/>
                    加上中腰或者高腰的设计，<br/>
                    更具有女性需要的潇洒干练的气质。
                </div>
            </div>
            <div class="line"></div>
            <div class="activity-pro clearfix">
                <ul class="clearfix pro-list">
                    <li><a target="_blank" href="http://www.fashiongeeker.com/product/251"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor3-pro-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                    <li><a target="_blank" href="http://www.fashiongeeker.com/product/115"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor3-pro-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                    <li><a target="_blank" href="http://www.fashiongeeker.com/product/233"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor3-pro-3.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                    <li><a target="_blank" href="http://www.fashiongeeker.com/product/441"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor3-pro-4.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                </ul>
                <div class="right">
                    <ul>
                        <li>1. <a target="_blank" href="http://www.fashiongeeker.com/product/251"><span class="pro-name">@mapName.get(251)</span> ￥@mapPrice.get(251)</a></li>
                        <li>2. <a target="_blank" href="http://www.fashiongeeker.com/product/115"><span class="pro-name">@mapName.get(115)</span> ￥@mapPrice.get(115)</a></li>
                        <li>3. <a target="_blank" href="http://www.fashiongeeker.com/product/233"><span class="pro-name">@mapName.get(233)</span> ￥@mapPrice.get(233)</a></li>
                        <li class="last">4. <a target="_blank" href="http://www.fashiongeeker.com/product/441"><span class="pro-name">@mapName.get(441)</span> ￥@mapPrice.get(441)</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <!--end fashion-activity-floor3-->
            <!--fashion-activity-floor4-->
        <div class="floor fashion-activity-floor4">
            <h3>style 04</h3>
            <div class="floor-header fashion-activity-floor4-header">
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor4-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="759" height="560" id="floor4-img-1"/>
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor4-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="286" height="230" id="floor4-img-2" />
                <div class="activity-text">
                    透视风格是不变的潮流主题，<br/>
                    它无疑是最佳吸睛利器之一。<br/>
                    若隐若现的性感，<br/>
                    将女性魅力展现得淋漓尽致。
                </div>
            </div>
            <div class="line"></div>
            <div class="activity-pro clearfix">
                <ul class="clearfix pro-list">
                    <li><a target="_blank" href="http://www.fashiongeeker.com/product/169"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor4-pro-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                    <li><a target="_blank" href="http://www.fashiongeeker.com/product/239"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor4-pro-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                    <li><a target="_blank" href="http://www.fashiongeeker.com/product/389"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor4-pro-3.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                    <li style="margin-right: 0;"><a target="_blank" href="http://www.fashiongeeker.com/product/443"><img class="lazy" src="@routes.Assets.versioned("images/activity/fashion-floor4-pro-4.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="232" height="410"/></a></li>
                </ul>
                <div class="left">
                    <ul>
                        <li>1. <a target="_blank" href="http://www.fashiongeeker.com/product/169"><span class="pro-name">@mapName.get(169)</span> ￥@mapPrice.get(169)</a></li>
                        <li>2. <a target="_blank" href="http://www.fashiongeeker.com/product/239"><span class="pro-name">@mapName.get(239)</span> ￥@mapPrice.get(239)</a></li>
                        <li>3. <a target="_blank" href="http://www.fashiongeeker.com/product/389"><span class="pro-name">@mapName.get(389)</span> ￥@mapPrice.get(389)</a></li>
                        <li class="last">4. <a target="_blank" href="http://www.fashiongeeker.com/product/443"><span class="pro-name">@mapName.get(443)</span> ￥@mapPrice.get(443)</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <!--end fashion-activity-floor4-->
            <!--fashion-activity-floor4-->
        <div class="floor fashion-activity-floor5">
            <h3>style 05</h3>
            <div class="floor-header fashion-activity-floor5-header">
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor5-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="634" height="599" id="floor5-img-1"/>
                <img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor5-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="334" height="234" id="floor5-img-2" />
                <div class="activity-text">
                    耳环是头部饰品中，<br/>
                    最常出现也最能直接代表你品味的单品之一。<br/>
                    <br/>
                    无论是精致小巧的耳钉，<br/>
                    还是夸张灵动的全耳饰耳环，<br/>
                    都能一展你的风采。
                </div>
            </div>
            <div class="line"></div>
            <ul class="clearfix pro-list">
                <li><a target="_blank" href="http://www.fashiongeeker.com/product/387"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor5-pro-1.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="393" height="280"/></a></li>
                <li><a target="_blank" href="http://www.fashiongeeker.com/product/391"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor5-pro-2.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="393" height="280"/></a></li>
                <li><a target="_blank" href="http://www.fashiongeeker.com/product/395"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor5-pro-3.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="393" height="280"/></a></li>
                <li><a target="_blank" href="http://www.fashiongeeker.com/product/399"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor5-pro-4.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="393" height="280"/></a></li>
                <li><a target="_blank" href="http://www.fashiongeeker.com/product/401"><img class="lazy" data-original="@routes.Assets.versioned("images/activity/fashion-floor5-pro-5.jpg")" alt="" src="@routes.Assets.versioned("images/grey.gif")"  width="393" height="280"/></a></li>
                <li class="last">
                    <p>1. <a target="_blank" href="http://www.fashiongeeker.com/product/387"><span class="pro-name">@mapName.get(387)</span> ￥@mapPrice.get(387)</a></p>
                    <p>2. <a target="_blank" href="http://www.fashiongeeker.com/product/391"><span class="pro-name">@mapName.get(391)</span> ￥@mapPrice.get(391)</a></p>
                    <p>3. <a target="_blank" href="http://www.fashiongeeker.com/product/395"><span class="pro-name">@mapName.get(395)</span> ￥@mapPrice.get(395)</a></p>
                    <p>4. <a target="_blank" href="http://www.fashiongeeker.com/product/399"><span class="pro-name">@mapName.get(399)</span> ￥@mapPrice.get(399)</a></p>
                    <p>5. <a target="_blank" href="http://www.fashiongeeker.com/product/401"><span class="pro-name">@mapName.get(401)</span> ￥@mapPrice.get(401)</a></p>
                </li>
            </ul>
        </div>
            <!--end fashion-activity-floor4-->

        <div class="fashion-activity-footer">
            <p>总之，要想拥有自己的时尚品位，让梦想照进现实，选对单品与款式，才能拥有自己的品味，玩转属于你的时尚姿态！</p>
            <h4>The end</h4>
        </div>
    </div>
    <!--end fashion-->
    </div>
    <!--siderbar-->
    <ul class="sider-bar" id="cart">
        <li class="cart" title="购物车"><span id="cart-quantity-btn"><i class="iconfont">&#xe606;</i></span><span class="quantity" id="cart-quantity">
            0</span></li>
        <li class="like-product">
            <a  href="javascript:void(0);"><i class="iconfont">&#xe618;</i><span class="text">微信客服</span> <img src="@routes.Assets.versioned("images/img-code.gif")" width="98" height="98" style="display: none;" alt=""/></a></li>
        <li class="like-designer">
            <a  href="javascript:void(0);"><i class="iconfont">&#xe617;</i> <span class="text">下载App</span><img src="@routes.Assets.versioned("images/app-2.png")" width="98" height="98" style="display: none;" alt=""/></a></li>
        <li class="fan-kui"><a target="_blank"   href="@controllers.help.routes.HelpCenterController.index("feedback")"><i class="iconfont">&#xe614;</i> <span class="text">意见反馈</span></a></li>
        <li class="go-top"><a  href="javascript:void(0);" id="gotoTop"><i class="iconfont">&#xe60b;</i> <span class="text">返回顶部</span></a></li>

    </ul>
    <!--end sideebar-->
}