@(appThemeDto:cmscenter.dtos.AppThemeDto)

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>尚客-@appThemeDto.getName</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/appcss.css")"/>
    </head>
    <body class="wechat-web reader-day-mode reader-font2">

        <div class="help-modal modal-footer-banner" style='display:none'>
            <a href="javascript:void(null)" class="close">
                <img src="@routes.Assets.versioned("images/app/close.png")" alt="Close"/>
            </a>
            <a href="" class="avatar">
                <img src="@routes.Assets.versioned("images/app/avatar.png")" alt="1"/>
            </a>

            <div id="floating-banner" class="goto-download">
                <span>尚客，时尚的极客</span>
            </div>
            <a href="javascript:void(null)" class="btn-success goto-download">快来下载吧</a>
        </div>

        <div class="container">

                <!-- 标题-->
            <h1 class="title">
                @appThemeDto.getName
            </h1>
                <!-- 内容-->
            <div class="content">

                @Html(appThemeDto.getContent)

            </div>
                <!-- 底栏-->
            <div class="author-info">
            </div>
        </div>
        <script src="@routes.Assets.versioned("js/zepto.js")"></script>
        <script type='text/javascript'>
    var Maleskine = {
        removeFooterBanner: function () {
            $(".modal-footer-banner").remove();
        }
    };
    $(document).ready(function () {

     var browser = {
        versions: function () {


        $(".modal-footer-banner .close").on("tap", function () {
            Maleskine.removeFooterBanner();
        });

            var u = navigator.userAgent, app = navigator.appVersion;
            return { //移动终端浏览器版本信息
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
                iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                };
            }(),
    };

    if (browser.versions.android) {
       $('.btn-success').hide();

    }
    $('.modal-footer-banner').show();
    $('.goto-download').on('tap', function () {

    });
    });
</script>

    </body>
</html>
