@(categorys: String)

@main() {
    <script src="@routes.Assets.at("js/fuelux/fuelux.spinner.min.js")"></script>
    <script src="@routes.Assets.at("js/fuelux/fuelux.tree.min.js")"></script>
    <script src="@routes.Assets.at("js/fuelux/fuelux.wizard.min.js")"></script>
    <script type="text/javascript">
    var DataSourceTree = function(options) {
    this._data 	= options.data;
    this._delay = options.delay;
    }

    DataSourceTree.prototype.data = function(options, callback) {
    var self = this;
    var $data = null;

    if(!("name" in options) && !("type" in options)){
    $data = this._data;//the root tree
    callback({ data: $data });
    return;
    }
    else if("type" in options && options.type == "folder") {
    if("additionalParameters" in options && "children" in options.additionalParameters)
    $data = options.additionalParameters.children;
    else $data = {}//no data
    }

    if($data != null)//this setTimeout is only for mimicking some random delay
    setTimeout(function(){callback({ data: $data });} , parseInt(Math.random() * 1) + 0);
    };

    var tree_data = {
        'for-sale' : {name: 'For Sale', type: 'folder',id:'1'}
    }

    var treeDataSource = new DataSourceTree({data: $.parseJSON('@Html(categorys)')});

        jQuery ( function ( $ ) {
            $ ( '#tree1' ).ace_tree ( {
            dataSource : treeDataSource,
            multiSelect : true,
            loadingHTML : '<div class="tree-loading"><i class="icon-refresh icon-spin blue"></i></div>',
            'open-icon' : 'icon-minus',
            'close-icon' : 'icon-plus',
            'selectable' : true,
            'selected-icon' : 'icon-ok',
            'unselected-icon' : 'icon-remove'
            } ) ;

        } )

        //添加一级类目
        $("#btn-addFirst" ).on("click",function(){
            $("#category-id").removeAttr("value");
            $("#category-pid").val(-1);
            $("#category-name").val("");
            $("#box-title" ).html("添加一级类目");
            $("#addFirst").show();
        });

        //修改类目名称
        $("#btn-changeName" ).on("click",function(){
            var $categoryActivation = $("#tree1").find(".categoryActivation" );
            var id = $categoryActivation.attr("id");
            var pid = $categoryActivation.attr("data-pid");
            var name = $categoryActivation.children("div" ).html();
            if(!id){
                alert("没有选中类目");
                return false;
            }
            $("#category-id" ).val(id);
            $("#category-pid" ).val(pid);
            $("#category-name" ).val(name);
            $("#box-title" ).html(name+" -> 修改类目名称");
            $("#addFirst" ).show();
        });

        //添加子类目
        $("#btn-addChildren").on("click",function(){
            var $categoryActivation = $("#tree1").find(".categoryActivation" );
            var id = $categoryActivation.attr("id");
            var name = $categoryActivation.children("div" ).html();

            if(!id){
                alert("没有选中类目");
                return false;
            }

            $("#category-id").removeAttr("value");
            $("#category-pid" ).val(id);
            $("#category-name" ).val("");
            $("#box-title" ).html(name+" -> 添加子类目");
            $("#addFirst" ).show();
        });

        //删除
        $("#btn-delete").on("click",function(){
            alert("删除功能未实现");
        });

        //推送功能未实现
        $("#btn-synCategory").on("click",function(){
            alert("推送功能未实现");
        });

        //属性管理
        $("#btn-property").on("click",function(){
            var $categoryActivation = $("#tree1").find(".categoryActivation" );
            var id = $categoryActivation.attr("id");

            if(!id){
                alert("没有选中类目");
                return false;
            }

            window.location.href='@controllers.category.routes.CategoryController.findFatherCategorys()'
        });

        //关闭强出框
        $("#close-addFirst" ).on("click",function(){
            $("#addFirst" ).hide();
        });

        //选中树
        $("#tree1").on("click",".tree-folder-header,tree-item",function(){
            $("#tree1" ).find(".tree-folder-header,.tree-item").removeClass("categoryActivation");
            $(this).addClass("categoryActivation");
        });

    </script>
} {

    <style>
        .categoryActivation{background-color: #00b3ee}
    </style>
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
        try { ace.settings.check ( 'breadcrumbs', 'fixed' ) } catch ( e ) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>首页
            </li>
            <li>
                类目管理
            </li>
            <li class="active"><a href="@controllers.category.routes.CategoryController.findFatherCategorys()">
                后台类目</a></li>
        </ul><!-- .breadcrumb -->
    </div>


    <div class="page-content">
        <button id="btn-addFirst" class="btn btn-grey">
            <span>添加一级类目</span>
        </button>
        <button id="btn-synCategory" class="btn btn-grey">
            <span>推送后台类目</span>
        </button>
        <button id="btn-property" class="btn btn-grey">
            <span>属性值的管理</span>
        </button>
        <button id="btn-addChildren" class="btn btn-grey">
            <span>添加子类目</span>
        </button>
        <button id="btn-changeName" class="btn btn-grey">
            <span>重命名</span>
        </button>
        <button id="btn-delete" class="btn btn-grey">
            <span>删除</span>
        </button>

        <div class="row">
            <div class="col-sm-6">
                <div class="widget-box">
                    <div class="widget-header header-color-blue2">
                        <h4 class="lighter smaller">后台类目</h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-8">
                            <div id="tree1" class="tree"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="addFirst" style="width: auto;height: auto;display: none">
        <div class="position-relative" style="width: 400px;height: 300px;margin-left: auto;margin-right: auto;">
            <div class="login-box visible widget-box">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 id="box-title" class="header blue lighter bigger">
                            添加类目
                        </h4>

                        <div class="space-6"></div>

                        <form action="@controllers.category.routes.CategoryController.addFirst()" method="POST">
                          <fieldset>
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        <input id="category-name" name="name" type="text" placeholder="类目名称" class="form-control">
                                    </span>
                                </label>
                                <input id="category-id" type="hidden" name="id"/>
                                <input id="category-pid" type="hidden" name="parentId" value="-1"/>

                                <div class="space"></div>

                                <div class="clearfix">
                                    <button id="close-addFirst" class="width-35 pull-left btn btn-sm btn-grey" type="button">
                                        关闭
                                    </button>

                                    <button class="width-35 pull-right btn btn-sm btn-primary" type="submit">
                                        保存
                                    </button>
                                </div>

                            </fieldset>
                        </form>

                    </div><!-- /widget-main -->

                </div><!-- /widget-body -->
            </div><!-- /login-box -->

        </div>
    </div>


}