@(propertyList: List[productcenter.models.Property])

@import productcenter.models.Value;
@main(){

    <script type="text/javascript">
    $ ( "#addProperty" ).on ( 'click', function ( e ) {
        e.preventDefault ( ) ;

        $ ( "#addPropertyBox" ).dialog ( {
            resizable : false,
            width : "400",
            modal : true,
            title : "首页 > 属性管理 > 添加属性",
            title_html : true,
            buttons :[ {
                html : "取消",
                "class" : "btn btn-danger btn-xs",
                click : function ( ) {
                    $ ( this ).dialog ( "close" ) ;
                }
            }, {
                html : "提交",
                "class" : "btn btn-info btn-xs",
                click : function ( ) {
                    $("#addPropertyForm" ).submit();
                }
            }
            ]
        } ) ;
    } ) ;

    $(".date-del-property").on ( 'click', function ( e ) {
        e.preventDefault ( ) ;
        var id = $(this ).parent( ).attr("data-id");
        $("#delPropertyForm").children().val(id);

        $ ( "#delPropertyBox" ).dialog ( {
            resizable : false,
            width : "400",
            modal : true,
            title : "确定要删除该属性吗？",
            title_html : true,
            buttons :[ {
                html : "取消",
                "class" : "btn btn-danger btn-xs",
                click : function ( ) {
                    $("#delPropertyForm" ).children().val("");
                    $ ( this ).dialog ( "close" ) ;
                }
                }, {
                html : "确定",
                "class" : "btn btn-info btn-xs",
                click : function ( ) {
                    $("#delPropertyForm" ).submit();
                }
            }
            ]
        } ) ;
    } ) ;

    $(".date-update-property").on ( 'click', function ( e ) {
            e.preventDefault ( ) ;
            var id = $(this ).parent( ).attr("data-id");
            $("#updatePropertyForm").children().val(id);

            $ ( "#updatePropertyBox" ).clone( ).attr("id","dialog-updatePropertyBox").dialog ( {
                resizable : false,
                width : "400",
                modal : true,
                title : "确定要删除该属性吗？",
                title_html : true,
                buttons :[ {
                    html : "取消",
                    "class" : "btn btn-danger btn-xs",
                    click : function ( ) {
                        $("#updatePropertyForm" ).children().val("");
                        $ ( this ).dialog ( "close" ) ;
                    }
                    }, {
                    html : "确定",
                    "class" : "btn btn-info btn-xs",
                    click : function ( ) {
                        $("#updatePropertyForm" ).submit();
                    }
                }
                ]
            } ) ;
        } ) ;

    </script>
} {
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
        try { ace.settings.check ( 'breadcrumbs', 'fixed' ) } catch ( e ) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <a href="/"><i class="icon-home home-icon"></i>
                首页</a>
            </li>
            <li class="active">
                <a href="@controllers.category.routes.CategoryController.findFatherCategorys()">属性管理</a>
            </li>
        </ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">
        <div class="widget-main">
            <div class="col-sm-9">
                <form class="form-inline">
                    <label class="inline">
                        <span class="lbl">属性类型：</span>
                    </label>
                    <select class="form-control" style="width: 110px;" name="propertyType">
                        <option value="SELL_PROPERTY">销售属性</option>
                        <option value="KEY_PROPERTY">关键属性</option>
                        <option value="NOT_KEY_PROPERTY">非关键属性</option>
                    </select>

                    <label class="inline" style="margin-left:20px;">
                        <span class="lbl">属性名称：</span>
                    </label>
                    <input type="text" class="input-small" name="name" placeholder="name">

                    <button type="button" class="btn btn-info btn-sm">
                        查询
                    </button>
                </form>
            </div>

            <div class="col-sm-1">
                <button id="addProperty" type="button" class="btn btn-sm">
                    添加属性
                </button>
            </div>
            <div class="col-sm-2">
                <button id="descProperty" type="button" class="btn btn-sm">
                    属性排序
                </button>
            </div>

        </div>

        <div style="display: none">
            <div class="widget-main" id="addPropertyBox">

                <form id="addPropertyForm" class="form-horizontal" action="@controllers.category.routes.PropertyValueController.createProperty()" method="POST">
                    <div class="form-group">
                        <label class="col-sm-4">属性名称：</label>
                        <input type="text" name="name" placeholder="name" class="col-sm-8">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">属性值：</label>
                        <input type="text" name="value" placeholder="多值以逗号隔开" class="col-sm-8">
                    </div>

                </form>

            </div><!-- /widget-main -->

        </div>

        <div style="display: none">
            <div class="widget-main" id="delPropertyBox">
                <form id="delPropertyForm" class="form-horizontal" action="@controllers.category.routes.PropertyValueController.deleteProperty()" method="POST">
                    <input type="hidden" name="id">
                </form>
            </div><!-- /widget-main -->
        </div>

        <div style="display: none">
            <div class="widget-main" id="updatePropertyBox">

                <form id="updatePropertyForm" class="form-horizontal" action="@controllers.category.routes.PropertyValueController.createProperty()" method="POST">
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                        <label class="col-sm-4">属性名称：</label>
                        <input type="text" name="name" placeholder="name" class="col-sm-8">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">属性值：</label>
                        <input type="hidden" name="id">
                        <input type="text" name="value" class="col-sm-5">
                        <div style="padding: 5px;" class="col-sm-2">
                            <button class="btn btn-info btn-minier"> 更新 </button>
                        </div>
                        <div style="padding: 5px;" class="col-sm-2">
                            <button class="btn btn-success btn-minier"> 删除 </button>
                        </div>
                    </div>

                </form>

            </div><!-- /widget-main -->

        </div>

        <hr>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-2">序号</th>
                                <th class="col-xs-3">属性名称</th>
                                <th class="col-xs-5">属性值</th>
                                <th class="col-xs-2">操作</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for(property <- propertyList) {
                                <tr>
                                    <td class="col-xs-2">@property.getId</td>
                                    <td class="col-xs-3">@property.getName</td>
                                    <td class="col-xs-3">
                                        @for(value <- property.getValues) {
                                            <span class="label">@value.getName</span>
                                        }
                                    </td>
                                    <td class="col-xs-2" data-id="@property.getId">
                                        <button class="btn btn-primary btn-minier date-update-property"> 编辑 </button>
                                        <button class="btn btn-info btn-minier date-del-property"> 删除 </button>
                                        <button class="btn btn-success btn-minier"> 属性值排序 </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#">
                            <i class="icon-double-angle-left"></i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-double-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4"></div>
        </div>

    </div>


}