@()

@myCenter(Messages("title.my.bind.phone")) {

} {

    <!--user-phoneValidate-->
    <div class="phoneValidate">
        <div class="phoneValidate-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>绑定手机</li>
                </ul>
            </div>
            <div class="phoneValidate-container clearfix">
                @left("security")
                    <!-- user-phoneValidate -->
                <div class="phoneValidate-list thr">
                    <h2>绑定手机</h2>
                    <div class="phoneValidate-con third">
                        <div class="step-bg"></div>
                        <ul class="clearfix">
                            <li class="highLight">验证身份</li>
                            <li class="highLight">修改已验证手机</li>
                            <li class="highLight last">完成</li>
                        </ul>
                    </div>
                    <div class="phoneValidate-thr">
                        <p>恭喜您，绑定手机成功。</p>
                        <a href="@controllers.routes.Application.index()">去逛逛</a>
                    </div>
                </div>
                    <!-- end phoneValidate-->
            </div>
        </div>
    </div>
    <!--end phoneValidate -->
}
