@(msg:String)

@myCenter(Messages("title.my.change.email")) {

} {

    <!--user-updatePw -->
    <div class="updatePw ">
        <div class="phoneValidate-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>绑定邮箱</li>
                </ul>
            </div>
            <div class="updatePw-container clearfix">
                @left("security")
                    <!-- user-phoneValidate -->
                <div class="validateEmail-list thr">
                    <h2>绑定邮箱</h2>
                    <div class="phoneValidate-con third">
                        <div class="step-bg"></div>
                        <ul class="clearfix email">
                            <li class="highLight">验证身份</li>
                            <li class="highLight">验证邮箱</li>
                            <li class="highLight last">完成</li>
                        </ul>
                    </div>
                    <div  class="validateEmail-thr">
                        <p>@msg</p>
                        <a href="@controllers.routes.Application.index()">去逛逛</a>
                    </div>

                </div>
                    <!-- end phoneValidate-->
            </div>
        </div>
    </div>
    <!--end phoneValidate -->
}
