@(flash: java.util.Map[String, String])

@import usercenter.cache.SecurityCache;

@myCenter(Messages("title.my.change.psw")) {
    <script src="@routes.Assets.versioned("js/user-updatePw.js")"></script>
} {

    <!--user-updatePw -->
    <div class="updatePw ">
        <div class="phoneValidate-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>修改密码</li>
                </ul>
            </div>
            <div class="updatePw-container clearfix">
                @left("security")
                    <!-- user-phoneValidate -->
                <div class="updatePw-list sec">
                    <h2>修改登录密码</h2>
                    <div class="phoneValidate-con second">
                        <div class="step-bg"></div>
                        <ul class="clearfix">
                            <li class="highLight">验证身份</li>
                            <li class="highLight">修改登录密码</li>
                            <li class="last">完成</li>
                        </ul>
                    </div>
                    @if(flash.get(SecurityCache.SECURITY_TOKEN_PSW_CHANGE_KEY)){
                        <form action="" class="updatePw-sec">
                            <input type="hidden" name="token" id="token" value="@flash.get(SecurityCache.SECURITY_TOKEN_PSW_CHANGE_KEY)"/>
                            <div class="form-item">
                                <label for="oldPw">旧密码：</label>
                                <input type="password" id="oldPw" name="oldPw" class="form-text oldPw"/>
                                <span class="errormsg" id="errormsg-oldpw"></span>
                            </div>
                            <div class="form-item">
                                <label for="newPw">新密码：</label>
                                <input type="password" id="newPw" name="newPw" class="form-text newPw"/>
                                <span class="errormsg" id="errormsg-newPw"></span>
                            </div>
                            <div class="form-item">
                                <label for="confirmPw">确认新密码：</label>
                                <input type="password" id="confirmPw" name="confirmPw" class="form-text confirmPw"/>
                                <span class="errormsg" id="errormsg-confirmPw"></span>
                            </div>
                            <div class="item-row"><button type="submit"  id="next-btn" class="next-btn">提交</button></div>
                        </form>
                    }else{
                        <span>身份验证失败</span>
                    }
                </div>
                    <!-- end phoneValidate-->
            </div>
        </div>
    </div>
    <!--end phoneValidate -->
}
