@()

@myCenter(Messages("title.my.change.psw")) {

} {

    <!--user-updatePw -->
    <div class="updatePw ">
        <div class="phoneValidate-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>修改密码</li>
                </ul>
            </div>
            <div class="updatePw-container clearfix">
                @left("security")
                    <!-- user-phoneValidate -->
                <div class="updatePw-list thr">
                    <h2>修改登录密码</h2>
                    <div class="phoneValidate-con third">
                        <div class="step-bg"></div>
                        <ul class="clearfix">
                            <li class="highLight">验证身份</li>
                            <li class="highLight">修改登录密码</li>
                            <li class="highLight last">完成</li>
                        </ul>
                    </div>
                    <div class="updatePw-thr">
                        <p>恭喜您，修改登录密码成功，为保证您购物安全，建议您定期更改密码以保护账户安全。</p>
                        <a href="#">去逛逛</a>
                    </div>
                </div>
                    <!-- end phoneValidate-->
            </div>
        </div>
    </div>
    <!--end phoneValidate -->
}
