@(user:usercenter.models.User)

@import common.utils.StringUtils;

@myCenter(Messages("title.my.change.email")) {
    <script src="@routes.Assets.versioned("js/user-validateEmail.js")"></script>
} {

    <!--user-validateEmail-->
    <div class="validateEmail">
        <div class="validateEmail-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>@if(null == user.getEmail || "".equals(user.getEmail)){绑定}else{修改}邮箱</li>
                </ul>
            </div>
            <div class="validateEmail-container clearfix">
                @left("security")
                    <!-- user-updatePw -->
                <div class="validateEmail-list first">
                    <h2>@if(null == user.getEmail || "".equals(user.getEmail)){绑定}else{修改}邮箱</h2>
                    <div class="phoneValidate-con">
                        <div class="step-bg"></div>
                        <ul class="clearfix email">
                            <li class="highLight">验证身份</li>
                            <li>@if(null == user.getEmail || "".equals(user.getEmail)){绑定}else{修改}邮箱</li>
                            <li class="last">完成</li>
                        </ul>
                    </div>
                    <form action="" class="validateEmail-first">
                        <input type="hidden" id="phoneNumber" value="@user.getPhone"/>
                        <p>已验证手机： <span class="userPhone">@StringUtils.getSecurityMobile(user.getPhone)</span></p>
                        <div class="form-item vcode-input">
                            <label for="phoneCode">请填写手机验证码：</label>
                            <input type="text" id="phoneCode" name="phoneCode" class="form-text phoneCode"/>
                            <button class="get-code-btn" id="get-code-btn">发送验证码</button>
                            <span class="errormsg" id="errormsg-phoneCode"></span>
                        </div>
                        <div class="item-row"><button type="submit"  id="next-btn" class="next-btn">提交</button></div>
                    </form>
                </div>
                    <!-- end validateEmail-->
            </div>
        </div>
    </div>
    <!--end validateEmail-->

}
