@(flash: java.util.Map[String, String])

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("title.my.data")</title>
    </head>
    <body>

        @if(flash.get("changeEmail")){
            <div>
                <form action="@controllers.user.routes.MySecurityController.changeEmailEnd()" method="post">
                    新邮箱：<input type="text" name="email" value=""/><br/>

                    <button type="button">发送验证邮件</button>

                    <button type="submit">提交</button>
                </form>

            </div>
        }else{
            页面已失效
        }

    </body>
</html>
