@(user:usercenter.models.User)

@import common.utils.StringUtils;

@myCenter(Messages("title.my.address")) {
    <script src="@routes.Assets.versioned("js/user-updatePw.js")"></script>
} {

    <!--user-phoneValidate-->
    <div class="phoneValidate">
        <div class="phoneValidate-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    <li><a href="index.html">首页</a></li>
                    <li>&gt;</li>
                    <li><a href="index.html">个人中心</a></li>
                    <li>&gt;</li>
                    <li>我的账户</li>
                    <li>&gt;</li>
                    <li>我的资料</li>
                </ul>
            </div>
            <div class="phoneValidate-container clearfix">
                @left("security")
                    <!-- user-phoneValidate -->
                <div class="phoneValidate-list first">
                    <h2>修改登录密码</h2>
                    <div class="phoneValidate-con">
                        <div class="step-bg"></div>
                        <ul class="clearfix">
                            <li class="highLight">验证身份</li>
                            <li>修改登录密码</li>
                            <li class="last">完成</li>
                        </ul>
                    </div>
                    <form action="" class="phoneValidate-first">
                        <input type="hidden" id="phoneNumber" value="@user.getPhone"/>
                        <p>已验证手机： <span class="userPhone">@StringUtils.getSecurityMobile(user.getPhone)</span></p>
                        <div class="form-item vcode-input">
                            <label for="phoneCode">请填写手机验证码：</label>
                            <input type="phoneCode" id="phoneCode" name="phoneCode" class="form-text phoneCode"/>
                            <button class="get-code-btn" id="get-code-btn">发送验证码</button>
                            <span class="errormsg" id="errormsg-phoneCode"></span>
                        </div>
                        <div class="item-row"><button type="submit"  id="next-btn" class="next-btn">提交</button></div>
                    </form>
                </div>
                    <!-- end phoneValidate-->
            </div>
        </div>
    </div>
    <!--end phoneValidate -->

}
