@(flash: java.util.Map[String, String])

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("title.my.data")</title>
    </head>
    <body>

        @if(flash.get("changePassword")){
            <div>
                <form action="@controllers.user.routes.MySecurityController.changePasswordEnd()" method="post">
                    旧密码：<input type="text" name="password" value=""/><br/>

                    新密码：<input type="text" name="newPassword" value=""/><br/>

                    验证新密码：<input type="text" name="rePassword" value=""/><br/>

                    <button type="submit">提交</button>
                </form>

            </div>
        }else{
            页面已失效
        }

    </body>
</html>
