@()

@main()() {
    <script src="@routes.Assets.versioned("js/FormValidate.js")"></script>
    <script src="@routes.Assets.versioned("js/login-reg.js")"></script>
    <script type="text/javascript">
        FG.user.login();
    </script>
} {

    <!--login-->
    <div class="login width1200">
        <div class="login-inner">
            <h2>用户登陆</h2>

            <div class="other-login clearfix">
                <a class="weixin" data-login-sns="@controllers.user.routes.LoginController.weixinLogin()" title="微信登陆">微信登陆</a>
                <a class="weibo" href="weibo-login.html" title="微博登陆">微博登陆</a>
                <a class="qq last" href="qq-login.html" title="qq登陆">qq登陆</a>

                <p class="both">使用以上社交网络账号登陆</p>
            </div>
            <p class="line">--------------------------<strong>或</strong>--------------------------</p>

            <form class="login-form" id="login-form">
                <div class="login-input">
                    <span class="ico ico1"></span>
                    <label for="username">手机号/用户名</label>
                    <input type="text" id="username" name="passport" autocomplete="off" class="text"/>
                    <span class="errormsg" id="errormsg-username"></span>
                </div>
                <div class="login-PW">
                    <span class="ico ico2"></span>
                    <label for="password">密码</label>
                    <input type="password" id="password" name="password" class="text"/>
                    <span class="errormsg" id="errormsg-password"></span>
                </div>
                <div><button type="submit"  id="login-btn" class="login-btn">登陆</button></div>
                <div class="login-remember">
                    <label for="rememberMe"><input type="checkbox" name="rememberMe" id="rememberMe" value="true" checked="true"/>记住我</label>
                    <a class="forgetPW" href="forgetPW">忘记密码？</a>
                </div>
            </form>
            <p class="not-reg">还没有账号？<a href="@controllers.user.routes.LoginController.registerPage()">注册</a></p>
        </div>
    </div>
    <!--end login-->


}