@(addressList:List[usercenter.models.address.Address])

@myCenter(Messages("title.my.address")) {
    <script src="@routes.Assets.versioned("js/selectArea.js")"></script>
    <script src="@routes.Assets.versioned("js/address.js")"></script>
} {

    <div class="address-manage">
        <div class="address-manage-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>收货地址</li>
                </ul>
            </div>
            <div class="order-manage-container clearfix">
                @left("address")
                <div class="address-list">
                    <h2>收货地址</h2>
                    @if(null != addressList && addressList.size > 0){
                        <div class="address-list-inner address-form-inner">
                            <ul class="clearfix">
                                @for(address <- addressList){
                                    <li @if(address.isDefaultAddress){class="current"} data-id="@address.getId" >
                                        <div class="receiver"><strong><span class="user">@address.getName</span> <span class="space"></span>收</strong><span class="default" data-id="@address.getId">@if(address.isDefaultAddress){默认地址}else{设置默认}</span></div>
                                        <div class="details-address">
                                            <p><span class="provice">@address.getProvince</span><span class="space"></span><span class="city">@address.getCity</span>
                                                <span class="space"></span><span class="area">@address.getArea</span>
                                            </p>
                                            <P class="location" title="@address.getLocation">@address.getLocation</P>
                                            <p class="phone">@address.getMobile</p>
                                        </div>
                                        <div class="edit-address">
                                            <span class="edit btn" data-id="@address.getId" >修改</span>
                                            @if(!address.isDefaultAddress){
                                                <span class="delete btn" data-id="@address.getId" >删除</span>
                                            }
                                        </div>

                                            <span class="current-ico" @if(!address.isDefaultAddress){style="display: none;"}></span>

                                    </li>
                                }
                                    <li class="add" @if(addressList.size >= 4){style="display: none;"}>
                                        <div class="add-ico"></div>
                                        <p>新增收货地址</p>
                                    </li>
                            </ul>
                        </div>
                    }else{
                    <div class="address-list-inner address-form-inner">
                        <ul class="clearfix" style="display: none;">
                            <li class="add">
                                <div class="add-ico"></div>
                                <p>新增收货地址</p>
                            </li>
                        </ul>

                        <div class="address-form">
                                <h3>新增收货地址</h3>
                                <form class="add-form">
                                    <div class="form-item">
                                        <label for="name"><b>*</b>收货人：</label>
                                        <input type="text" name="name" class="text name" id="name"/>
                                    </div>
                                    <div class="form-item area">
                                        <label><b>*</b>选择地区：</label>
                                        <select name="province" class="select">
                                        </select>
                                        <select name="city" class="select">
                                        </select>
                                        <select name="districts" class="select">
                                        </select>
                                    </div>
                                    <div class="form-item">
                                        <label for="location"><b>*</b>详细地址：</label>
                                        <input type="text" name="location" class="text location" id="location"/>
                                    </div>
                                    <div class="form-item">
                                        <label for="zipCode"><b>*</b>邮政编码：</label>
                                        <input type="text" name="zipCode" class="text zipCode" id="zipCode"/>
                                    </div>
                                    <div class="form-item">
                                        <label for="mobile"><b>*</b>手机号码：</label>
                                        <input type="text" name="mobile" class="text mobile" id="mobile"/>
                                    </div>
                                    <div class="form-item submit">
                                        <input type="submit" class="add-address-btn" value="保存收货地址"/>
                                        <div class="errormsg" id="addMsg"></div>
                                    </div>
                                </form>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>

}
