@(order:ordercenter.models.Order,logistics:ordercenter.models.Logistics,orderStateHistories:List[ordercenter.models.OrderStateHistory])


@myCenter(Messages("title.my.order.info")) {
    <script src="@routes.Assets.versioned("js/FormValidate.js")"></script>
    <script >
        $(".submit-btn").click(function(){
            var backReason = $('#backReason').val();
            if(backReason =="" || backReason.length>400){
                $.dialog ( {
                    title : '提示',
                    lock : true,
                    content : '<div class="warning-inner clearfix"><p class="warning"><i class="icon iconfont">&#xe60c;</i>内容不能为空或者大于400字！</p></div>',
                    width : 540,
                    height : 248,
                    drag : false,
                    btn: {
                      ok : {
                        val : '关闭',
                        type : 'red'
                        }
                    }
                }) ;
                return;
            }
            $.ajax ( {
                type : 'POST',
                url : '/my/back/submit',
                dataType : 'json',
                data: $('#back-order-form' ).serialize(),
                success : function ( data ) {
                    if ( data.result ) {
                        window.location.href = '/my/back';
                    }else{
                        $.dialog ( {
                            title : '提示',
                            lock : true,
                            content : '<div class="warning-inner clearfix"><p class="warning"><i class="icon iconfont">&#xe60c;</i>'+data.message+'</p></div>',
                            width : 540,
                            height : 248,
                            drag : false,
                            btn: {
                              ok : {
                                val : '关闭',
                                type : 'red'
                                }
                            }
                        } ) ;
                    }
                }
            } ) ;
        });
    </script>
} {
    <!--refund-order-manage-->
    <div class="order-manage">
        <div class="order-manage-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>售后服务</li>
                </ul>
            </div>
            <div class="order-manage-container clearfix">
                @left("back")
                    <!-- order-list -->
                <div class="all-order-list">
                    <div class="order-status">
                        <h2>申请退货</h2>
                    </div>
                    <div class="refund-order-info">
                        <h3>退货须知</h3>
                        <ul>
                            <li>1、客服人员接收相关申请后进行初步审核，并承诺收到退货后的1-2个工作日内回复审核结果，敬请耐心等待。</li>
                            <li>2、在退货申请得到初步审核确认通过后，请在3日内将商品寄回，若7个工作日内未收到寄回商品，则视为撤销退货，不予办理。</li>
                            <li>3、退货中心收到寄回商品，检测后符合条件的，我们将在7日内为您安排退款事宜，如遇国家法定节假日，则退款时间顺延。退款时间非退款到账时间。目前国内银行卡（支付宝为即时到账）退款到账时间为7天内（以各银行具体情况为准）。</li>
                            <li>4、退货地址：广东省深圳市南山区科兴科技园B2栋605室；邮编：518000；收件人：张先生</li>
                        </ul>
                    </div>
                    <div class="order-list refund-order-detail">
                        <form id="back-order-form" action="@controllers.user.routes.MyOrderController.backApplySubmit()" class="refund-order-content" method="POST">
                            <h3>退货商品</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="col1"></th>
                                        <th>商品信息</th>
                                        <th>细节</th>
                                        <th>单价</th>
                                        <th class="action-number">数量</th>
                                        <th>金额</th>
                                    </tr>
                                </thead>
                                <tbody class="product-list">
                                    @for((orderItem, index) <- order.getOrderItemList.zipWithIndex){
                                        <tr>
                                            <td>
                                                <a href="@controllers.product.routes.ProductController.detail(orderItem.getProductId+"-" + orderItem.getSkuId)" target="_blank" >
                                                    <img src="@orderItem.getMainPicture" alt="" height="147px" width="90px"/>
                                                </a>
                                            </td>
                                            <td class="pro">
                                                <div class="pro-info">
                                                    <p class="pro-name"><a href="@controllers.product.routes.ProductController.detail(orderItem.getProductId+"-" + orderItem.getSkuId)" target="_blank" >@orderItem.getProductName</a></p>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    @for(keyValue <- orderItem.getProperties){
                                                        <p>@keyValue.getPropertyName：@keyValue.getPropertyValue</p>
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <p class="actual-price">￥@orderItem.getCurUnitPrice.getAmountWithBigDecimal</p>
                                                </div>
                                            </td>
                                            <td>
                                                @orderItem.getNumber
                                            </td>
                                            <td class="col6">
                                            ￥@orderItem.getTotalPrice.getAmountWithBigDecimal
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td>商品总计：</td>
                                        <td class="total-price">￥@order.getTotalMoney.getAmountWithBigDecimal</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td>运费：</td>
                                        <td>￥0.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td>关税：</td>
                                        <td>￥0.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td class="refund-title">退货金额：</td>
                                        <td class="refund-price">￥@order.getTotalMoney.getAmountWithBigDecimal</td>
                                    </tr>
                                </tfoot>
                            </table>

                            <input type="hidden" name="orderId" value="@order.getId">
                            <h3>退货原因</h3>
                            <div class="backReason-wrap">
                                <textarea name="backReason" id="backReason" cols="30" rows="10" style="padding:10px;"></textarea>
                                <span class="text-limit">退货原因字数限<span class="limit">400</span>字</span>
                            </div>
                            <div class="form-item">
                                <button type="button" class="submit-btn">提交退货申请</button>
                            </div>
                        </form>
                    </div>
                </div>
                    <!-- end order-list-->
            </div>
        </div>
    </div>
    <!--end refund order-manage-->

}
