@(page:common.utils.page.Page[ordercenter.models.BackGoods])

@import ordercenter.models.BackGoodsState;
@import common.utils.DateUtils;

@myCenter(Messages("title.my.back")) {
    <script src="@routes.Assets.versioned("js/FormValidate.js")"></script>
    <script>
        $('table tbody').hover(function(){
            $(this).addClass('hover').siblings('tbody').removeClass('hover');
        },function(){
            $(this).removeClass('hover')
        })


        $ ( '.order-list .cancel' ).click ( function ( ) {
            var that = $ ( this ), backId = that.attr ( 'data-id' ) ;

            $.dialog ( {
                title : '提示',
                lock : true,
                content : '<div class="warning-inner clearfix"><p class="warning"><span class="warning-ico"></span>确定要删除取消该退货订单吗？</p></div>',
                width : 540,
                height : 248,
                drag : false,
                btn : {
                    ok : {
                        val : '确定',
                        type : 'red',
                        click : function ( btn ) {
                            $.ajax ( {
                                type : 'POST',
                                url : '/my/back/cancel?backId=' + backId,
                                dataType : 'json',
                                success : function ( data ) {
                                    if ( data.result ) {
                                        window.location.href = '/my/back';
                                    }
                                }
                            } ) ;
                        }
                    },
                    cancle : {
                        val : '取消'
                    }
                }
            } ) ;
        } ) ;
    </script>
} {

    <!--refund-order-manage-->
    <div class="order-manage">
        <div class="order-manage-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>售后服务</li>
                </ul>
            </div>
            <div class="order-manage-container clearfix">
                @left("back")
                    <!-- order-list -->
                <div class="all-order-list">
                    <div class="order-status">
                        <h2>售后服务</h2>
                    </div>
                    <div class="refund-order-info">
                        <h3>退货须知</h3>
                        <ul>
                            <li>1、客服人员接收相关申请后进行初步审核，并承诺收到退货后的1-2个工作日内回复审核结果，敬请耐心等待。</li>
                            <li>2、在退货申请得到初步审核确认通过后，请在3日内将商品寄回，若7个工作日内未收到寄回商品，则视为撤销退货，不予办理。</li>
                            <li>3、退货中心收到寄回商品，检测后符合条件的，我们将在7日内为您安排退款事宜，如遇国家法定节假日，则退款时间顺延。退款时间非退款到账时间。目前国内银行卡（支付宝为即时到账）退款到账时间为7天内（以各银行具体情况为准）。</li>
                            <li>4、退货地址：广东省深圳市南山区科兴科技园B2栋605室；邮编：518000；收件人：张先生</li>
                        </ul>
                    </div>
                    @if(page.getResult.size() > 0){
                        <div class="order-list refund">
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="3">商品</th>
                                        <th colspan="">退款金额</th>
                                        <th colspan="">售后单状态</th>
                                        <th colspan="">操作</th>
                                    </tr>
                                </thead>
                                @for(backOrder <- page.getResult) {
                                    <tbody>
                                        <tr class="space-row"><td colspan="6"></td></tr>
                                        <tr class="space-row"><td colspan="6"></td></tr>
                                        <tr class="order-hd">
                                            <td class="order-hd-first">售后订单号：<span class="order-number">@backOrder.getOrderNo</span></td>
                                            <td >订单号：<span class="order-number">@backOrder.getId</span></td>
                                            <td colspan="4" class="order-hd-last">下单时间：<span class="order-time">@DateUtils.printDateTime(backOrder.getCreateTime)</span></td>
                                        </tr>

                                        @for((backOrderItem, index) <- backOrder.getBackGoodsItemList.zipWithIndex){
                                            @if(index+1 == backOrder.getBackGoodsItemList.size()){
                                                <tr class="last">
                                            }else{
                                                <tr>
                                            }
                                            <td class="product-img">
                                                <a href="@controllers.product.routes.ProductController.detail(backOrderItem.getOrderItem.getProductId+"")" target="_blank">
                                                    <img src="@backOrderItem.getOrderItem.getMainPicture" alt="" height="147px" width="90px"/>
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <p><a href="@controllers.product.routes.ProductController.detail(backOrderItem.getOrderItem.getProductId+"")" target="_blank">@backOrderItem.getOrderItem.getProductName</a></p>
                                            </td>
                                            <td class="product-size">
                                                @for(keyValue <- backOrderItem.getOrderItem.getProperties){
                                                    <p>@keyValue.getPropertyName：@keyValue.getPropertyValue</p>
                                                }
                                            </td>

                                            @if(index == 0){
                                                <td rowspan="@backOrder.getBackGoodsItemList.size()" class="product-price">
                                                    ￥@backOrder.getBackPrice.getAmountWithBigDecimal
                                                </td>
                                                <td rowspan="@backOrder.getBackGoodsItemList.size()" class="order-detail">
                                                    <p>@backOrder.getBackState.userDesc(BackGoodsState.BackGoodsType.YetSend)</p>
                                                </td>
                                                <td rowspan="@backOrder.getBackGoodsItemList.size()" class="control">
                                                    @if(!backOrder.getBackState.checkCanNotCancelForUser()){
                                                        <p><span class="cancel" style="cursor: pointer" data-id="@backOrder.getId">取消</span></p>
                                                    }
                                                    <p><a href="@controllers.user.routes.MyOrderController.backContent(backOrder.getId)" class="details">查看详情</a></p>
                                                </td>
                                            }
                                        </tr>
                                        }
                                    </tbody>
                                }
                            </table>

                            @if(page.getTotalPage > 1){
                                <div class="order-page">
                                    <ul class="clearfix">
                                        <li>第<span class="current-page">@page.getPageNo</span>/<span class="total-page">@page.getTotalPage</span>页</li>
                                        @if(page.getPageNo > 1){
                                            <li><a href="@controllers.user.routes.MyOrderController.backIndex(page.getPageNo-1)">上一页</a></li>
                                        }else{
                                            <li>上一页</li>
                                        }
                                        @if( page.getTotalCount > (page.getPageSize * page.getPageNo) ){
                                            <li><a href="@controllers.user.routes.MyOrderController.backIndex(page.getPageNo+1)">下一页</a></li>
                                        }else{
                                            <li>下一页</li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    }else{
                         <div class="order-empty">
                            <p>您还没有售后订单记录，赶紧去 <a href="/">逛逛吧</a></p>
                        </div>
                    }
                </div>
                    <!-- end order-list-->
            </div>
        </div>
    </div>
    <!--end refund order-manage-->

}


