@(title: String = Messages("index.title"))(staticFile: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="utf-8" />
        <title>@title</title>
        <link rel='shortcut icon' href='@routes.Assets.versioned("images/fashiongeeker.ico")' />
        <link rel="stylesheet" href="@routes.Assets.versioned("css/base.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/dialog.css")"/>

    </head>

    <body>

        @header()

        @navigator("")

        @content

        @foot()

        <script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/common.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>

        @staticFile

    </body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255394214'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1255394214%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?073d5b8b70770381e5ea3718a95c696f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</html>
