@(userData:usercenter.models.UserData)

@myCenter(Messages("title.my.data")) {
    <script src="@routes.Assets.versioned("js/date.js")"></script>
    <script src="@routes.Assets.versioned("js/userinfo.js")"></script>
    <script>
        $(function(){
            new DateSelector("myBirthday", "myBirthDay_Month", "myBirthDay_Day", '@userData.getBirthdayY', '@userData.getBirthdayM', '@userData.getBirthdayD');
        });
    </script>
} {
    <!--user-info-->
    <div class="user-info">
        <div class="user-info-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>我的资料</li>
                </ul>
            </div>
            <div class="user-info-container clearfix">
                @left("data")
                    <!-- user-info-list -->
                <div class="user-info-list">
                    <h2>我的资料</h2>
                    <div class="user-info-container">
                        <form class="user-form">
                            <div class="form-item">
                                <label for="userName">用户名：</label>
                                <p>@userData.getUser.getUserName</p>
                            </div>
                            <div class="form-item">
                                <label for="name">姓名：</label>
                                <input type="text" name="name" class="text" id="name" value="@userData.getName"/>
                            </div>
                            <div class="form-item">
                                <label for="sex">性别：</label>
                                <label class="item"><input type="radio" @if(userData.getSex == 0) {
                                    checked="true"
                                } name="sex" id="" value="0"/>保密</label>
                                <label class="item"><input type="radio" @if(userData.getSex == 1) {
                                    checked="true"
                                } name="sex" id="" value="1"/>男</label>
                                <label class="item"><input type="radio" @if(userData.getSex == 2) {
                                    checked="true"
                                } name="sex" id="" value="2"/>女</label>
                            </div>
                            <div class="form-item">
                                <label for="birthday">生日：</label>
                                <select id="myBirthday" class="select" name="birthdayY"></select> 年
                                <select id="myBirthDay_Month" class="select" name="birthdayM"></select> 月
                                <select id="myBirthDay_Day" class="select" name="birthdayD"></select> 日
                            </div>
                            <div class="form-item">
                                <label for="phoneNumber">手机号码：</label>
                                @if(null == userData.getUser.getPhone || "".equals(userData.getUser.getPhone)){
                                    <p>您使用第三方登录，尚未绑定手机&nbsp;&nbsp;&nbsp;&nbsp;<a href="@controllers.user.routes.MySecurityController.changePhoneIndex()">立即绑定</a></p>
                                }else{
                                    <p>@userData.getUser.getPhone</p><a href="@controllers.user.routes.MySecurityController.changePhoneIndex()">更改</a>
                                }
                            </div>
                            <div class="form-item">
                                <input type="submit" class="submit-btn" value="提交"/><span class="errormsg" id="addMsg"></span>
                            </div>
                        </form>
                    </div>
                </div>
                    <!-- end user-info-list-->
            </div>
        </div>
    </div>
    <!--end user-info -->
}
