@(page:common.utils.page.Page[productcenter.models.ProductCollect])

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("my.favorites")</title>
    </head>
    <body>

        <div>
            <form action="@controllers.user.routes.MyFavoritesController.favoritesAdd()" method="post">
                <table>
                    <tr><td>商品ID</td><td><input type="text" name="productId" value=""></td></tr>
                    <tr><td>商品名称</td><td><input type="text" name="productName" value=""></td></tr>
                    <tr><td>商品价格</td><td><input type="text" name="unitPrice" value=""></td></tr>
                    <tr><td>商品主图</td><td><input type="text" name="productMainPicture" value=""></td></tr>
                    <tr><button type="submit">收藏</button></tr>
                </table>
            </form>
        </div>

        <hr>

        当前第几页 @page.getPageNo() <br/>
        总共有几页 @page.getTotalPage <br/>
        共有多少条数据 @page.getTotalCount <br/>

        @if(page.getPageNo > 1){
            <a href="@controllers.user.routes.MyFavoritesController.favoritesIndex(page.getPageNo()-1,page.getPageSize)">上一页</a>
        }

        @if( page.getTotalCount > (page.getPageSize * page.getPageNo) ){
            <a href="@controllers.user.routes.MyFavoritesController.favoritesIndex(page.getPageNo()+1,page.getPageSize)">下一页</a>
        }

        <hr>
            <table>
                <tr>
                    <td>商品ID</td>
                    <td>商品名</td>
                    <td>商品价格</td>
                    <td></td>
                </tr>
                @for(pc <- page.getResult){
                    <tr>
                        <td>@pc.getProductId</td>
                        <td>@pc.getProductName</td>
                        <td>@pc.getUnitPrice</td>
                        <td>
                            <form action="@controllers.user.routes.MyFavoritesController.favoritesDel(pc.getProductId)" method="post">
                                <button type="submit">删除</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
    </body>
</html>
