@(page:common.utils.page.Page[ordercenter.models.Order],queryType:Int)

@import ordercenter.constants.OrderState;
@import common.utils.DateUtils;

@myCenter(Messages("title.my.order")) {
    <script src="@routes.Assets.versioned("js/FormValidate.js")"></script>
    <script>
        $('table tbody').hover(function(){
            $(this).addClass('hover').siblings('tbody').removeClass('hover');
        },function(){
            $(this).removeClass('hover')
        });

        var html = '<div class="cancel-order clearfix"><p>主人~这么辛苦抢来的商品，取消订单后就被别人抢走啦~能告诉我们取消订单原因吗？</p>'+
            '<p class="check-box"><label><input type="radio" name="canceltype" value="0" />改选其他商品</label></p>'+
             '<p class="check-box"><label><input type="radio" name="canceltype" value="1" />收货信息/商品错误</label></p>'+
             '<p class="check-box"><label><input type="radio" name="canceltype" value="2" />优惠券使用问题</label></p>'+
             '<p class="check-box"><label><input type="radio" name="canceltype" value="3" />支付遇到问题</label></p>'+
             '<p class="check-box"><label><input type="radio" name="canceltype" value="4" />不想买了</label></p>'+
             '<p class="check-box"><label><input type="radio" name="canceltype" value="5" />其他原因</label></p>'+
             '<p class="tip-msg"></p>'+
        '</div>';

          //删除购物车
    $('.order-list .cancel').click(function(){
        var that = $(this),orderId = that.attr('data-id');

        $.dialog({
            title:'提示',
            lock:true,
            content:html,
            width:540,
            height:308,
            drag:false,
            btn: {

                cancle: {
                    val: '关闭'
                },
                 ok: {
                    val: '确定',
                    type: 'red',
                    click: function(btn) {
                    if($('input[type=radio]:checked').size() == 0){
                        $('.tip-msg').text('*请选择一个选项');
                        return false;
                    }
                        $.ajax({
                            type: 'POST',
                            url:'/my/order/cancel?orderId='+orderId+'&cancelType='+$('input[type=radio]:checked').val(),
                            dataType: 'json',
                            success: function (data) {
                                if(data.result){
                                    that.parents('tbody').find('.not-pay').text('已取消').removeClass('not-pay');
                                     that.parents('tbody').find('.control').html('');
                                }
                            }
                        });
                    }
                }
            }
        });
    });


    </script>
} {

    <!--order-manage-->
    <div class="order-manage">
        <div class="order-manage-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>订单管理</li>
                </ul>
            </div>
            <div class="order-manage-container clearfix">
                @left("order")
                    <!-- order-list -->
                <div class="all-order-list">
                    <div class="order-status">
                        <ul class="clearfix">
                            <li @if(queryType == 0){ class="current" }><a href="@controllers.user.routes.MyOrderController.index()">所有订单</a></li>
                            <li @if(queryType == 1){ class="current" }><a href="@controllers.user.routes.MyOrderController.index(1)">待收货</a></li>
                            <li @if(queryType == 2){ class="current" }><a href="@controllers.user.routes.MyOrderController.index(2)">待评价</a></li>
                        </ul>
                    </div>
                    @if(page.getResult.size() > 0){
                        <div class="order-list">
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="3">商品</th>
                                        <th colspan="">订单金额</th>
                                        <th colspan="">订单状态</th>
                                        <th colspan="">操作</th>
                                    </tr>
                                </thead>
                                @for(order <- page.getResult) {
                                    <tbody>
                                        <tr class="space-row"><td colspan="6"></td></tr>
                                        <tr class="order-hd">
                                            <td class="order-hd-first">订单号：<span class="order-number">@order.getOrderNo</span></td>
                                            <td>收货人：<span class="user">@order.getAddressName</span></td>
                                            <td colspan="4" class="order-hd-last">下单时间：<span class="order-time">@DateUtils.printDateTime(order.getCreateTime)</span></td>
                                        </tr>

                                        @for((orderItem, index) <- order.getOrderItemList.zipWithIndex){
                                            @if(index+1 == order.getOrderItemList.size()){
                                                <tr class="last">
                                            }else{
                                                <tr>
                                            }
                                            <td class="product-img">
                                                <a href="@controllers.product.routes.ProductController.detail(orderItem.getProductId+"-"+orderItem.getSkuId)" target="_blank" >
                                                    <img src="@orderItem.getMainPicture" alt="" height="147px" width="90px"/>
                                                </a>
                                            </td>
                                            <td class="pro product-name">
                                                <p><a href="@controllers.product.routes.ProductController.detail(orderItem.getProductId+"-"+orderItem.getSkuId)" target="_blank" >@orderItem.getProductName</a></p>
                                            </td>
                                            <td class="product-size">
                                            @for(keyValue <- orderItem.getProperties){
                                                <p>@keyValue.getPropertyName：@keyValue.getPropertyValue</p>
                                            }
                                            </td>

                                            @if(index == 0){
                                                <td rowspan="@order.getOrderItemList.size()" class="product-price">
                                                    ￥@order.getTotalMoney.getAmountWithBigDecimal
                                                </td>
                                                <td rowspan="@order.getOrderItemList.size()" class="order-detail">
                                                    @if(order.getOrderState.getName.equals(OrderState.Create.getName)){
                                                        <p class="not-pay">@order.getOrderState.getValue</p>
                                                    }else{
                                                        <p>@order.getOrderState.getValue</p>
                                                    }
                                                    <p><a href="@controllers.user.routes.MyOrderController.orderContent(order.getId)">订单详情</a></p>
                                                </td>
                                                <td rowspan="@order.getOrderItemList.size()" class="control">
                                                    @if(order.getOrderState.getName.equals(OrderState.Create.getName)){
                                                        <p><a href="@controllers.shop.routes.OrderAndPayController.toOrderPlay(order.getId)" class="pay">立即付款</a></p>
                                                    }
                                                    @if(order.getOrderState.getName.equals(OrderState.Send.getName)){
                                                        <p><a href="@controllers.user.routes.MyOrderController.orderReceiving(order.getId)" class="confirm">确认收货</a></p>
                                                    }
                                                    @if(order.getOrderState.getName.equals(OrderState.Receiving.getName)){
                                                        <p><a href="@controllers.user.routes.MyOrderController.orderAppraise(order.getId)" class="confirm">评价</a></p>
                                                    }
                                                    @if(order.getOrderState.getName.equals(OrderState.Create.getName)){
                                                        <p><span class="cancel" style="cursor: pointer" data-id="@order.getId">取消</span></p>
                                                    }
                                                    @if(order.isBackGoodsl){
                                                        <p><a href="@controllers.user.routes.MyOrderController.backApply(order.getId)" >申请退货</a></p>
                                                    }

                                                </td>
                                            }
                                        </tr>
                                        }
                                    </tbody>
                                }
                            </table>

                            @if(page.getTotalPage > 1){
                                <div class="order-page">
                                    <ul class="clearfix">
                                        <li>第<span class="current-page">@page.getPageNo</span>/<span class="total-page">@page.getTotalPage</span>页</li>
                                        @if(page.getPageNo > 1){
                                            <li><a href="@controllers.user.routes.MyOrderController.index(queryType,page.getPageNo-1)">上一页</a></li>
                                        }else{
                                            <li>上一页</li>
                                        }
                                        @if( page.getTotalCount > (page.getPageSize * page.getPageNo) ){
                                            <li><a href="@controllers.user.routes.MyOrderController.index(queryType,page.getPageNo+1)">下一页</a></li>
                                        }else{
                                            <li>下一页</li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    }else{
                        <div class="order-empty">
                            @{
                                if(queryType == 1){
                                        <p>您还没有待收货的记录</p>
                                }else if(queryType == 2){
                                        <p>您还没有待评论的记录</p>
                                }else{
                                        <p>您还没有订单记录，赶紧去 <a href="/">逛逛吧</a></p>
                                }
                            }
                        </div>
                    }

                </div>
                    <!-- end order-list-->
            </div>
        </div>
    </div>
    <!--end order-manage-->

}


