@(order:ordercenter.models.Order)

@import common.utils.DateUtils;

@myCenter(Messages("title.my.order.appraise")) {
    <script src="@routes.Assets.versioned("js/FormValidate.js")"></script>
    <script src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>
    <script>

$(function(){
    $('.not-comment').click(function(){

        var valArr = $(this).parents('tbody').find('.add-comment');
        if($(this).parents('tr').hasClass('current')) {return false};
        if(valArr.length>0){
            $(this).parents('tbody').find('.add-comment').remove();
            $(this).parents('tr').siblings('tr').removeClass('current');
        }


        $(this).parents('tr').addClass('current').after("<tr class='add-comment'><td colspan='5'><div class='select-comment'><span class='label'>评价：</span> <label><input type='radio' name='comment' value='0'>好评</label><label>" +
        "<input type='radio' name='comment' value='1'>中评</label><label><input type='radio' name='comment' value='2'>差评</label><span class='select-info'>请选择评价结果</span></div>" +
        "<div class='comment-textarea'><span class='label'>内容：</span><textarea name='comment-content' id='comment-content'>商品满意吗？来分享你的使用感受吧~</textarea> <span class='text-limit'>评价字数限<span class='limit'>300</span>字</span><span class='content-info'>请填写评价内容</span></div>" +
        "<div class='comment-confirm'><span class='comment-submit'>评价</span></div></td></tr>");

        var commentCon= $('#comment-content').val();
        $('#comment-content').focus(function(){
        if($(this).val() == commentCon){
            $(this).val('');
        }
        }).blur(function(){
            if($(this).val() == ''){
                $(this).val(commentCon);
            }
        });

        $('.comment-submit').click(function(){
            var currentTr = $(this).parents('.add-comment').siblings('.current').find('.not-comment');
            var orderItemId = currentTr.siblings('.orderItemId').val(),
            productId = currentTr.siblings('.productId').val(),that = this;

            var comment =  $('input[name="comment"]:checked').val();
            var contentText,t= new Date();
            switch (comment){
                case '0':
                contentText = "好评";
                break;
                case '1':
                contentText = "中评";
                break;
                case '2':
                contentText = "差评";
                break;
            }

            if(!contentText){
                 $.dialog({
                    title:'提示',
                    padding:0,
                    lock:true,
                    content:'<div class="warning-inner clearfix"><p class="warning"><i class="icon iconfont">&#xe602;</i>请选择评价结果！</p></div>',
                    width:540,
                    height:248,
                    btn: {
                      ok : {
                        val : '关闭',
                        type : 'red',
                        }
                    }
                });
                return;
            }


            var commentCon= $('#comment-content').val();
            if(commentCon == ""||commentCon == "商品满意吗？来分享你的使用感受吧~"|| commentCon.length>300){
                $.dialog({
                    title:'提示',
                    lock:true,
                    padding:0,
                    content:'<div class="warning-inner clearfix"><p class="warning"><i class="icon iconfont">&#xe602;</i>评价内容不能为空或者大于300字</p></div>',
                    width:540,
                    height:248,
                      btn: {
                      ok : {
                        val : '关闭',
                        type : 'red',
                        }
                    }
                });
                return;
            }

            $.ajax({
                url:'/my/valuation/add',
                type:'POST',
                data:{
                orderItemId:orderItemId,
                productId:productId,
                point:comment,
                content:commentCon
            },
            success: function (response) {
                if (response.result) {

                    var currentComBtn = $(that).parents('.add-comment').siblings('.current').find('.not-comment');
                    currentComBtn.unbind('click');
                    currentComBtn.text('查看评价').removeClass('not-comment').addClass('showComment');
                    //添加评价内容
                    currentComBtn.after('<div class="comment-con" style="display: none;">' +
                     '<ul><li class="clearfix"><span>评价时间：</span>'+t.getFullYear()+'-'+(t.getMonth()+1)+'-'+t.getDate()+' '+t.getHours()+':'+t.getMinutes()+':'+t.getSeconds()+'</li>' +
                      '<li class="clearfix"><span>评价结果：</span>'+contentText+'</li>' +
                       '<li class="clearfix commenter"><span>评价内容：</span>'+commentCon+'</li>' +
                       '</ul></div>');
                     $(that).parents('.add-comment').siblings('tr').removeClass('current');
                      $('.add-comment').fadeOut(300,function(){
                        $('.add-comment,.arc').remove();
                      });

                    }else{
                        $.dialog({
                            title:'提示',
                            lock:true,
                            content:'<div class="warning-inner clearfix"><p class="warning"><i class="icon iconfont">&#xe602;</i>'+response.message+'</p></div>',
                            width:540,
                            height:248,
                            btn: {
                              ok : {
                                val : '关闭',
                                type : 'red',
                                }
                            }
                        });
                    }
                }
            });
        });

    });

    //默认触发第一个评论
    $('.not-comment:first').trigger('click');


    //显示评论
    $('.comment-box').on('mouseenter mouseout','.showComment',function(evt){
        var curScrollTop = $(window).scrollTop();
        var offset = $(this).offset();
        if(evt.type == 'mouseenter'&& $('.show-comment').size()==0){
            $('<div>',{
                "class":'show-comment',
                "html":$(this).siblings('.comment-con').html(),
                "css":{
                    'position':'absolute',
                    'display':'none',
                    'width':'400',
                    'overflow':'hidden',
                    'padding':'10px',
                    'background':'#fdf2f4',
                    'border':'1px solid #FF2D54',
                    'top':parseInt(offset.top)+40,
                    'left':parseInt(offset.left)-355
                }

            }).appendTo('body').fadeIn();
        }else{
             $('.show-comment').remove();
        }
    });


});

    </script>
} {
    <!--order-comment-->
    <div class="order-comment">
        <div class="order-comment-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li><a href="@controllers.user.routes.MyOrderController.index()" >订单管理</a></li>
                    <li>&gt;</li>
                    <li>评价</li>
                </ul>
            </div>
            <table class="order-comment-container">
                <thead>
                    <tr>
                        <th></th>
                        <th>商品信息</th>
                        <th>细节</th>
                        <th>单价</th>
                        <th>评价</th>
                    </tr>
                </thead>
                <tbody>
                    @for(orderItem <- order.getOrderItemList){
                        <tr>
                            <td>
                                <a href="@controllers.product.routes.ProductController.detail(orderItem.getProductId+"-" + orderItem.getSkuId)" target="_blank" >
                                    <img class="lazy"   data-original="@orderItem.getMainPicture" src="/assets/images/grey.gif" alt="" height="154px" width="90px"/>
                                </a>
                            </td>
                            <td>
                                <p><a href="@controllers.product.routes.ProductController.detail(orderItem.getProductId+"-" + orderItem.getSkuId)" target="_blank" >@orderItem.getProductName</a></p>
                            </td>
                            <td>
                                @for(keyValue <- orderItem.getProperties){
                                    <p>@keyValue.getPropertyName：@keyValue.getPropertyValue</p>
                                }
                            </td>
                            <td>
                                ￥@orderItem.getCurUnitPrice.getAmountWithBigDecimal
                            </td>
                            <td class="comment-box">
                                @if(orderItem.isAppraise){
                                    <span class="showComment">查看评价</span>
                                    <div class="comment-con">
                                        @if(null != orderItem.getValuation){
                                            <ul>
                                                    <li class="clearfix"><span>评价时间：</span><p>@DateUtils.printDateTime(orderItem.getValuation.getCreateDate)</p></li>
                                                @if(orderItem.getValuation.getPoint == 0){
                                                    <li class="clearfix"><span>评价结果：</span><p>好评</p></li>
                                                }
                                                @if(orderItem.getValuation.getPoint == 1){
                                                    <li class="clearfix"><span>评价结果：</span><p>中评</p></li>
                                                }
                                                @if(orderItem.getValuation.getPoint == 2){
                                                    <li class="clearfix"><span>评价结果：</span><p>差评</p></li>
                                                }
                                                <li class="clearfix commenter"><span>评价内容：</span><p>@orderItem.getValuation.getContent</p></li>
                                            </ul>
                                        }
                                    </div>
                                }else{
                                    <span class="not-comment">发表评论</span>
                                    <span class="arc"></span>
                                    <input type="hidden" name="orderItemId" class="orderItemId" value="@orderItem.getId"/>
                                    <input type="hidden" name="productId" class="productId" value="@orderItem.getProductId"/>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--end order-comment-->

}
