@(order:ordercenter.models.Order)

@import common.utils.DateUtils;

@myCenter(Messages("title.my.address")) {
    <script src="@routes.Assets.versioned("js/FormValidate.js")"></script>
    <script>

    $(function(){

    $('.not-comment').click(function(){
    var valArr = $(this).parents('tbody').find('.add-comment');
    if($(this).parents('tr').hasClass('current')) {return false};
    if(valArr.length>0){
    $(this).parents('tbody').find('.add-comment').remove();
    $(this).parents('tr').siblings('tr').removeClass('current');
    }


    $(this).parents('tr').addClass('current').after("<tr class='add-comment'><td colspan='5'><div class='select-comment'><span class='label'>评价：</span> <label><input type='radio' name='comment' value='0'>好评</label><label>" +
    "<input type='radio' name='comment' value='1'>中评</label><label><input type='radio' name='comment' value='2'>差评</label><span class='select-info'>请选择一个评价</span></div>" +
    "<div class='comment-textarea'><span class='label'>内容：</span><textarea name='comment-content' id='comment-content'>商品满意吗？来分析你的使用感受吧~</textarea> <span class='text-limit'>评价字数限<span class='limit'>300</span>字</span><span class='content-info'>请根据实际填写相关内容</span></div>" +
    "<div class='comment-confirm'><span class='comment-submit'>评价</span></div></td></tr>");

    var commentCon= $('#comment-content').val();
    $('#comment-content').focus(function(){
    if($(this).val() == commentCon){
    $(this).val('');
    }
    }).blur(function(){
    if($(this).val() == ''){
    $(this).val(commentCon);
    }
    });

    $('.comment-submit').click(function(){
    var currentTr = $(this).parents('.add-comment').siblings('.current').find('.not-comment');
    var orderItemId = currentTr.siblings('.orderItemId').val(),
    productId = currentTr.siblings('.productId').val();

    var comment =  $('input[name="comment"]:checked').val();
    if(comment){
    console.log(comment);
    }else{
    console.log('请选择一个评价');
    }

    var commentCon= $('#comment-content').val();

    $.ajax({
    url:'/my/valuation/add',
    type:'POST',
    data:{
    orderItemId:orderItemId,
    productId:productId,
    point:comment,
    content:commentCon
    },
    success: function (response) {
    if (response.result) {

    $(this).parents('.add-comment').siblings('tr').removeClass('current');
    $('.add-comment').remove();
    }
    },
    error: function () {

    }
    });


    });

    });


    //显示评论
    $('.showComment').hover(function(){

    $(this).siblings('.comment-con').show();
    },function(){
    $(this).siblings('.comment-con').hide();
    });










    });

    </script>
} {
    <!--order-comment-->
    <div class="order-comment">
        <div class="order-comment-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    <li><a href="index.html">首页</a></li>
                    <li>&gt;</li>
                    <li><a href="index.html">个人中心</a></li>
                    <li>&gt;</li>
                    <li><a href="@controllers.user.routes.MyOrderController.index()" >订单管理</a></li>
                    <li>&gt;</li>
                    <li>评价</li>
                </ul>
            </div>
            <table class="order-comment-container">
                <thead>
                    <tr>
                        <th></th>
                        <th>商品信息</th>
                        <th>细节</th>
                        <th>单价</th>
                        <th>评价</th>
                    </tr>
                </thead>
                <tbody>
                    @for(orderItem <- order.getOrderItemList){
                        <tr>
                            <td><img src="@orderItem.getMainPicture" alt="" height="154px" width="90px"/></td>
                            <td>
                                <p>@orderItem.getProductName</p>
                            </td>
                            <td>
                                @for(keyValue <- orderItem.getProperties){
                                    <p>@keyValue.getPropertyName：@keyValue.getPropertyValue</p>
                                }
                            </td>
                            <td>
                                ￥@orderItem.getCurUnitPrice.getAmountWithBigDecimal
                            </td>
                            <td class="comment-box">
                                @if(orderItem.isAppraise){
                                    <span class="showComment">已评价</span>
                                    <div class="comment-con">
                                        @if(null != orderItem.getValuation){
                                            <ul>
                                                @if(orderItem.getValuation.getPoint == 0){
                                                    <li>【好评】发表于：@DateUtils.printDateTime(orderItem.getValuation.getCreateDate)</li>
                                                }
                                                @if(orderItem.getValuation.getPoint == 1){
                                                    <li>【中评】发表于：@DateUtils.printDateTime(orderItem.getValuation.getCreateDate)</li>
                                                }
                                                @if(orderItem.getValuation.getPoint == 2){
                                                    <li>【差评】发表于：@DateUtils.printDateTime(orderItem.getValuation.getCreateDate)</li>
                                                }
                                                <li>【评语】:@orderItem.getValuation.getContent</li>
                                            </ul>
                                        }
                                    </div>
                                }else{
                                    <span class="not-comment">发表评论</span>
                                    <span class="arc"></span>
                                    <input type="hidden" name="orderItemId" class="orderItemId" value="@orderItem.getId"/>
                                    <input type="hidden" name="productId" class="productId" value="@orderItem.getProductId"/>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--end order-comment-->

}
