@(user:usercenter.models.User)

@import common.utils.StringUtils;

@myCenter(Messages("title.my.security")) {
 <script src="@routes.Assets.versioned("js/jquery.iDialog.min.js")"></script>
 <script>
 $('#noPhone').click(function(){
    $.dialog({
        title:'提示',
        lock:true,
        content:'<div><p style="text-align: center;font-size: 16px;padding: 30px 40px 0 40px;">在验证邮箱前，请先绑定手机号</p><a href="/my/security/bindPhone/index" style="display:block;padding:10px 20px;text-align:center;background:#000;color:#fff;margin:30px auto 0;width:100px;">立即验证手机</a></div>',
        width:500,
        height:200,
        padding:"20"
    });
 });
 </script>
} {
    <!--user-info-->
    <div class="user-info">
        <div class="user-info-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>账号安全</li>
                </ul>
            </div>
            <div class="user-info-container clearfix">
                @left("security")
                    <!-- user-info-list -->
                <div class="user-info-list">
                    <h2>账号安全</h2>
                    <div class="account-safe-con">
                        <div class="item @if(!"KRQ".equals(user.getAccountType.getName)){off}" >
                            @if(!"KRQ".equals(user.getAccountType.getName)){
                                <span class="status"></span><p class="item-detail">登录密码</p><p class="item-info">您是第三方登录，无需设置密码</p>
                            }else{
                                <span class="status on"></span><p class="item-detail">登录密码</p><p class="item-info">登录密码能够保证您的账户安全，让你购物更放心</p>
                                <p class="btn-wrap"><a href="@controllers.user.routes.MySecurityController.changePasswordIndex()" class="btn">修改</a></p>
                            }
                        </div>
                        <div class="item @if(null == user.getPhone || "".equals(user.getPhone)){off}">
                            @if(null == user.getPhone || "".equals(user.getPhone)){
                                <span class="status"></span><p class="item-detail">验证手机</p><p class="item-info">您使用第三方登录，尚未绑定手机</p>
                                <p class="btn-wrap"><a href="@controllers.user.routes.MySecurityController.bindPhoneIndex()" class="btn">绑定</a></p>
                            }else{
                                <span class="status on"></span><p class="item-detail">验证手机</p><p class="item-info">您验证的手机：@StringUtils.getSecurityMobile(user.getPhone)</p>
                                <p class="btn-wrap"><a href="@controllers.user.routes.MySecurityController.changePhoneIndex()" class="btn">修改</a></p>
                            }
                        </div>
                        <div class="item @if(null == user.getEmail || "".equals(user.getEmail)){off}">
                            @if(null == user.getEmail || "".equals(user.getEmail)){
                                <span class="status"></span><p class="item-detail">验证邮箱</p><p class="item-info">您邮箱还没有验证，为了您的安全，请验证！</p>
                                @if(null == user.getPhone || "".equals(user.getPhone)){
                                    <p class="btn-wrap"><span class="btn" id="noPhone">立即验证</span></p>
                                }else{
                                    <p class="btn-wrap"><a href="@controllers.user.routes.MySecurityController.changeEmailIndex()" class="btn">立即验证</a></p>
                                }
                            }else{
                                <span class="status on"></span><p class="item-detail">验证邮箱</p><p class="item-info">您验证的邮箱：@user.getEmail</p>
                                <p class="btn-wrap"><a href="@controllers.user.routes.MySecurityController.changeEmailIndex()" class="btn">修改邮箱</a></p>
                            }

                        </div>
                    </div>
                </div>
                    <!-- end user-info-list-->
            </div>
        </div>
    </div>
    <!--end user-info -->
}
