@(page:common.utils.page.Page[productcenter.models.ProductCollect])

@myCenter(Messages("title.my.favorites.product")){

    <script>
        $(function(){
            $('.likeProduct-list li').hover(function(){
                $(this).addClass('current');
            },function(){
                $(this).removeClass('current');
            });
        });

        $('.del' ).click(function(){
            var id = $(this).attr('data-id'),that = $(this);
            $.ajax({
                type:'post',
                url:'/my/favorites/product/del?productId='+id,
                success:function(res){
                    if(res.result){
                        that.parent().remove();
                    }else{
                        alert("删除失败");
                    }
                }
            });
        });
    </script>

} {

    <!--user-likeProduct-->
    <div class="likeProduct">
        <div class="likeProduct-inner width1200">
            <div class="bread-nav">
                <ul class="clearfix">
                    @myCenterTop()
                    <li>喜欢的商品</li>
                </ul>
            </div>
            <div class="likeProduct-container clearfix">
                @left("product")

                <div class="likeProduct-list first">
                    <h2>喜欢的商品</h2>
                    <ul class="clearfix likeProduct-box">
                        @for(pc <- page.getResult){
                            <li>
                                <a href="@controllers.product.routes.ProductController.detail(pc.getProductId.toString)"><img src="@pc.getProductPic" alt="@pc.getProductName" width="235px" height="384px"/></a>
                                <p class="title">@pc.getProductName</p>
                                <span class="del" data-id="@pc.getProductId"></span>
                            </li>
                        }
                    </ul>

                    @if(page.getTotalPage > 1){
                        <div class="likeProduct-page">
                            <ul class="clearfix">
                                <li>第<span class="current-page">@page.getPageNo</span>/<span class="total-page">@page.getTotalPage</span>页</li>
                                @if(page.getPageNo > 1){
                                    <li><a href="@controllers.user.routes.ProductFavoritesController.index(page.getPageNo-1)">上一页</a></li>
                                }else{
                                    <li>上一页</li>
                                }
                                @if( page.getTotalCount > (page.getPageSize * page.getPageNo) ){
                                    <li><a href="@controllers.user.routes.ProductFavoritesController.index(page.getPageNo+1)">下一页</a></li>
                                }else{
                                    <li>下一页</li>
                                }
                            </ul>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
    <!--end validateEmail-->
}
