@(flash: java.util.Map[String, String])

@main() {
    <script src="@routes.Assets.versioned("js/FormValidate.js")"></script>
    <script src="@routes.Assets.versioned("js/forget-pw.js")"></script>
    <script>
        FG.user.forgetSecPw();
    </script>
} {

    @if(flash.get("phone")){
        <div class="forget-pw-sec width1200">
            <div class="forget-pw-sec-inner">
                <h3>找回密码</h3>
                <div class="forget-pw-step">
                    <div class="step-bg"></div>
                    <ul class="clearfix">
                        <li class="highLight">填写账号</li>
                        <li class="highLight">验证身份</li>
                        <li>重置密码</li>
                        <li class="last">成功</li>
                    </ul>
                </div>
                <form class="forget-pw-sec-form" id="forget-pw-sec-form">
                    <input type="hidden" id="phoneNumber" value="@flash.get("phone")"/>
                    <p>尚客已向你的手机号码 <span class="userPhone"></span>发送了验证码短信，请及时查看</p>
                    <div class="item-row vcode-input">
                        <label for="phoneCode">短信验证码</label>
                        <input type="phoneCode" id="phoneCode" name="imageCode" class="form-text phoneCode"/>
                        <button class="get-code-btn" id="get-code-btn">获取验证码</button>
                        <span class="errormsg" id="errormsg-phoneCode"></span>
                    </div>
                    <div class="item-row"><button type="submit"  id="next-btn" class="next-btn">下一步</button></div>
                </form>
            </div>
        </div>
    }else{
        跳转验证失败，不能手动跳本页面<br/>
        <a href="@controllers.user.routes.RecoverController.recoverIndex()" >返回忘记密码首页</a>
    }

}