/* CSS Reset test */
html,body,h1,h2,h3,h4,h5,h6,p,br,form,input,button,textarea,select,ul,ol,li,dl,dt,dd,pre{margin:0;padding:0;}
html,body{font:normal normal 12px/1.5em 'Microsoft Yahei',SimSun,Tahoma,Arial;color:#4a4a4a;background:#fff;}
body {min-width: 1200px;color: #4a4947;}
html{_background-attachment:fixed;}
a{text-decoration:none;color:#4a4a4a;}
a:hover{text-decoration:underline;}
textarea,select,input,button,label{vertical-align:middle}
ol,ul,li{list-style-type:none;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
button::-moz-focus-inner{border:none;padding:0;}
h4{font-size:12px;}
:focus{outline:none;}
.clear{border:0;clear:both;display:block;float:none;font-size:0;margin:0;padding:0;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.width1200{width:1200px;margin:0 auto;overflow: hidden;}
.left{float:left}
.right{float:right;}
.both{clear:both;}
.btn{cursor:pointer;-moz-transition:.3s linear;-webkit-transition:.3s linear;-o-transition:.3s linear;transition:.3s linear;}
.btn:hover{box-shadow: 4px 4px 20px #b4b2b2;}
.form-text{width:280px;padding-left: 8px;border:1px solid #ccc;height: 32px;line-height: 32px;}
.form-text-error {border-color: #FF2D54;}
.form-input-tip{  position: absolute;  background-color: #f5f5f5;  padding: 4px 0;  color: #999;width: 290px;}

.e-btn {
    color: #4a4a4a;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.e-btn:focus,
.e-btn:active:focus,
.e-btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.e-btn:hover,
.e-btn:focus {
    color: #333;
    text-decoration: none;
}

.e-btn:active,
.e-btn.active {
    background-image: none;
    outline: 0;
}
.btn-grey {
    color: #4a4a4a;
    background-color: #f0f0f0;
    border-color: #ddd;
}
.btn-default {
    color: #fff;
    background-color: #FF2D54;
    border-color: #e85650;
}
/*top*/
.top{background: #f3f7f6;height:40px;width: 100%;}
.top .left h1{font-size:12px;line-height: 40px;font-weight: normal;}
.top .right{margin-top: 10px;}
.top .right .btn{padding:8px 10px;margin-right:15px;}
.space{padding: 0 4px;}
/*end top*/
/*header*/
.header{height:200px;width: 100%;border-bottom: 1px solid #c6c6c6;}
.header .nav{margin-left:83px;}
.header li{float:left;height:70px;margin-top:128px;margin-right:111px;}
.header li a{float:left;width: 100%;height: 100%;font-size:16px;line-height: 70px;padding:0 20px;text-align: center;
    text-decoration: none;
}
.header li .current,.header li a:hover{border-bottom:2px solid #FF2D54;}
.header .last{margin-right: 0;}
.header .logo{height: 200px;margin-top:0;margin-right:55px;width: 290px;background: url("../images/logo.png") no-repeat;}
.header .logo a{padding: 0;width: 290px;text-indent: -9999px;}
.header .logo a:hover{border-bottom: none;}
/*end header*/
/*index slider-box*/
.slider-box{margin-bottom: 70px;}
.slider-box-inner{width: 100%;margin: 0 auto;height: 614px;position: relative;}
.slider-box-inner .slider-box-img{position: relative;width: 100%;margin: 0 auto 10px;height: 501px;overflow:hidden}
.slider-box-inner .slider-box-img .item{position: absolute;height: 501px;background: #fff;width: 100%;text-align: center;}
.slider-box-inner .slider-box-img ul{position: absolute;left: 0;top: 0;width: 300%;overflow: hidden;}
.slider-box-inner .slider-box-nav li{float: left;height: 501px;overflow: hidden;}
.slider-box-inner .sliderArrows .png_bg{position: absolute;top: 50%;margin-top:-104px;width:40px;height:108px;background: url("../images/slider-btn.png") no-repeat;
    cursor: pointer;text-indent: -9999px;z-index: 50;
}
.slider-box-inner .sliderArrows .next{right:0;background-position: -40px 0;}
.slider-box-inner .slider-box-nav{width: 100%;height: 113px;background:#d9d9d9;overflow: hidden;padding-top: 10px;}
.slider-box-inner .sliderBullets ul{width: 1220px;height: 103px;overflow: hidden;margin: 0 auto;}
.slider-box-inner .sliderBullets li{float: left;margin-right: 15px;position: relative;cursor: pointer;width:390px;height:103px;overflow: hidden;}
.sliderBullets li .cover{position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: #000;opacity: .4;}
.sliderBullets .current .cover{top: 103px;}
/*end index slider-box*/
/*index start-fashion*/
.start-fashion{margin-bottom: 40px;}
.start-fashion-inner h2{font-size: 30px;font-weight: normal;margin-bottom: 10px;text-align: center;height: 40px;line-height: 40px;}
.start-fashion-inner .info{text-align: center;margin-bottom: 30px;font-size: 14px;}
.start-fashion-inner li{float: left;position:relative;cursor:pointer;margin: 0 4px 20px;overflow: hidden;-moz-transition:.3s linear;-webkit-transition:.3s linear;-o-transition:.3s linear;transition:.3s linear;}
.start-fashion-inner  li:hover{box-shadow: 4px 4px 20px #b4b2b2;}
.start-fashion-inner li a{position: absolute;width: 100%;height: 100%;left: 0;top: 0;}
.start-fashion-inner .img{width: 590px;height: 275px;position: relative;overflow:hidden;}
.start-fashion-inner .img .time{position: absolute;width: 300px;left:50%;top:220px;margin-left:-150px;background: #000;opacity: .5;color: #fff;
    padding: 8px 0;text-align: center; border-radius: 20px;font-size: 14px;
}
.start-fashion-inner .img .time-detail{margin:  0 8px;padding-left: 28px;background: url("../images/start-ico.png") no-repeat 0 0;}
.start-fashion-inner .title{height: 60px;width: 590px;background: #f1f3f5;overflow: hidden;}
.start-fashion-inner .title img{float: left;padding: 0 20px 0 50px;}
.start-fashion-inner .title p{overflow:hidden;font-size: 14px;margin: 10px 0;height: 40px;line-height: 40px;padding-left: 15px;border-left: 1px solid #fff;}
.start-fashion-inner .designer{margin: 0 8px;}

/*preview*/
.start-fashion-inner li{position: relative;height: 335px;overflow: hidden;}
.start-fashion-inner .cover{position: absolute;width: 590px;height:650px;background: #000;opacity: .7;top: 650px;left: 0;}
.start-fashion-inner .cover-info{position:absolute;width: 590px;height:650px;top: 650px;left: 0;}
.start-fashion-inner .like{padding: 4px 4px 4px 20px;background: #ffffff;border-radius: 10px;width: 60px;height: 20px;
    right: 30px;top: 40px;left: auto;opacity: 1;text-align: center;color: #FF2D54;
}
.start-fashion-inner .like:hover{text-decoration: none;}
.start-fashion-inner .cover-info input{height:20px;padding: 8px 4px;border: 1px solid #fff;color: #000;width: 200px; position: absolute;
    top:150px;left: 100px;font-size: 16px;font-weight: 700;
}
.start-fashion-inner .cover-info .remind-btn{position: absolute;width: 80px;font-size: 14px;height: 30px;line-height: 30px;background: #000000;
    color: #fff;padding: 5px 10px;text-align: center;top: 150px;right: 150px;cursor: pointer;
}
.start-fashion-inner .cover-info .remind-btn:hover{color: #FF2D54;}
/*preview*/
/*end index start-fashion*/
/*fashion-box*/
.fashion-box{width: 100%;background: #f1f3f5;padding-bottom: 75px;margin-bottom: 20px;}
.fashion-box h2{text-align: center;font-size: 30px;font-weight: normal;height: 40px;line-height: 40px;margin: 50px 0 10px 0;}
.fashion-box .en-info,.fashion-box .cn-info{font-size: 14px;}
.fashion-box .cn-info{margin-bottom: 50px;}
.fashion-box img{display: block;}
.fashion-box-inner li{float: left;margin: 0 4px 20px;position:relative;width: 390px;height:310px;cursor: pointer;
    overflow: hidden;-moz-transition:.3s linear;-webkit-transition:.3s linear;-o-transition:.3s linear;transition:.3s linear;}
.fashion-box-inner li:hover{box-shadow: 4px 4px 20px #b4b2b2;}
.fashion-box-inner .info{height: 70px;background: #fff;width: 390px;}
.fashion-box-inner p{text-align: center;padding: 8px 0;}
.fashion-box-inner .designer{margin: 0 8px;}
.fashion-box-inner .time{padding-top: 4px;}
.fashion-box-inner .time-detail{margin-right: 8px;padding-left: 22px;background: url("../images/fashion-ico.png") no-repeat 0 0;}
.fashion-box-inner a{}
.fashion-box-inner a:hover{text-decoration: none;}
/*preview*/
.fashion-box-inner .cover{position: absolute;width: 390px;height:310px;background: #000;opacity: .7;top: 310px;left: 0;}
.fashion-box-inner .cover-info{position:absolute;width: 390px;height:310px;top: 310px;left: 0;}
.fashion-box-inner .like{position:absolute;padding: 4px 4px 4px 20px;background: #ffffff;border-radius: 10px;width: 60px;height: 20px;
    right: 30px;top: 40px;left: auto;opacity: 1;text-align: center;color: #FF2D54;
}
.fashion-box-inner .like:hover{text-decoration: none;}
.fashion-box-inner  .cover-info input{height:20px;padding: 8px 4px;border: 1px solid #fff;color: #000;width: 200px; position: absolute;
    top:150px;left: 90px;font-size: 16px;font-weight: 700;
}
.fashion-box-inner  .cover-info .remind-btn{position: absolute;width: 80px;font-size: 14px;height: 30px;line-height: 30px;background: #000000;
    color: #fff;padding: 5px 10px;text-align: center;top: 210px;right: 150px;cursor: pointer;
}
.fashion-box-inner  .cover-info .remind-btn:hover{color: #FF2D54;}
/*end preview*/
/*end fashion-box*/
/* index empty-box*/
.empty-box{margin-bottom: 40px;}
.empty-box h2{text-align: center;font-size: 30px;font-weight: normal;height: 40px;line-height: 40px;margin: 10px 0 20px 0;}
.empty-box .info{font-size: 14px;text-align: center;margin-bottom: 40px;}
.empty-box-inner li{width: 291px;height: 437px;overflow: hidden;position: relative; cursor: pointer;
    float: left;margin: 0 4px 20px;-moz-transition:.3s linear;-webkit-transition:.3s linear;-o-transition:.3s linear;transition:.3s linear;}
.empty-box-inner li:hover{box-shadow: 4px 4px 20px #b4b2b2;}
.empty-box-inner .double{width: 590px;height: 437px;overflow: hidden}
.empty-box-inner img{display: block;}
.empty-box-inner .title{position: absolute;top: 437px;background: #fff;width: 291px;padding: 10px 0;height: 50px;opacity: .7;}
.empty-box-inner .double .title{width: 594px;}
.empty-box-inner .title p{text-align: center;color: #000;padding-bottom: 5px;}
.empty-box-inner .time-detail{margin-right: 8px;padding-left: 22px;background: url("../images/fashion-ico.png") no-repeat 0 0;}
/*preview*/
.empty-box-inner .cover{position: absolute;width: 291px;height:437px;background: #000;opacity: .7;top: 437px;left: 0;}
.empty-box-inner .double .cover{width: 590px;}
.empty-box-inner .cover-info{position:absolute;width: 291px;height:0;top: 437px;left: 0;}
.empty-box-inner .double .cover-info{width: 590px;}
.empty-box-inner .like{position:absolute;padding: 4px 4px 4px 20px;background: #ffffff;border-radius: 10px;width: 60px;height: 20px;
    right: 30px;top: 40px;left: auto;opacity: 1;text-align: center;color: #FF2D54;
}
.empty-box-inner .like:hover{text-decoration: none;}
.empty-box-inner  .cover-info input{height:20px;padding: 8px 4px;border: 1px solid #fff;color: #000;width: 200px; position: absolute;
    top:200px;left: 40px;font-size: 16px;font-weight: 700;
}
.empty-box-inner .double  .cover-info input{left: 130px;}
.empty-box-inner .cover-info .remind-btn{position: absolute;width: 80px;font-size: 14px;height: 30px;line-height: 30px;background: #000000;
    color: #fff;padding: 5px 10px;text-align: center;top: 270px;right: 100px;cursor: pointer;
}
.empty-box-inner .double .remind-btn{top: 200px;}
.empty-box-inner .cover-info .remind-btn:hover{color: #FF2D54;}
/*preview*/
/* end index empty-box*/
/*login*/
.login{margin-bottom: 50px;}
.login-inner{width:630px;margin:50px auto;height: 460px;background:#f5f5f5;border-radius: 10px;padding: 50px 0 30px 0;}
.login-inner h2{height:30px;text-align: center;font-weight: normal;font-size: 25px;padding-bottom:20px;}
.login-inner .other-login,.reg-box-inner .other-login{width:302px;margin: 0 auto;}
.login-inner .other-login a,.reg-box-inner .other-login a{float:left;width:54px;height: 60px;background: url("../images/other-login.png") no-repeat;
    text-indent: -9999px;
    margin-right: 70px;
}
.login-inner .other-login .last,.reg-box-inner .other-login .last{margin-right: 0;}
.login-inner .other-login .weibo,.reg-box-inner .other-login .weibo{background-position: 0 -71px;}
.login-inner .other-login .qq,.reg-box-inner .other-login .qq{background-position: 0 -143px;}
.login-inner .other-login a:hover,.reg-box-inner .other-login a:hover{background-position: -59px 0;}
.login-inner .other-login .weibo:hover,.reg-box-inner .other-login .weibo:hover{background-position: -59px -71px;;}
.login-inner .other-login .qq:hover,.reg-box-inner .other-login .qq:hover{background-position: -59px -143px;}
.login-inner .other-login p,.reg-box-inner .other-login p{padding:20px 0 0 70px;font-size: 14px;}
.login-inner .line{text-align:center;padding:25px 0;}
.login-inner .line strong,.reg-box-inner .line strong{font-size: 18px;font-weight: normal;}
.login-inner .login-form,.reg-box-inner .reg-first{width:290px;margin: 0 auto;}
.login-inner .text{width:250px;padding-left: 38px;border:1px solid #ccc;height: 32px;line-height: 32px;}
.login-inner .login-input,.login-inner .login-PW{position: relative;}
.login-inner .ico{position: absolute;width: 17px;height: 17px;background: url(../images/login-icon.png) no-repeat;}
.login-inner .ico1{left: 12px;top: 10px;}
.login-inner .ico2{background-position:0 -40px;left: 12px;top: 10px;}
.login-inner .login-input label,.login-inner .login-PW label{position:absolute;left: 40px;top:7px;color:#a1a1a1;}
.login-inner .errormsg,.reg-box-inner .errormsg,
.forget-pw-fir-form .errormsg,
.forget-pw-sec-form .errormsg,.forget-pw-thr-form .errormsg,.phoneValidate-list .errormsg,.updatePw-list .errormsg,.validateEmail-list .errormsg{height: 18px;padding: 4px 0 4px 34px;line-height: 20px;
    color: #FF2D54;display: block;
}
.login-inner .login-btn,.reg-box-inner .reg-btn{width: 290px;height: 34px;background: #000;text-align: center;color:#fff;border: none;
    font-weight: 700;cursor: pointer;
}
.login-inner .login-form .login-remember{width:280px;margin-top: 18px;text-align: right;}
.login-form .login-remember label{float:left;}
.login-inner .not-reg{margin-top:32px;margin-left:480px;font-size: 12px;}
.login-inner .not-reg a,.reg-box-inner .not-user a{color:#FF2D54;}
/*end login*/
/*reg*/
.reg-box{margin-bottom: 50px;}
.reg-box-inner{width:630px;margin:50px auto;height: 460px;background:#f5f5f5;border-radius: 10px;padding: 50px 0 30px 0;}
.reg-box-inner h2{height:30px;text-align: center;font-weight: normal;font-size: 25px;padding-bottom:20px;}
.reg-box-inner .reg-form div,.forget-pw-fir-form div,.item-row{position: relative;width: 290px;margin: 0 auto;}
.reg-box-inner .reg-form .phone-code-input{width: 150px;}
.reg-box-inner .reg-form label,.forget-pw-fir-form label,.forget-pw-sec-form label,.forget-pw-thr-form label{
    position: absolute;color: #a1a1a1;top: 8px;left: 8px;
}
.reg-box-inner .reg-form .get-code-btn,
.forget-pw-fir-form .next-btn,
.forget-pw-sec-form .next-btn,
.forget-pw-sec-form .get-code-btn,.forget-pw-thr-form .next-btn,.forget-pw-fou-inner .next-btn{background:#F3F3F3;height:34px;width:110px;text-align: center;
    border: 1px solid #ccc;margin-left: 15px;color: #FF2D54;cursor: pointer;
}
.reg-box-inner .errormsg {padding-left:8px;}
.reg-box-inner .protocol{padding: 20px 0; text-align: center;}
.reg-box-inner .protocol a{color: #FF2D54;}
.reg-box-inner .line{text-align: center;}
.reg-box-inner .other-login p{padding-bottom: 20px;}
.reg-box-inner .not-user{margin-top:2px;margin-left:517px;font-size: 12px;}
/*end reg*/

/*order-submit*/
.order-submit{margin-bottom: 50px;}
.order-step,.mycart-step,.pay-step{width:600px;height: 100px;margin:35px auto 0;}
.order-step .step-bg{height:20px;width: 541px;background: url("../images/step-bg.gif") no-repeat;margin: 0 auto; }
.order-step ul,.mycart-step ul,.pay-step ul{margin-top: 15px;width: 630px;}
.order-step li,.mycart-step li,.pay-step li{float:left;height: 30px;line-height: 30px;font-size: 15px;margin-right: 200px;color:#FF2D54;}
/*.order-step .current,.mycart-step .current{margin-right: 170px;}*/
.order-step .last,.mycart-step .last,.pay-step .last{width:90px;margin-right: 0;color:#000;}
.order-submit h3,.mycart-list h3{font-size: 15px;font-weight: normal;margin-bottom: 20px;}
.order-submit .select-address,.order-submit .confirm-product{margin-bottom: 30px;}
.order-submit .select-address ul{width:1214px;}
.order-submit .select-address li,.address-list li{
    float: left;padding: 20px;width: 249px;border:1px solid #cccccc;margin-right: 10px;
}
.order-submit .select-address .current,.order-submit .select-address .highLight,.address-list .current,.address-list .highLight
{position:relative;border:1px solid #FF2D54;}
.order-submit .select-address .default,.address-list .default{display: none;cursor: pointer;}
.order-submit .select-address .current .default,.order-submit .select-address .highLight .default,
.address-list .current .default,.address-list .highLight .default {display: block;}
.order-submit .select-address .add,.address-list .add{height: 121px;position: relative;cursor: pointer;}
/*.order-submit .select-address .last{margin-right:0;}*/
/*.order-submit .select-address  .current-ico{display: none;}*/
.order-submit .select-address .current .current-ico,.order-submit .select-address .highLight .current-ico,
.address-list .highLight .current-ico,.address-list .current .current-ico
{
    position: absolute;width: 31px;height: 30px;
    background: url("../images/default-ico.gif") no-repeat;right: 0;bottom: 0;
}

.select-address .add .add-ico,.select-address .add p,.address-list .add p,.address-list .add .add-ico{position: absolute;}
.select-address .add .add-ico,.address-list .add .add-ico{width: 51px;height: 51px;background: url("../images/address-addd-ico.gif") no-repeat;
    left: 50%;top: 50%;margin:-25px 0 0 -25px;
}
.select-address .add p,.address-list .add p{  top: 113px;left: 107px;}
.select-address .receiver,.address-list .receiver{padding-bottom: 8px;border-bottom: 1px solid #ccc;text-align: left;margin-bottom: 8px;}
.select-address .default,.address-list .default{float: right;}
.select-address .details-address,.address-list .details-address{margin-bottom: 8px;}
.select-address .details-address p,.address-list .details-address p{
    padding-bottom: 2px;
    white-space: nowrap;
    width: 100%;                  /* IE6 需要定义宽度 */
    overflow: hidden;
    -o-text-overflow: ellipsis;    /* Opera */
    text-overflow:    ellipsis;    /* IE, Safari (WebKit) */
}
.select-address .edit-address .btn,.address-list .edit-address .btn{cursor: pointer;}
.select-address .edit-address .edit,.address-list .edit-address .edit{margin-right: 20px;}

.confirm-product table,.mycart-list table{width: 1199px;text-align: center;vertical-align: middle;}
.confirm-product th,.mycart-list th{padding-bottom: 10px;}
.confirm-product tr,.mycart-list thead,.mycart-list tbody tr{border-bottom: 1px solid #e5e5e5;}
.mycart-list .toDelete{border:1px solid #fd2049;}
.confirm-product td{}
.confirm-product table .col1,.mycart-list table .col1{width: 100px;}
.confirm-product .actual-price,.mycart-inner .actual-price{color: #FF2D54;}
.total{margin-bottom: 20px;width: 100%;overflow: hidden;}
.total-info{float:left;width: 747px;padding-left: 30px;}
.total-info h3{color: #FF2D54;overflow: hidden;}
.total-info img{float: left;margin-top: 20px;margin-right: 22px;}
.total-info p{overflow: hidden;color: #FF2D54;line-height: 200%;width:450px;}
.total table{float:right;text-align: center;vertical-align: middle;width:350px;}
.total table td{padding: 10px 0;}
.total table .last {border-top:1px solid  #e5e5e5;}
.total .actual-pay-money{color: #FF2D54;font-size: 15px;}
.order-btn{text-align: right;}
.order-btn .order-submit-btn,.mycart-inner .toOrder,.pay-inner .pay-money-btn{float: right;width:410px;height: 80px;text-align: center;line-height: 80px;
    background: #000;font-size: 14px;color: #fff;cursor: pointer;
}
/*end order-submit*/

/*mycart*/
.mycart{margin-bottom: 50px;}
.mycart-empty{margin: 50px auto 0;}
.mycart-empty a{color: #fd2049;}
.mycart-step li{color:#000;}
.mycart-step .current{color: #FF2D54;}
.mycart-step .step-bg{height:20px;width: 541px;background: url("../images/step-bg-mycart.gif") no-repeat;margin: 0 auto;}
.mycart-inner .mycart-empty p{height: 52px;width: 200px; line-height: 52px;padding-left: 70px;text-align: center;
    background: url("../images/cart-ico.gif") no-repeat; margin: 0 auto;
}
.mycart-inner .mycart-empty a{color: #FF2D54;}
.mycart-inner .amount,.refund-order-detail .amount{line-height:24px;height:30px;position:relative;padding-left:87px;}
.mycart-inner .amount .btn-sub,.mycart-inner .amount .btn-add,.mycart-inner .amount .text-number,.refund-order-detail .amount .btn-sub,.refund-order-detail .amount .btn-add,
.refund-order-detail .amount .text-number
{width:14px;height:22px;line-height:22px;
    border:1px solid #e6e6e6;text-align:center;background-color:#fff;}
.mycart-inner .amount .btn-sub span,.mycart-inner .amount .btn-add span,.refund-order-detail .amout .btn-sub span,.refund-order-detail .amount .btn-add span{display:block;width:14px;height:22px;}
.mycart-inner .amount .btn-sub,.mycart-inner .amount .btn-add,.refund-order-detail .btn-sub,.refund-order-detail .amount .btn-add{cursor:pointer;position:absolute;top:0;}
.mycart-inner .amount .btn-sub,.refund-order-detail .amount .btn-sub{left:72px}
.mycart-inner .amount .btn-add,.refund-order-detail .amount .btn-add{left:117px}
.mycart-inner .amount .btn-add:hover,.mycart-inner .amount .btn-sub:hover,.refund-order-detail .amount .btn-add:hover,.refund-order-detail .amount .btn-sub:hover{width:28px;height:33px;top:-6px;}
.mycart-inner .amount .btn-add:hover span,.mycart-inner .amount .btn-sub:hover span,.refund-order-detail .amount .btn-add:hover span,.refund-order-detail .amount .btn-sub:hover span
{width:28px;height:33px;line-height:33px;font-size:20px;font-family:"Microsoft Yahei",STHeiti;}
.mycart-inner .amount .btn-sub:hover,.refund-order-detail .amount .btn-sub:hover{left:62px}
.mycart-inner .amount .btn-add:hover,.refund-order-detail .amount .btn-add:hover{left:112px}
.mycart-inner .amount .text-number,.refund-order-detail .amount .text-number{float:left;width:30px;border-width:1px 0}
.mycart-inner .amount a:hover,.refund-order-detail .amount a:hover{text-decoration:none}
.mycart-inner .amount .btn-sub,.refund-order-detail .amount .btn-sub{border-width:1px;}
.mycart-inner .amount .text-number,.refund-order-detail .amount .text-number{width:30px}
.mycart-inner .action {width: 100px;}
.mycart-inner tfoot tr{height:100px; border-bottom: none;}
.mycart-inner .action-number{width: 200px;}
.mycart-inner .total-price{color: #FF2D54;}
.mycart-inner .toOrder{width: 200px;}
/*end mycart*/

/*pay*/
.pay-inner,.pay-success{margin-bottom: 100px;}
.pay-step li{color: #FF2D54;}
.pay-step .step-bg{height:20px;width: 541px;background: url("../images/step-bg-pay.gif") no-repeat;margin: 0 auto;}
.pay-step .last{color: #FF2D54;}
.pay-inner .pay-info,.pay-success-inner .pay-success-info{margin-left: 148px;margin-top: 30px;margin-bottom: 20px;}
.pay-inner .pay-info h3,.pay-success-inner h3,.pay-fail h3{height: 32px;line-height: 32px;font-size: 16px;padding-left: 40px;
    background: url("../images/pay-title-ico.gif") no-repeat left center;margin-bottom: 10px;
}
.pay-fail h3{background: url("../images/pay-fail.gif") no-repeat;}
.pay-inner p,.pay-success-info p{font-size: 14px;line-height: 32px;text-indent: 34px; color: #4a4947;}
.pay-inner .pay-list{margin-left:100px;border:1px solid #cccccc;padding: 38px 90px 80px;}
.pay-inner .pay-list h3{font-weight: normal;border-bottom: 1px solid #cccccc;padding-bottom: 8px;}
.pay-inner .pay-list h4{font-weight: normal;}
.pay-inner .pay-list .total-money{color: #FF2D54;font-size: 20px;}
.pay-inner .list{padding:10px 0;}
.pay-inner .list li{position:relative;float:left;width:138px;height:42px;margin-right:32px;padding:10px 0 10px 40px;cursor:pointer;}
.pay-inner .list li i{position:absolute;margin:14px 0 0 -22px;width:12px;height:12px;background:url("../images/form-radio.png") no-repeat 0 0;}
.pay-inner .list .current i{background-position:0 -20px;}
.pay-inner .list img{border:1px solid #ddd;}
.pay-inner .default-pay li{float:left;width:120px;height:40px;}
.pay-inner .default-pay .more-payBank{width:180px;line-height:40px;cursor:default;padding-left: 0}
.pay-inner .default-pay .more-payBank a{color:#FF2D54;}
.pay-inner .more-list{display: none;}
.pay-inner .pay-money-btn{float: left;width: 150px;height: 40px;line-height: 40px;margin-left:20px;}

.pay-success-inner .pay-success-info{margin-top: 60px;}
.pay-success-inner .pay-success-info a{display: block;margin: 0 0 0 32px;}
.pay-success-inner .pay-success-info a:hover{text-decoration: none;}
.pay-success-inner .pay-success-info .check-order{color: #FF2D54;font-size: 13px;margin-bottom: 10px;}
.pay-success-inner .pay-success-info .continueShopping,.pay-success-inner .pay-success-info .rePay{width: 150px;height: 40px;line-height: 40px;background: #000;color: #fff;
    text-align: center;padding: 0;
}
/*end pay*/

/*forget-pw*/
.forget-pw-fir,.forget-pw-sec,.forget-pw-thr,.forget-pw-fou{margin-bottom: 100px;}
.forget-pw-fir-inner h3,.forget-pw-sec-inner h3,.forget-pw-thr-inner h3,.forget-pw-fou-inner h3{margin:30px 0 40px 30px;}
.forget-pw-fir-inner .forget-pw-step{}
.forget-pw-fir-inner .forget-pw-step .step-bg,
.forget-pw-sec-inner .step-bg,
.forget-pw-thr-inner .step-bg,.forget-pw-fou-inner .step-bg{width: 620px;height: 20px;margin: 0 auto;
    background: url("../images/forget-pw-stepbg.gif") no-repeat;
}
.forget-pw-sec-inner .step-bg{
    background-position: 0 -20px;
}
.forget-pw-thr-inner .step-bg{
    background-position: 0 -40px;
}
.forget-pw-fou-inner .step-bg{
    background-position: 0 -60px;
}
.forget-pw-fir-inner .forget-pw-step ul,.forget-pw-sec-inner ul,
.forget-pw-thr-inner ul,.forget-pw-fou-inner ul{width: 668px;margin: 10px auto 60px;height: 30px;line-height: 30px;}
.forget-pw-fir-inner .forget-pw-step li,.forget-pw-sec-inner .forget-pw-step li,
.forget-pw-thr-inner .forget-pw-step li,.forget-pw-fou-inner .forget-pw-step li{float: left;margin-right: 150px;font-size: 14px;}
.forget-pw-fir-inner .forget-pw-step .highLight,.forget-pw-sec-inner .highLight,.forget-pw-thr-inner .highLight,.forget-pw-fou-inner .highLight{color: #FF2D54;}
.forget-pw-fir-inner .forget-pw-step .last,.forget-pw-sec-inner .forget-pw-step .last,
.forget-pw-thr-inner .forget-pw-step .last,.forget-pw-fou-inner .forget-pw-step .last{margin-right: 0;}
.forget-pw-fir-form,.forget-pw-sec-form{width: 620px;margin: 0 auto;}
.forget-pw-fir-form .username-input{}
.forget-pw-fir-form .vcode{width: 140px;}
.forget-pw-fir-form .code{width: 110px;height: 34px;margin-left: 30px;vertical-align: middle;cursor: pointer;}
.forget-pw-fir-form .next-btn,.forget-pw-sec-form .next-btn,.forget-pw-thr-form .next-btn,.forget-pw-fou-inner .next-btn
{width:290px;background: #000000;border: none;color: #fff;margin-left: 0;}
.forget-pw-fir-form .errormsg{padding-left: 0;}
.forget-pw-fou-inner .next-btn{display: block;line-height: 34px;}
.forget-pw-sec-form p,.forget-pw-fou-inner p{text-align: center;height: 34px;line-height: 34px;margin-bottom: 30px;}
.forget-pw-sec-form .phoneCode{width: 150px;}
/* end forget-pw*/

/*detail*/
.detail{margin-bottom: 50px;}
.detail-inner .left{width: 803px;overflow: hidden;}
 .bread-nav {height: 58px;line-height: 58px;}
 .bread-nav li {float: left;margin-right: 18px;}
 .bread-nav a:hover {color: #FF2D54;text-decoration: none;}
.detail-inner .info{width: auto;border: 1px solid #cccccc;text-align: center;padding:42px 60px;margin-bottom: 32px;}
.detail-inner .info h2,.detail-inner .info h3{font-weight: normal;}
.detail-inner .info h2{padding: 10px 0;}
.detail-inner .info h3{padding-bottom: 10px;width: 400px;margin:0 auto;border-bottom: 1px solid #cccccc;}
.detail-inner .info p{margin-top:10px;line-height: 32px;font-size: 13px;}
.detail-inner .video{width: 803px;height: 536px;overflow: hidden;margin-bottom: 32px;}
.detail-inner .container{margin-bottom: 32px;display: none;}
.detail-inner .img-list{width: 803px; overflow: hidden;}
.detail-inner .img-list .open-detail,.detail-inner .img-list .hide-detail{padding: 14px 0;width: auto;
    text-align: center;border: 1px solid #cccccc;
    margin-bottom: 20px;cursor: pointer;
}
.detail-inner .img-list .hide-detail{display: none;}
.detail-inner .comment-header{width: auto;height: 48px;line-height:48px;border: 1px solid #eaeaea;background: #f8f8f8;
    margin-bottom: 30px;
}
.detail-inner .comment-header li{float: left;margin-right:30px;position: relative;font-size: 14px;padding:0 20px;
    cursor: pointer;
}
/*.detail-inner .comment-header i{position: absolute;width: 14px;height: 14px;*/
    /*background: url("../images/detail/comment-ico.gif") no-repeat 0 -14px;left:0; top:18px;*/
/*}*/
.detail-inner .comment-header .current{color: #FF2D54;background: #fff;border-top:2px solid #FF2D54;border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;}
.detail-inner .comment-header .first{border-left: none;}
/*.detail-inner .comment-header .current i{background-position: 0 0;}*/
.detail-inner .comment-list{border-top:1px solid #eaeaea;margin-bottom: 20px;}
.detail-inner .img-list img{margin-bottom: 20px;}
.detail-inner .comment-item{border-bottom:1px solid #eaeaea;border-top: none;padding: 10px 30px 20px 30px;}
.detail-inner .comment-item .comment-content{height: 90px;overflow: hidden;margin-top:15px;}
.detail-inner .comment-item .comment-content div{float: left;}
.detail-inner .comment-item .comment-content img{margin-bottom: 8px;display: block;width: 47px;height: 45px;overflow: hidden;}
.detail-inner .comment-item .comment-content .star{text-align: center;}
.detail-inner .comment-item .comment-title{height: 34px;line-height: 34px;text-align: right;}
.detail-inner .comment-item .comment-title .user{float: left;}
.detail-inner .comment-item .comment-img{width: 50px;height: 90px;overflow: hidden;margin-right: 20px;padding-top: 5px;}
.detail-inner .container .comment-page{padding-left:553px;}
.detail-inner .container .comment-page li{float:left;margin-right: 10px;}
.detail-inner .container .comment-page a:hover{text-decoration: none;}
.detail-inner .right{width: 373px;}
#right-fixed{position: absolute;top: 241px;margin-left: 837px;}
.detail-inner .debut-img{width: 373px;height: 226px;margin:58px 0 23px 0; }
.debut-info,.detail-size-color{padding-bottom: 32px;border-bottom: 1px solid #e5e5e5;*height:1%;}
.debut-info .debut-info-left{float: left;width:180px;}
.debut-info-left p{line-height: 34px;font-size: 12px;}
.debut-info-left .start-price{color: #FF2D54;font-size: 20px;}
.debut-info-left .debut-time{padding-left: 25px;background: url("../images/detail/time-ico.gif") no-repeat 0 8px;}
.debut-info .debut-info-right{float: right;width:180px;position: relative;}
.debut-info-right p{}
.debut-info-right .market-price{background: url("../images/detail/tip.gif") no-repeat 65px 0;cursor: pointer;text-decoration: line-through;padding-right: 80px;line-height: 34px;height: 34px;}
.debut-info-right .current{background-position: 65px -16px;}
.debut-info-right .info-tip{position: absolute;width: 163px;height: 38px;background:url("../images/detail/tip-box.gif") no-repeat;
    font-size: 12px;padding: 8px 5px 2px 6px;left: 0;top: 27px;color: #7b7b7b;display: none;
}
.detail-size-color{padding: 35px 0;}
.detail-size-color .detail-size{padding-bottom: 28px;*height:1%;}
#choose-sku dl{margin-bottom: 12px;}
#choose-sku dt{margin-bottom: 4px;}
#choose-sku dd{float: left;margin: 8px 8px 0 0;padding: 3px 14px;border: 1px solid #cccccc;cursor:pointer;}
.detail-size-color .disabled{color: #ccc;}
.detail-size-color .selected{background: #FF2D54;color: #ffffff;border: 1px solid #fd2049;}
.detail-quantity{padding: 25px 0;overflow: hidden;*height:1%;}
.detail-quantity dt{margin-bottom: 12px;}
.detail-quantity .amount{line-height: 28px;height:30px;position: relative}
.detail-quantity .amount .btn-sub,
.detail-quantity .amount .btn-add,
.detail-quantity .amount .text-number{width: 28px;height: 28px;line-height: 22px;border: 1px solid #bebebe;
    text-align: center;font-weight: 700;background:#eeeeee; }
.detail-quantity .amount .btn-sub span,
.detail-quantity .amount .btn-add span{display: block;width: 28px;height: 28px;font-size: 20px;}
.detail-quantity .amount .btn-sub,
.detail-quantity .amount .btn-add{position: absolute;top: 0;}
.detail-quantity .amount .btn-sub{left:0}
.detail-quantity .amount .btn-add {left: 73px}
.detail-quantity .amount .btn-add:hover,
.detail-quantity .amount .btn-sub:hover{width:34px;height:34px;top:-4px;}
.detail-quantity .amount .btn-add:hover span,
.detail-quantity .amount .btn-sub:hover span{width:34px;height:34px;line-height: 34px;font-size: 20px;font-family:"Microsoft Yahei",STHeiti;}
.detail-quantity .amount .btn-sub:hover{}
.detail-quantity .amount .text-number{float: left;width: 30px;border-width: 1px 0;margin-left: 30px;_display:inline;}
.detail-quantity .amount a:hover{text-decoration: none}
.detail-quantity .amount .btn-sub{border-width:1px;}
.detail-quantity .amount .text-number{width:43px;background: #fff;font-weight: normal;}
.detail-btn{height: 38px;padding: 4px 0 30px 0; border-bottom: 1px solid #e5e5e5;margin-bottom: 30px;*height:1%;}
.detail-btn span{padding: 10px 40px;background: #000000;border:1px solid #000;color: #fff;*display: inline-block;}
.detail-btn .addToOrder{margin-right:10px;}
.detail-btn .addToCart{background: #fff;color: #000;}
.detail-like span{padding: 4px 12px;border: 1px solid #FF2D54;border-radius: 50px;position: relative;cursor: pointer;}
.detail-like i{position: absolute;width: 13px;height: 13px;background: url("../images/detail/like.gif") no-repeat; top: 6px;*top:11px;}
.detail-like .like-text{border: none;color: #FF2D54;padding-left:20px}
.detail-like .current i{background-position: 0 -13px;}
.detail-like .current .like-text{color: #000;}
/*end detail*/
/*order-manage*/
.order-manage{margin-bottom: 50px;}
 .nav-list{float:left;width: 140px;padding: 15px;border: 1px solid #cccccc;text-align: center;}
 .nav-list dl{margin-bottom: 20px;}
 .nav-list .my-account{margin-bottom: 0;}
 .nav-list dt{padding-bottom: 12px;border-bottom: 1px solid #cccccc;font-size: 14px;font-weight: 700;  }
 .nav-list dd{height: 34px; line-height: 34px;}
.nav-list .current a {color:#FF2D54;}
.order-manage-inner .all-order-list,.address-manage-inner .address-form,.address-list{float: right;width: 990px;}
.order-manage-inner .all-order-list .order-status{height:45px;border-bottom: 1px solid #cccccc; }
.order-manage-inner .all-order-list .order-status h2{font-weight: normal;font-size: 14px;height: 45px;line-height: 45px;}
.all-order-list .order-status ul{height: 43px;margin-left: 23px;}
.all-order-list .order-status li{float: left;height:43px;line-height:43px;margin-right: 30px;}
.all-order-list .order-status a{float:left;padding: 0 13px;font-size: 14px;}
.all-order-list .order-status .current a{border-bottom: 2px solid #FF2D54;color: #FF2D54;}
.order-manage-inner .all-order-list .refund-order-info{padding: 20px 0 30px 50px; border-bottom: 1px dashed #cccccc;}
.order-manage-inner .all-order-list .refund-order-info h3{padding-bottom: 10px;}
.order-manage-inner .all-order-list .refund-order-info ul{padding-left: 20px;}
.order-manage-inner .all-order-list .refund-order-info li{padding-bottom: 10px;line-height: 18px;}
.all-order-list .order-list table{width:988px;text-align: center;border-collapse: collapse;margin-bottom: 20px;}
.all-order-list .order-list th,.all-order-list .order-list td{vertical-align: middle;}
.all-order-list .order-list thead th{height: 44px;}
.all-order-list .order-list .order-hd{height:35px; background: #f7f7f7;border: none;}
.all-order-list .order-list tbody td{border: 1px solid #e5e5e5;}
.all-order-list .order-list .order-hd td{border: none;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.all-order-list .order-list tbody .product-img,.all-order-list .order-list tbody .product-name,
.all-order-list .order-list tbody .product-size{border-left: none;border-right: none;}
.all-order-list .order-list tbody .product-img,.all-order-list .order-list .order-hd .order-hd-first{border-left:1px solid #fff; }
.all-order-list .order-list tbody .control,.all-order-list .order-list .order-hd .order-hd-last{border-right: 1px solid #fff;}
.all-order-list .order-list .space-row{height: 15px;border: none;}
.all-order-list .order-list .space-row td{border: none;}
.all-order-list .order-list .hover .space-row{border:none;}
.all-order-list .order-list .hover .order-hd td{border-top: 1px solid #b7b7b7;}
.all-order-list .order-list .hover .order-hd-first,.all-order-list .order-list .hover .product-img{border-left: 1px solid #b7b7b7;}
.all-order-list .order-list .hover .order-hd-last,.all-order-list .order-list .hover .control{border-right: 1px solid #b7b7b7;}
.all-order-list .order-list .hover .last td,.all-order-list .order-list .hover .product-price,
.all-order-list .order-list .hover .order-detail,.all-order-list .order-list .hover .control{border-bottom: 1px solid #b7b7b7;}
.all-order-list .order-list p{line-height: 34px;}
.all-order-list .order-list span{cursor: pointer;}
.all-order-list .order-list .not-pay{color: #FF2D54;}
.all-order-list .order-list .pay{padding: 8px 14px;background: #FF2D54;color: #fff;}
.all-order-list .order-list .confirm,.all-order-list .order-list .comment,.all-order-list .refund .cancel{padding: 8px 14px;background: #000;color: #fff;}
.all-order-list .order-page{padding-left:700px;}
.all-order-list .order-page li{float: left;margin-right: 15px;}

.all-order-list .refund .order-number{color: #FF2D54}
.all-order-list .refund-order-detail h3,.all-order-list .refund-order-content h3{padding: 20px 0 10px 50px;}
.all-order-list .refund-order-detail table{width: 900px;margin: 0 auto;}
.all-order-list .refund-order-detail tbody td{border-left: none;border-right: none;}
.all-order-list .refund-order-detail tfoot td{padding: 8px 0;}
.all-order-list .refund-order-detail .refund-price,.all-order-list .refund-order-detail .refund-title{font-weight: 700;}
.all-order-list .refund-order-content textarea{display:block;width: 900px;height: 200px;margin: 0 auto 30px;}
.all-order-list .refund-order-content .submit-btn{display: block;padding: 20px 30px;background: #000;color: #fff;text-align: center;
    margin: 0 auto;border: none;cursor: pointer;
}
.cancel-order p{text-align: center;padding: 10px 0;font-weight: 700;}
.cancel-order .check-box{text-align: left;margin-left: 180px;}
.cancel-order .tip-msg{color: red;}
 /*end order-manage*/
/*order-detail*/
.order-detail{margin-bottom: 50px;}
.order-detail-inner .nav-list{float:left;width: 140px;padding: 15px;border: 1px solid #cccccc;text-align: center;}
.order-detail-inner .nav-list dl{margin-bottom: 20px;}
.order-detail-inner .nav-list .my-account{margin-bottom: 0;}
.order-detail-inner .nav-list dt{padding-bottom: 12px;border-bottom: 1px solid #cccccc;font-size: 14px;font-weight: 700;  }
.order-detail-inner .nav-list dd{height: 34px; line-height: 34px;}
.order-detail-inner .nav-list .current a{color:#FF2D54;}
.order-detail-list,.user-info-list,.account-safe-list,.phoneValidate-list,.updatePw-list,.validateEmail-list,.likeProduct-list,.focusDesigner-list{float: right;width: 988px;}
.order-detail-list h2,.address-manage-inner h2,.address-list h2,.user-info-list h2,.account-safe-list h2,.phoneValidate-list h2,
.updatePw h2,.validateEmail-list h2,.likeProduct-list h2,.focusDesigner-list h2
{font-weight: normal;font-size: 14px;height: 45px;line-height: 45px;border-bottom: 1px solid #ccc;}
.order-detail-list .order-item,.address-manage-inner .address-form-inner{padding-left: 30px;margin-bottom: 20px;}
.order-detail-list .order-item h3,.address-manage-inner h3{height: 30px;line-height: 30px;}
.order-detail-list .order-profile-content,.order-detail-list .order-track table{padding-left: 25px;}
.order-detail-list .order-profile-content span{margin-right: 30px;}
.order-detail-list .order-profile-content b{font-weight: normal;}
.order-detail-list .order-profile-content p{line-height: 32px;height: 32px;border-bottom: 1px dashed #ccc;padding: 6px 0;}
.order-detail-list .order-profile-content .address{border-bottom: 1px dashed #ccc;}
.order-detail-list .order-profile-content .address p,.order-detail-list .order-profile-content .pay{border: none;}
.order-detail-list .order-track table{width: 100%;text-align: center;}
.order-detail-list .order-track table th,.order-detail-list .order-track table td{font-weight: normal;padding: 6px 0;}
.order-detail-list .order-item-list table{width: 100%;text-align: center;margin-left:25px;}
.order-detail-list .order-item-list table th,.order-detail-list .order-item-list table td{border-bottom: 1px solid #ccc;
    padding: 8px 0;
}
.order-detail-list .order-item-list .total{width:410px;margin-left:600px;text-align: center;}
.order-detail-list .order-item-list .total td{border:none;}
.order-detail-list .back{text-align: center;}
.order-detail-list .back a{padding: 8px 50px;height:30px;line-height:30px;background: #000;color: #fff;}
.refund-order-content .refund-order-status{padding: 10px 0 0 25px;}
.refund-order-content .refund-order-reason{padding: 10px 0;}
.refund-order-content .refund-order-reason span,.refund-order-content .refund-order-reason p{float: left;padding: 0;}
.refund-order-content .refund-order-reason span{height: 100px;}
.refund-order-content .refund-order-reason p{width:820px;border: none;line-height: 180%;height: auto;}
.refund-order-content .order-number{color: #FF2D54;}
/*end order-detail*/
/*order comment*/
.order-comment{margin-bottom: 50px;}
.order-comment-container{width: 100%;text-align: center;}
.order-comment-container th,.order-comment-container td{border-bottom: 1px solid #ccc;}
.order-comment-container .comment-box {position: relative;width: 200px;}
.order-comment-container .comment-box .not-comment{color: #FF2D54;cursor: pointer;}
.order-comment-container .comment-box {position: relative;}
.order-comment-container .comment-box .arc{position: absolute;bottom: -1px;width: 24px;height: 16px;
    background: url("../images/comment-arc.gif") no-repeat;left: 50%;margin-left: -12px;display: none;
}
.order-comment-container .current .comment-box .arc{display: block;}
.order-comment-container .add-comment{text-align: left;}
.order-comment-container .add-comment div{height: 74px;position: relative;}
.order-comment-container .add-comment .label{float: left;margin-right: 20px;line-height: 74px;}
.order-comment-container .select-comment label{float: left;margin: 27px 30px 0 0;}
.order-comment-container .select-comment input{margin-right: 4px;vertical-align: middle;}
.order-comment-container .select-comment .select-info{position: absolute;top: 22px;background: #fdf2f4;padding: 4px 8px;
    border: 1px solid #FF2D54;
}
.order-comment-container .comment-box .comment-con{position: absolute;padding: 10px;border: 1px solid #FF2D54;width: 400px;
    right: 0;min-height: 100px;background:#fdf2f4;z-index: 100;display: none;
}
.order-comment-container .comment-box .showComment{cursor: pointer;}
.order-comment-container .comment-box .comment-con ul{width: 100%;height: 100%;}
.order-comment-container .comment-box .comment-con li{display: block;width: 100%;text-align: left;}
.order-comment-container .add-comment .comment-textarea{height: 206px;margin-bottom: 30px;}
.order-comment-container .comment-textarea textarea{float: left;margin: 10px 10px 0 0;width: 648px;height: 178px;border: 1px solid #cacaca;
    padding: 8px;font-family: "Microsoft Yahei", STHeiti;color:#4a4947;
}
.order-comment-container .comment-textarea .text-limit,.order-comment-container .comment-textarea .content-info{position: absolute;bottom: 10px;left: 600px;}
.order-comment-container .comment-textarea .limit{color: #FF2D54;}
.order-comment-container .comment-textarea .content-info{left: 750px;background: #fdf2f4;padding: 4px 8px;  border: 1px solid #FF2D54;}
.order-comment-container .comment-confirm{padding-left: 54px;}
.order-comment-container .comment-submit{padding: 10px 30px;background: #000;color: #fff;margin-right: 20px;cursor: pointer;}
.order-comment-container .comment-confirm input{margin-right: 4px;vertical-align: middle;}

/*end order comment*/
/*designer-list*/
.designer-list{margin-bottom: 100px;}
.designer-list-title{padding:32px 0;text-align: center;}
.designer-list-title h2{font-weight: normal;font-size: 18px;margin-bottom: 7px;}
.designer-list .designer-list-con li,.designer-list-recom li{float:left;width: 289px;margin: 0 5px 40px;overflow: hidden;-moz-transition:.3s linear;-webkit-transition:.3s linear;-o-transition:.3s linear;transition:.3s linear;}
.designer-list .designer-list-con li:hover,.designer-list-recom li:hover{box-shadow: 4px 4px 20px #b4b2b2;}
.designer-list-title h3{font-weight: normal;font-size: 12px;}
.designer-list .designer-list-con img{display: block;}
.designer-list .designer-list-con .designer-img{margin-bottom: 2px;}
.designer-list .designer-list-con p,.not-found-404 .designer-list-recom p{background: #f1f3f5;padding:5px 0 25px 0;text-align: center;}
.designer-list .designer-list-con .more{width:208px;height:36px;border: 1px solid #838383;line-height: 36px;text-align: center;
    color: #838383;background: #fff;padding: 0;margin-left: auto;margin-right: auto;cursor: pointer;
}
/*end designer-list*/
/*designer-brand*/
.designer-brand{margin-bottom: 100px;}
.designer-brand-inner .top-con{height: 370px;overflow: hidden;margin-bottom: 20px;}
.designer-brand-inner .top-con img{ float: left;}
.designer-brand-inner .designer-con{overflow: hidden; float:left;border: 1px solid #838383;height: 236px;margin-left: -76px;
    width: 700px;padding: 30px 30px 30px 105px;margin-top: 40px;
}
.designer-brand-inner .designer-con h2{padding: 10px 0 30px 0;}
.designer-brand-inner .designer-con h2 a{font-weight: normal;margin-left: 30px;padding: 5px 10px 5px 30px;font-size: 12px; border: 1px solid #838383;}
.designer-brand-inner .designer-con p{text-indent: 22px;font-size: 14px;margin-bottom: 20px;line-height: 180%;}
.designer-brand-inner .start-fashion h3,.designer-brand-inner .ready-online h3,.designer-brand-inner .hot-sale h3{font-weight: normal;padding: 30px 0;}
.designer-brand-inner .start-fashion li,.designer-brand-inner .ready-online li,.designer-brand-inner .hot-sale li{width: 283px;height: 462px;overflow: hidden;position: relative;margin: 0 8px 40px;cursor: pointer;float: left;
    -moz-transition:.3s linear;-webkit-transition:.3s linear;-o-transition:.3s linear;transition:.3s linear;
}
.designer-brand-inner .start-fashion li:hover,.designer-brand-inner .ready-online li:hover,.designer-brand-inner .hot-sale li:hover{box-shadow: 4px 4px 20px #b4b2b2;}
.designer-brand-inner .start-fashion li .cover,.designer-brand-inner .ready-online li .cover,.designer-brand-inner .hot-sale li .cover{position: absolute;width:100%;top: 110%;}
.designer-brand-inner .start-fashion a:hover,.designer-brand-inner .ready-online a:hover,.designer-brand-inner .hot-sale a:hover{text-decoration: none;}
.designer-brand-inner .start-fashion .like,.designer-brand-inner .ready-online .like,.designer-brand-inner .hot-sale .like{padding: 3px 20px 3px 30px;border: 1px solid #FF2D54;border-radius: 50px;margin:0 20px 0 40px;}
/*.designer-brand-inner .start-fashion .buy,.designer-brand-inner .hot-sale .buy{padding: 4px 22px;background: #000000;color: #fff;border-radius: 50px;}*/
.designer-brand-inner .start-fashion .info,.designer-brand-inner .ready-online .info,.designer-brand-inner .hot-sale .info{height: 60px;background: #000;opacity: .6;margin-top: 61px;}
.designer-brand-inner .start-fashion .info p,.designer-brand-inner .ready-online .info p,.designer-brand-inner .hot-sale .info p{color: #fff;text-align: center;padding: 6px 0;}
.designer-brand-inner .ready-online .like{margin-left: 96px}
.designer-brand-inner .ready-online .info p,.designer-brand-inner .hot-sale .info p{padding-top: 20px;}
/*end designer-brand */
/*address-manage*/
.address-manage{margin-bottom: 100px;}
.address-form-inner h3{padding-top: 20px;}
.address-form-inner .add-form,.i-dialog .update-form,.i-dialog .add-form{margin-top: 20px;}
.address-manage-inner .add-form b,.i-dialog .update-form b,.i-dialog .add-form b{color: #FF2D54;}
.address-manage-inner .form-item,.i-dialog .update-form .form-item,.i-dialog .add-form .form-item,.user-form .form-item{padding: 6px 0;height: 34px;}
.address-manage-inner .add-form label,.i-dialog .update-form label,.i-dialog .add-form label,.user-form label{float: left;line-height: 34px;width: 100px;text-align: right;padding-right: 10px;
    font-size:12px;}
.address-manage-inner .text,.i-dialog .text,.user-form .text{padding: 5px 4px;height: 22px;line-height: 22px;border: 1px solid #dbdbda;margin-right: 10px;
    background: #fcfcfc;width: 290px;
}
.address-manage-inner .add-form .select,.i-dialog .update-form .select,.i-dialog .add-form .select,.user-form .select{background:#fcfcfc;padding: 7px 13px;vertical-align: middle;border: 1px solid #dbdbda;}
.address-manage-inner .add-form .location,.i-dialog .update-form .location,.i-dialog .add-form .location{width: 380px;}
.address-manage-inner .add-form .submit{margin-top: 10px;height: 100px;}
.address-manage-inner .add-address-btn,.update-form .update-btn,.i-dialog .add-form .add-address-btn{padding: 20px 50px;background: #000;color: #fff;border: none;margin-left: 110px;
    cursor: pointer;
}
.address-manage-inner .add-address-btn:hover{color: #FF2D54;}
.address-manage-inner .form-item .errormsg,.i-dialog .update-form .errormsg,.i-dialog .add-form .errormsg{color: #FF2D54;margin-left: 10px;}
.address-list ul{margin-top: 30px;}
.address-list li{margin-right: 20px;margin-bottom: 20px;}
.i-dialog .update-form .form-item,.i-dialog .add-form .form-item{margin-bottom: 10px;}
.i-dialog .update-form .errormsg,.i-dialog .add-form .errormsg{font-size: 12px;margin-left: 110px;padding: 2px 0;}
.update-form .update-btn{margin-left: 110px;}
/*end address-manage*/
/*user-info*/
.user-info{margin-bottom: 50px;}
.user-form p{line-height: 34px;height: 34px;}
.user-form .phone p{line-height: 34px;height: 34px;width: 100px; float: left;}
.user-form .phone a{ float: left;line-height: 34px;height: 34px;}
.user-form .item{width: 50px;}
.user-form .item input{  vertical-align: middle;margin: -3px 8px 0 0;}
.user-form .submit-btn{padding:10px 20px;background: #000;border: none;color: #fff;margin-left: 110px;cursor: pointer;}
.user-form .errormsg{color: #FF2D54;margin-left: 10px;}
/*end user-info*/
/*account-safe*/
.account-safe{margin-bottom: 100px;}
.account-safe-con .item{padding: 30px 0;border-bottom: 1px dashed #d9d9d9;height: 34px;line-height: 34px;text-align: center}
.account-safe-con span,.account-safe-con p{float: left;}
.account-safe-con .item span{width: 50px;}
.account-safe-con .item .item-detail{width: 150px;font-weight: 700;}
.account-safe-con .item .item-info{width: 500px;}
.account-safe-con .item .btn-wrap{width: 200px;text-align: center;}
.account-safe-con .off p{color: #ccc;}
.account-safe-con .off .btn{padding: 7px 20px; background: #FF2D54;color: #fff;}
.account-safe-con span{width: 21px;height: 21px;background: url("../images/account-safe.png") no-repeat 30px -21px;padding-left: 50px;}
.account-safe-con .off span{background-position: 30px 0;}
/*end account-safe*/
/*user-phoneValidate*/
.phoneValidate,.updatePw{margin-bottom: 100px;}
.phoneValidate-con{margin-top: 50px;}
.phoneValidate-con  .step-bg{width: 418px;height: 20px;background: url("../images/phoneValidate.gif") no-repeat; margin:  0 auto;}
.phoneValidate .second .step-bg,.updatePw .second .step-bg,.validateEmail-list .second .step-bg{background-position: 0 -20px;}
.phoneValidate .third .step-bg,.updatePw .third .step-bg,.validateEmail-list .third .step-bg{background-position: 0 -40px;}
.phoneValidate-con ul{width: 470px;margin:10px auto 0;}
.phoneValidate-con li{float: left;margin-right: 135px;height: 34px;line-height: 34px;font-size: 14px;}
.phoneValidate-con .email li{margin-right: 154px;}
.phoneValidate-con .highLight{color: #FF2D54;}
.phoneValidate-con .last,.phoneValidate-con .email .last{margin-right: 0;}
.phoneValidate-list form,.updatePw-list form,.validateEmail-list form{width: 400px;margin: 0 auto;}
.phoneValidate-list form p,.updatePw-list form p,.validateEmail-list form p{text-align: center;padding: 20px 0;}
.phoneValidate-list .form-item,.updatePw-list .form-item,.validateEmail-list .form-item{padding-left: 90px;}
.phoneValidate-list form .form-text,.updatePw-list form .form-text,.validateEmail-list form .form-text{width: 70px;}
.phoneValidate-list .get-code-btn,.updatePw-list .get-code-btn,.validateEmail-list .get-code-btn{background:#000;height:34px;width:90px;text-align: center;
    border: 1px solid #ccc;margin-left: 10px;color: #fff;cursor: pointer;}
.phoneValidate-list .next-btn,.updatePw-list .next-btn,.validateEmail-list .next-btn{background:#000;height:34px;width:90px;text-align: center;
    border: 1px solid #ccc;margin-left: 143px;color: #fff;cursor: pointer}
.phoneValidate-list .errormsg,.updatePw-list .errormsg{padding-left: 108px;}
.validateEmail-list .errormsg{padding-left: 120px;}
.phoneValidate-list .phoneValidate-sec,.updatePw-list .updatePw-sec,.validateEmail-list .validateEmail-sec{margin-top: 30px;}
.phoneValidate-list .phoneValidate-sec .form-text,.updatePw-list .updatePw-sec .form-text,.validateEmail-list .validateEmail-sec .form-text{width: 150px;}
.phoneValidate-list .phoneValidate-sec label,.updatePw-list .updatePw-sec label,.validateEmail-list .validateEmail-sec label{float: left;width: 120px;text-align: right;height: 34px;line-height: 34px;}
.phoneValidate-list .phoneValidate-sec  .form-item,.updatePw-list .updatePw-sec .form-item,.validateEmail-list .validateEmail-sec .form-item{padding-left: 0;}
.phoneValidate-list .phoneValidate-sec .next-btn,.updatePw-list .updatePw-sec .next-btn{margin-left: 100px;}
.phoneValidate-list .phoneValidate-sec .errormsg,.updatePw-list .updatePw-sec .errormsg{padding-left: 120px;}
.phoneValidate-list .phoneValidate-thr p,.updatePw-list .updatePw-thr p{text-align: center;padding: 30px 0;}
.phoneValidate-list .phoneValidate-thr a,.updatePw-list .updatePw-thr a,.validateEmail-list .send-email,.validateEmail-list .validateEmail-thr a{padding: 8px 15px;background: #000000;color: #fff;margin-left: 465px;}
.phoneValidate-list .phoneValidate-thr a:hover,.updatePw-list .updatePw-thr a:hover,.validateEmail-list .send-email:hover,.validateEmail-list .validateEmail-thr a:hover{color: #FF2D54;text-decoration: none;}
.validateEmail-list p{text-align: center;padding: 20px 0;}
.validateEmail-list .send-email{margin-left: 440px;}
/*end user-phoneValidate*/
/*likeProduct*/
.likeProduct,.focusDesigner{margin-bottom: 100px;}
.likeProduct-list .likeProduct-box,.focusDesigner-list .focusDesigner-box{margin-top: 30px;}
.likeProduct-list .likeProduct-box li,.focusDesigner-list .focusDesigner-box li{float: left;position: relative;width: 235px;margin: 0 6px 35px;cursor: pointer;
    -moz-transition:.3s linear;-webkit-transition:.3s linear;-o-transition:.3s linear;transition:.3s linear;}
.likeProduct-list .likeProduct-box li:hover,.focusDesigner-list .focusDesigner-box li:hover{box-shadow: 4px 4px 20px #b4b2b2;}
.likeProduct-list .likeProduct-box  a,.focusDesigner-list .focusDesigner-box .imglink{display:block;width: 235px;height: 325px;}
.likeProduct-list .likeProduct-box  img,.focusDesigner-list .focusDesigner-box img{display: block;}
.likeProduct-list .likeProduct-box  .title,.focusDesigner-list .focusDesigner-box .title{overflow:hidden;height: 50px;line-height: 50px;text-align: center;background: #f1f3f5;}
.likeProduct-list .likeProduct-box  .current .del,.focusDesigner-list .focusDesigner-box .current .del{position: absolute;width: 35px;height: 35px;background: url("../images/like-del.gif") no-repeat;
    right: 0;top:0;}
.focusDesigner-list .focusDesigner-box .current .home{position: absolute;width: 35px;height: 35px;background: url("../images/like-design-home.gif") no-repeat;right: 45px;top: 0;}
.likeProduct-list .likeProduct-page ul,.focusDesigner-list .focusDesigner-page{margin-left: 720px;}
.likeProduct-list .likeProduct-page li,.focusDesigner-list .focusDesigner-page li{float: left;margin-right: 15px;}
/*end likeProduct*/
/*footer*/
.footer{width: 100%;background: #f1f3f5;}
.footer-inner dl{float: left;margin-right: 120px;padding:30px 0;}
.footer-inner dt{padding-left: 22px;margin-bottom:20px;background: url("../images/footer-ico.gif") no-repeat 0 -2px;
    font-size: 14px;font-weight: 700;
}
.footer-inner .help dt{background-position: 0 -23px;}
.footer-inner .sevice-center dt{background-position: 0 -46px;}
.footer-inner .designer-in dt{background-position: 0 -72px;}
.footer-inner dd{height: 25px;line-height: 25px;color: #cccccc;}
.footer-inner .social-ico{margin-top: 12px;}
.footer-inner .social-ico a{display: inline-block;width:32px;height: 32px;text-indent: -99999px;
    background: url("../images/footer-social-ico.gif") no-repeat;margin-right: 10px;
}
.footer-inner .social-ico .twitter{background-position:-44px 0; }
.footer-inner .code-img{float: right;margin-top:60px;width: 110px;text-align: center;}
.footer-inner .code-img a{display: block;margin-bottom: 4px;}
.footer .copy-right{text-align: center;padding: 30px 0;}
/*end footer*/
.sider-bar{
    position: fixed;width:62px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;border-top: 6px solid #FF2D54;
    bottom: 100px;left: 50%;margin-left: 620px;
}
.sider-bar li{width: 62px;height: 63px;border-bottom: 1px solid #ccc;background: url("../images/sider-bar.gif") no-repeat;}
.sider-bar .cart{position: relative;}
.sider-bar .quantity{position: absolute;top:8px;right: 5px;background: #FF2D54;border-radius: 8px;padding: 0 8px;color: #fff;}
.sider-bar .like-product{background-position: 0 -63px;}
.sider-bar .like-designer{background-position: 0 -126px;}
.sider-bar .go-top{border-bottom: none;background-position: 0 -189px;}
.sider-bar a,.sider-bar #cart-quantity-btn{float: left;width: 62px;height: 63px;cursor:pointer;}
/* 提示信息 */
.com_tip{ border: 1px solid #FF2D54; padding: 2px 6px; line-height: 18px; background: #fef6f1; font-size: 12px; z-index: 9999 }
.com_tip a{color:#FF2D54;}

.not-found-inner img{display: block;width: 387px;margin: 125px auto 30px;}
.server-error-inner img{width: 360px;}
.not-found-inner p{text-align: center;font-size: 14px;font-weight: 700;}
.not-found-404 .designer-list-recom{padding-top: 110px;}
.not-found-404 .designer-list-recom a{display: block;}
.not-found-404 .designer-list-recom img{display: block;}
